<header class="headerWrap"> <!--D: bg-color02 클래스 : 뒤에 색상 들어갈 경우  -->
	<div class="headerLeft">

		<!--D: 이전버튼-->
		<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>

		<!--D: User -->
		<!-- <a href="javascript:void(0)" class="user"><img src="/resources/images/header/user.png" alt="사용자이름"><span>김예가람</span></a> -->

		<!--D: 예가람로고 -->
		<!-- <a href="javascript:void(0)" class="logoImg"><img src="/resources/images/header/logo.png" alt="예가람저축은행로고" /></a> -->

	</div>
	<div class="headerCenter">
		<h2 class="text"><span>TEXT</span></h2> <!--D: TEXT -->
	</div>
	<div class="headerRight">
		
		<!--D: 홈버튼 -->
		<a href="javascript:void(0)" class="btn btn-home"><img src="/resources/images/header/btn_home.png" alt="홈"></a>

		<!--D: 전체메뉴버튼 -->
		<a href="javascript:void(0)" class="btn btn-menu "><img  src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>

		<!--D: 닫기버튼 -->
		<!-- <a href="javascript:void(0)" class="btn btn-menu-close"><img  src="/resources/images/header/btn_close.png" alt="닫기버튼"></a> -->

		<!--D: 알림버튼 -->
		<!-- <a href="javascript:void(0)" class="btn btn-notify"><img src="/resources/images/header/btn_notify.png" alt="알림"><em class="count-flag"><span>3</span></em></a> -->

		<!--D: 좋아요버튼 -->
		<!-- <a href="javascript:void(0)" class="btn btn-like"><img src="/resources/images/header/btn_like.png" alt="좋아요"><em class="count-flag">3</em></a> -->

		<!--D: 관심상품버튼 -->
		<!-- <a href="javascript:void(0)" class="btn btn-interest"><img src="/resources/images/header/btn_interest.png" alt="관심상품"><em class="count-flag">3</em></a> -->

	</div>
</header>

