<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803151108"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803151108" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="qckAcnoOpenPrc3"
	data-serviceCd="qckAcnoOpenPrc3.frm" 
	data-serverTime="20230803151108"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>
<script type="text/javascript">
var PageFunc = function() {
	
	var _back = function() { // 뒤로가기
		history.back();
	}
	
	// 고객등록
	var _proc = function() {
		
		// 고객정보수집 안내팝업 노출
		closePopupUp("readyCsInfo");
		
		doAction("ACNO_OPEN_PRC", $("#frm"), function(resJson) {
			console.log(resJson);
			if(resJson.API_RS_MSG === "SUCCESS") {
				_proc2();
			}else{
				biz.alert(resJson.API_RS_MSG, "확인", function(){goMainPage();});
			}
		}); 
		
	}
	
	// 추천인 등록
	var _proc2 = function() {
		// TODO 추천인 사번 존재할 경우, 추천인 등록
		if(UtilFunc.isEmpty($("#NECT_SGSR_NO").val()) == false) {
			
			var sgstSrchForm = makeForm("sgstSrchForm");
			addFormData(sgstSrchForm, "txGbnCd", "R");	// 거래구분코드 P:조회 R:등록
			addFormData(sgstSrchForm, "NECT_SGSR_NO", $("#NECT_SGSR_NO").val());
			addFormData(sgstSrchForm, "PDCD", '');
			
			doAction("SGST_EMP_INQ", sgstSrchForm, function(resJson){
				if(resJson.API_RS_MSG === "SUCCESS") {
					doActionFrame("dep/prc/qckAcnoOpenPrc4"); //
				}
			});
		// 미존재시 다음 화면 이동
		} else {
			doActionFrame("dep/prc/qckAcnoOpenPrc4"); //
		}
	}
	
	/**************************
	* 실소유자 체크
	***************************/
	var _checkNext = function(el){
		
		if (typeof el != "undefined") {  
			elName = el.name;
			elValue = $("input:radio[name='"+elName +"']:checked").val();
			
			if (elName == "q1" && elValue == "N") {
				biz.alert('실소유자 여부를 확인해주세요<br/>실소유자가 아니라면 다음단계로 진행할 수 없어요', '확인', function(){				});
			} else if(elName == "q2" && elValue == "N") {
				biz.alert('현재거주지가 자택주소인지를 확인해주세요<br/>현재거주지가 자택주소가 아니라면 다음단계로 진행할 수 없어요', '확인', function(){				});
			} else if(elName == "q3" && elValue == "Y") {
				biz.alert('통장대여요청에 대해 확인해주세요<br/>통장대여요청을 받으셨다면 다음단계로 진행할 수 없어요', '확인', function(){				});
			} else if(elName == "q4" && elValue == "Y") {
				biz.alert('통장개설요청에 대해 확인해주세요<br/>통장대여요청을 받으셨다면 다음단계로 진행할 수 없어요', '확인', function(){				});
			} else if(elName == "q5" && elValue == "N") {
				biz.alert('차명거래금지에 대해 확인해주세요<br/>차명거래금지에 대해 이해해주셔야 다음단계로 진행해요', '확인', function(){				});
			} else if(elName == "q6" && elValue == "N") {
				biz.alert('통장양도불법성에 대해 확인해주세요<br/>통장양도불법성에 대해 이해해주셔야 다음단계로 진행해요', '확인', function(){				});
			}
			return false;
			
		} else {
               
			var a1 = $("input:radio[name='q1']:checked").val();
			var a2 = $("input:radio[name='q2']:checked").val();
			var a3 = $("input:radio[name='q3']:checked").val();
			var a4 = $("input:radio[name='q4']:checked").val();
			var a5 = $("input:radio[name='q5']:checked").val();
			var a6 = $("input:radio[name='q6']:checked").val();
			
			if(a1 == undefined || a2 == undefined || a3 == undefined || a4 == undefined || a5 == undefined || a6 == undefined){
				//TODO 해당 라디오 포커스
				biz.alert("모든 항목을 선택해주세요.");
				return false;
			}
			
			// 체크 여부 => 실소유자 : Y / 거주지 : Y / 통장대여요청 : N / 통장개설요청 : N / 차명거래금지 : Y / 통장양도불법성 : Y 아닌경우 초기화
			if(a1 == 'N' || a2 == 'N' || a3 == 'Y' || a4 == 'Y' || a5 == 'N' || a6 == 'N'){
				
				$("input:radio").prop("checked",false);
				
				return false;
			}
			
			if(a1 == 'Y' && a2 == 'Y' && a3 == 'N' && a4 == 'N' && a5 == 'Y' && a6 == 'Y'){
				// 고객정보수집 근거 안내 팝업 노출
				openPopupUp("readyCsInfo");
				return true;
			}
		}
		
	}
	
	var _cancel = function() { // 그만하기
		goMainPage();
	}
	
	var _validate = function() { // 유효성검증
		
		// TODO 
		return true;
	}
	
	
	return {
		back : _back,
		proc : _proc,
		cancel : _cancel,
		checkNext : _checkNext
	};
}();


$(document).ready(function(){
	

});

</script>
</head>
<body>
	<!-- header -->
	<header class="headerWrap">
		<div class="header">
			<a class="btn-back" onclick="PageFunc.back();"><span class="blind">이전페이지 이동하기</span></a>
			<h2><span>빠른계좌개설 고객의무확인</span></h2>
		</div>
		<div class="menu-wrap"></div>
	</header>
	<!-- //header -->
	
  <!-- s: contentsWrap -->
    <div class="contentsWrap">
    	<form id="frm" name="frm" method="post">
    	<input type="hidden" id="txGbnCd" name="txGbnCd" value="R">	<!-- 거래구분코드 P:전처리 R:고객등록  A:상품신청 C:개설완료처리 -->
    	<input type="hidden" id="MCN_IDNT_ID_NO"          name="MCN_IDNT_ID_NO" value="201812pocof1"/>	<!-- TODO 기기식별번호 -->
		<input type="hidden" id="INBN_ID_PRE_EXIS_YN"     name="INBN_ID_PRE_EXIS_YN" />     <!-- 고객조회:인터넷뱅킹ID기존재여부  -->
		<input type="hidden" id="LVTP_MNBD_DVCD"          name="LVTP_MNBD_DVCD" />          <!-- 고객조회:생계형주체구분코드  -->
		<input type="hidden" id="PRE_EXIS_DMNB_ACCO_CCNT" name="PRE_EXIS_DMNB_ACCO_CCNT" /> <!-- 고객조회:기존재요구불계좌건수  -->
		<input type="hidden" id="PRE_EXIS_DMNB_ACCO_1"    name="PRE_EXIS_DMNB_ACCO_1" />    <!-- 고객조회:기존재요구불계좌1  -->
		<input type="hidden" id="PRE_EXIS_DMNB_ACCO_2"    name="PRE_EXIS_DMNB_ACCO_2" />    <!-- 고객조회:기존재요구불계좌2  -->
		<input type="hidden" id="PRE_EXIS_DMNB_ACCO_3"    name="PRE_EXIS_DMNB_ACCO_3" />    <!-- 고객조회:기존재요구불계좌3 -->
		<input type="hidden" id="CUST_REG_PRGS_YN"        name="CUST_REG_PRGS_YN" value="Y" /> <!-- 고객등록진행여부 -->
		<input type="hidden" id="NECT_WTCH_ACNO_REG_YN"   name="NECT_WTCH_ACNO_REG_YN" />   <!-- 비대면상품신청:비대면출금계좌등록여부 -->
		<input type="hidden" name="NECT_SGSR_NO" id="NECT_SGSR_NO" class="inputReset" value="">	<!-- TODO 추천인사번 -->
		<!-- 20200907 직장주소 셋팅 -->
		<input type="hidden" id="WRST_ZPCD"               name="WRST_ZPCD" />               <!-- 고객등록:직장우편번호 -->
		<input type="hidden" id="WRST_BLDG_MNGNO"         name="WRST_BLDG_MNGNO" />         <!-- 고객등록:직장건물관리번호 -->
		<input type="hidden" id="WRST_BSIC_ADDR"          name="WRST_BSIC_ADDR" />          <!-- 고객등록:직장기본주소 -->
		<input type="hidden" id="WRST_REF_ITEM_NM"        name="WRST_REF_ITEM_NM" />        <!-- 고객등록:직장참조항목명 -->
		<input type="hidden" id="WRST_DTAD"               name="WRST_DTAD" />               <!-- 고객등록:직장상세주소 -->
		<!-- 20200922 온라인뱅킹 처리 추가 -->
		<input type="hidden" id="APPLY_DIVISION"      name="APPLY_DIVISION" />     <!-- 신청구분 -->
		<input type="hidden" id="CDD_RSDN_DVCD"      name="CDD_RSDN_DVCD" value="Y" />     <!-- 거주구분코드(CDD)(실 거주여부 - 무조건 "Y"만 가능) -->
		<input type="hidden" id="RL_OWNR_YN"      name="RL_OWNR_YN" value="Y"/>     <!-- 실제소유자여부(상품의 실제소유자여부(무조건 "Y"만 가능)) -->    	   
    	
    	
        <!-- s: contents -->
        <div class="contents">
            <div class="default-wrap"> <!-- [퍼블] .mt0 삭제 -->
                <div class="tit-wrap">
                    <p class="txt"><strong>금융사고 예방</strong>을 위해<br/><strong>아래사항의 확인</strong>이 필요해요</p>
                </div>

					<section class="terms-area">
						<div class="q-wrap">
							<p>가입하는 상품은 본인이 실소유자이신가요?</p>
							<ul>
								<li>
									<input type="radio" name="q1" id="q11" value="Y" onclick="PageFunc.checkNext(this)">
									<label for="q11" class="rd">예</label>
								</li>
								<li>
									<input type="radio" name="q1" id="q12" value="N" onclick="PageFunc.checkNext(this)">
									<label for="q12" class="rd">아니오</label>
								</li>
							</ul>
						</div>
					
						<div class="q-wrap">
							<p>자택주소는 현재 거주하는 장소인가요?</p>
							<ul>
								<li>
									<input type="radio" name="q2" id="q21" value="Y" onclick="PageFunc.checkNext(this)">
									<label for="q21" class="rd">예</label>
								</li>
								<li>
									<input type="radio" name="q2" id="q22" value="N" onclick="PageFunc.checkNext(this)">
									<label for="q22" class="rd">아니오</label>
								</li>
							</ul>
						</div>
					
						<div class="q-wrap">
							<p>타인에게서 통장 대여 요청을 받은 사실이 있으신가요?</p>
							<ul>
								<li>
									<input type="radio" name="q3" id="q31" value="Y" onclick="PageFunc.checkNext(this)">
									<label for="q31" class="rd">예</label>
								</li>
								<li>
									<input type="radio" name="q3" id="q32" value="N" onclick="PageFunc.checkNext(this)">
									<label for="q32" class="rd">아니오</label>
								</li>
							</ul>
							
							<!-- [퍼블] 마크업 변경 -->
							<p class="info-txt">통장/현금카드 등을 타인에게 양도하여 범죄에 이용되는 경우 미성년자 여부와 상관없이 민·형사상 책임을 질 수 있습니다</p>
							<!-- <ul class="list-bull mt10">
								<li>통장/현금카드 등을 타인에게 양도하여 범죄에 이용되는 경우 미성년자 여부와 상관없이 민·형사상 책임을 질 수 있습니다</li>
							</ul> -->
							<!-- // [퍼블] 마크업 변경 -->

						</div>
					
						<div class="q-wrap">
							<p>타인으로부터 신용등급상향, 대출 등의 목적으로 통장개설을 요청받은 사실이 있으신가요?</p>
							<ul>
								<li>
									<input type="radio" name="q4" id="q41" value="Y" onclick="PageFunc.checkNext(this)">
									<label for="q41" class="rd">예</label>
								</li>
								<li>
									<input type="radio" name="q4" id="q42" value="N" onclick="PageFunc.checkNext(this)">
									<label for="q42" class="rd">아니오</label>
								</li>
							</ul>
						</div>
					
						<div class="q-wrap">
							<p>아래의 차명거래 금지에 대해 충분히 이해하셨나요?</p>
							<dl class="list-bull bg-box"><!-- [퍼블] 태그 변경(ul==>dl), 클래스 변경 -->
								<!-- [퍼블] 수정 -->
								<dt>차명거래금지 설명 확인</dt>
								<dd>금융실명거래 및 비밀보장에 관한 법률 제3조 제3항에 따라 누구든지 불법재산의 은닉, 자금세탁행위, 공중협박자금조달행위 및 강제 집행의 면탈, 그 밖의 탈법행위를 목적으로 타인의 실명으로 금융거래를 하여서는 아니되며, 이를 위반 시 5년 이하의 징역 또는 8천만원  이하의 벌금에 처해질 수 있습니다</dd>
								<!-- // [퍼블] 수정 -->
							</dl><!-- [퍼블] 태그 변경(ul==>dl), 클래스 변경 -->
							<ul>
								<li>
									<input type="radio" name="q5" id="q51" value="Y" onclick="PageFunc.checkNext(this)">
									<label for="q51" class="rd">예</label>
								</li>
								<li>
									<input type="radio" name="q5" id="q52" value="N" onclick="PageFunc.checkNext(this)">
									<label for="q52" class="rd">아니오</label>
								</li>
							</ul>
						</div>
					
						<div class="q-wrap">
							<p>아래의 통장양도 불법성에 대해 충분히 이해하셨나요?</p>
							<dl class="list-bull bg-box"><!-- [퍼블] 태그 변경(ul==>dl), 클래스 변경 -->
								<!-- [퍼블] 수정 -->
								<dt>통장양도 불법성 안내 확인</dt>
								<dd>통장, 현금카드를 타인에게 양도하는 경우 손해배상책임을 부담할 수 있고 전자금융개설거래법에 의해 처벌받을 수 있습니다</dd>
								<!-- // [퍼블] 수정 -->
							</dl><!-- [퍼블] 태그 변경(ul==>dl) -->
							<ul>
								<li>
									<input type="radio" name="q6" id="q61" value="Y" onclick="PageFunc.checkNext(this)">
									<label for="q61" class="rd">예</label>
								</li>
								<li>
									<input type="radio" name="q6" id="q62" value="N" onclick="PageFunc.checkNext(this)">
									<label for="q62" class="rd">아니오</label>
								</li>
							</ul>
						</div>
					</section>

            </div>
        </div>
        
        
        <!-- //e: contents -->
        </form>
        
        <!-- s: btn-wrap -->
        <div class="fixed-btn-wrap">
			<div class="btn-wrap">
				<a href="#none" class="btn" onclick="PageFunc.checkNext();">다음</a>
			</div>
			<a href="#none" class="btn-txt" onclick="PageFunc.cancel();">그만하기</a>
		</div>
        <!-- //e: btn-wrap -->
    </div>
	<!-- //e: contentsWrap -->
    
	<!-- footer -->
	






<footer>
<!-- 푸터 타입별 정의 -->
</footer>

<!-- 업무공통 -->




<script type="text/javascript">
var biz = function() {
	
	var biz_states = {
	   zindex : 0,
	   keypadOpenFlag : false
	};
	
	var _makeId = function(srcId) {
		
		if (typeof(closeMenu) == 'function') closeMenu();
		progressBar(true);
		
		var id = "biz_" + Math.random().toString(32).substr(2);
		$("#biz_layer_area").append("<div id='"+id+"'></div>");
		$("#"+id).attr("class", $("#"+srcId).attr("class"));
		$("#"+id).append($("#"+srcId).html());
		if (biz_states.zindex > 0) {
			biz_states.zindex = biz_states.zindex+100;
			$("#"+id).css("z-index", biz_states.zindex);
		} else {
			biz_states.zindex = Number($("#"+id).css("z-index"));
		}
		return id;
	};
	
	/*
	 *	biz.alert("알림문구:필수", "버튼문구:선택 기본값'확인'", "다음실행펑션:선택");
	 */
	var _alert = function(alertText, btnText, nextFunc) {
		
		var id = _makeId("biz_alert"); 
		$("#"+id).find("[data-id=biz_alert_txt]").html(alertText); 
		if (typeof(btnText) == 'string') {
			$("#"+id).find("[data-id=biz_alert_btn]").html(btnText);
		} else {
			$("#"+id).find("[data-id=biz_alert_btn]").html('확인');
		}
		$("#"+id).find("[data-id=biz_alert_btn]").unbind();
		$("#"+id).find("[data-id=biz_alert_btn]").click(function() {
			closePopup(id);
			$("#"+id).html("");
			if (typeof(nextFunc) == 'function') nextFunc();
		});
		openPopup(id);
		progressBar(false);
	};

	/*
	 *	biz.confirm("컨펌문구:필수", "확인펑션", "거절펑션:선택", "확인버튼문구:선택", "거절버튼문구:선택");
	 */
	var _confirm = function(confirmText, confirmFunc, refuseFunc, confirmTxt, refuseTxt) {
		
		var id = _makeId("biz_confirm"); 
		
		$("#"+id).find("[data-id=biz_confirm_txt]").html(confirmText); 
		if (typeof (confirmTxt) == 'string') {
			$("#"+id).find("[data-id=biz_confirm_btn_one]").html(confirmTxt);
		} else {
			$("#"+id).find("[data-id=biz_confirm_btn_one]").html('확인');
		}
		$("#"+id).find("[data-id=biz_confirm_btn_one]").unbind();
		$("#"+id).find("[data-id=biz_confirm_btn_one]").click(function() {
			closePopup(id);
			$("#"+id).html("");
			$('body').removeClass('fix');
			confirmFunc();
		});
		
		if (typeof (refuseTxt) == 'string') {
			$("#"+id).find("[data-id=biz_confirm_btn_two]").html(refuseTxt);
		} else {
			$("#"+id).find("[data-id=biz_confirm_btn_two]").html('취소');
		}
		$("#"+id).find("[data-id=biz_confirm_btn_two]").unbind();
		$("#"+id).find("[data-id=biz_confirm_btn_two]").click(function() {
			closePopup(id);
			$("#"+id).html("");
			$('body').removeClass('fix');
			if (typeof (refuseFunc) == 'function') refuseFunc();
		});
		openPopup(id);
		$('body').addClass('fix');
		progressBar(false);
	};
	
	/*
	 * biz.select("코드명(타이틀)", "그룹코드:필수", 콜백펑션({CODE, NAME}));
	 */
	var _select = function(upperCodeName, upperCode, callbackFunc) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/code_select.frm"; 	// 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : upperCodeName
			,"upperCode" : upperCode
			,"LINK_ACT" : "CODE_SELECT"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id); 
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id)
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	/*
	 * biz.certSelect("코드명(타이틀)", "그룹코드:필수", 콜백펑션({CODE, NAME}));
	 */
	var _certSelect = function(upperCodeName, upperCode, callbackFunc) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/cert_code_select.frm"; 	// 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : upperCodeName
			,"upperCode" : upperCode
			,"LINK_ACT" : "CODE_SELECT"
		};
  
		$("#"+id).load(url, loadParam, function(data1) {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id); 
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id)
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	
	
	/*
	 * biz.input("콜백펑션(입력값)");
	 */
	var _input = function(callbackFunc, title) {
		
		var id = _makeId("biz_layer"); 
		var url = "/common/layer/input.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : title
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};

	/*
	 * biz.ocr("콜백펑션(OCR결과)");
	 */
	var _ocrAuth = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/ocr_auth.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" :"신분증 확인"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data, imgData) {
				callback(data, imgData);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	var _addrSelect = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/addr_select.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : "주소검색"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	var _bank = function(callbackFunc) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/bank.frm"; 	// 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : "은행선택"
			,"upperCode" : "C008300000"
			,"LINK_ACT" : "CODE_SELECT"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	var _jobSelect = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/job_select.frm"; 	// 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : "직업선택"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	var _selectYn = function(callbackFunc, title, btnNmY, btnNmN) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/select_yn.frm"; 	// 호출 layer url
		var callback = callbackFunc;
		
		if (typeof (title) == 'undefined' || typeof (title) != 'string') title = "선택하세요";
		if (typeof (btnNmY) == 'undefined' || typeof (btnNmY) != 'string') btnNmY = "예";
		if (typeof (btnNmN) == 'undefined' || typeof (btnNmN) != 'string') btnNmN = "아니오";
		
		
		var loadParam = {
			 "id" : id
			,"title" : title
			,"btnNmY" : btnNmY
			,"btnNmN" : btnNmN
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	var _mydata = function(callbackFunc) {
		var id = _makeId("biz_layer"); 
		var url = "/common/layer/mydata.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" :"마이데이터"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	var _mydataTaxfree = function(callbackFunc) {
		var id = _makeId("biz_layer"); 
		var url = "/common/layer/mydata_taxfree.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" :"마이데이터"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	var _amt = function() {
		
	};
	
	// 약관동의 
	var _terms = function(terms_cd, checkbox) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/terms.frm"; // 호출 layer url
		var procBtn = $("#procBtn");
		var loadParam = {
			 "id" : id
			,"terms_cd" : terms_cd
		};
		
		//체크 시에 약관팝업 호출
		if($(checkbox).is(":checked")){
			$("#"+id).load(url, loadParam, function() {
				// 완료 시 콜백 처리
				eval(id + "_Func").callback = function(data) {
					$(checkbox).prop('checked', data);
					if (procBtn.hasClass("disabled")) procBtn.removeClass("disabled");
					
					closePopup(id);
					$("#"+id).html("");
					$('body').removeClass('fix');
				};
				// 닫기버튼 이벤트 처리
				eval(id + "_Func").close = function() {
					//전체 동의 체크박스
					if($(checkbox).attr("id") == "allChk01"){
						//하위 체크박스 모두 해제
						$(checkbox).parents(".terms-area").find("input").prop("checked",false);
					} else {
						$(checkbox).prop('checked', false);
						$("#allChk01").prop('checked', false); //TODO 필수값일 경우에만 해제하는 요건 나오면 validChk 클래스확인조건추가
					}
					if (!procBtn.hasClass("disabled")) procBtn.addClass("disabled");
					
					closePopup(id);
					$("#"+id).html("");
					$('body').removeClass('fix');
				};
				// 취소버튼 이벤트 처리
				eval(id + "_Func").cancel = function() {
					closePopup(id);
					$("#"+id).html("");
					$('body').removeClass('fix');
				};
				openPopup(id);
				$('body').addClass('fix');
				progressBar(false);
			});
		}
	};
	
	// 본인인증
	var _userAuth = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/user_auth.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : "본인인증"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	/*
	 *	biz.keypad(키패드타이틀:필수, 자릿수:필수, 콜백펑션:필수);
	 */ 
	var _keypad = function(title, len, callbackFunc) {
		 
		 if (!biz_states.keypadOpenFlag) {
			 
			biz_states.keypadOpenFlag = true;
			 
			var id = _makeId("biz_layer_full");	 
			var url = "/common/layer/keypad.frm"; // 호출 layer url
			var callback = callbackFunc;
			var loadParam = {
				 "id" : id
				,"title" : title
				,"len" : len
			}; 

			$("#"+id).load(url, loadParam, function() {
				// 완료 시 콜백 처리
				eval(id + "_Func").callback = function(data) {
					nshc.close();
					callback(data);
					closePopup(id); 
					$("#"+id).html("");
					$('body').removeClass('fix');
					biz_states.keypadOpenFlag = false;
				};
				// 닫기버튼 이벤트 처리
				eval(id + "_Func").close = function() {
					nshc.close();
					closePopup(id);
					$("#"+id).html("");
					$('body').removeClass('fix');
					biz_states.keypadOpenFlag = false;
				};
				// 취소버튼 이벤트 처리
				eval(id + "_Func").cancel = function() {
					nshc.close();
					closePopup(id);
					$("#"+id).html("");
					$('body').removeClass('fix');
					biz_states.keypadOpenFlag = false;
				};
				openPopup(id);
				$('body').addClass('fix');
				progressBar(false);
			});
		 } else {
			 console.log("keypad already open");
		 }
		
	};
	
	var _selectAuth = function(title, type, callbackFunc) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/select_auth.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : title
			,"type" : type // AUTH:본인인증, SIGN:전자서명
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 계좌인증 1원송금
	var _acnoAuth = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/acno_auth.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			 ,"title" : "타행본인계좌인증"
			 
		};
		
		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 계좌인증 1원송금 - 인증
	var _acnoAuthConfirm = function(callbackFunc, bkcd, bknm, acno) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/acno_auth_confirm.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			 ,"title" : "타행본인계좌인증"
			 ,"bkcd" : bkcd
			 ,"bknm" : bknm
			 ,"acno" : acno
			 
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 전체화면 layer
	var _fullLayer = function(url, title, callbackFunc, cancelFunc) {
		var id = _makeId("biz_layer_full"); 
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : title
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				if (typeof(cancelFunc) == "function") cancelFunc();
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
				
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 계좌선택 layer accoKncd:0.수신전계좌 1.요구성 2.적금 3.정기예금 4.대출 // selectTab: 1.최근입금 2.자주쓰는 3.내계좌 4.입금지정
	var _acnoSelect = function(accoKncd, selectTab, callbackFunc) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/acno_select.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			 ,"accoKncd" : accoKncd // ACCO_KNCD 0.수신전계좌 1.요구성 2.적금 3.정기예금 4.대출
			 ,"selectTab" : selectTab
			,"LINK_ACT" : "ACNO_SELECT"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 계좌선택 layer 내계좌 목적별
	var _acnoList = function(accoKncd, callbackFunc) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/acno_list.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"accoKncd" : accoKncd // ACCO_KNCD 0.수신전계좌 1.요구성 2.적금 3.정기예금 4.대출
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 전자금융가입 (전자금융만가입여부, callback(SUCC Y/N))
	var _usrIdReg = function(usrIdOnlyYn, callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/usr_id_reg.frm"; // 호출 layer url TODO 화면작업후 변경
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"USR_ID_ONLY_YN" : usrIdOnlyYn
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 계좌인증 1원송금(중앙회)
	var _fsbAcnoAuth = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/fsb_acno_auth.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			 ,"title" : "타행본인계좌인증"
			 
		};
		
		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 계좌인증 1원송금 - 인증(중앙회)
	var _fsbAcnoAuthConfirm = function(callbackFunc, bkcd, acno) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/fsb_acno_auth_confirm.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			 ,"title" : "타행본인계좌인증"
			 ,"bkcd" : bkcd
			 ,"acno" : acno
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	var _dateInq = function(callbackFunc, flag) {
		if (typeof(flag) != 'string') flag = "H";
		
		var id = _makeId("biz_layer"); 
		var url = "/common/layer/date_inq.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : "조회기간 설정"
			,"flag" : flag //거래유형 T:거래유형, R:결과유형 , H:hide, 
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	// 직원조회 
	var _empInq = function(callbackFunc) {
		
		var id = _makeId("biz_layer"); 
		var url = "/common/layer/emp_inq.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : "추천인 찾기"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	// 이메일 
	var _email = function(callbackFunc) {
		
		var id = _makeId("biz_layer"); 
		var url = "/common/layer/email.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" : "이메일"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	};
	
	// 로그인
	var _login = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/login.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			 ,"title" : "로그인"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
				goMainPage();
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	var _passbook = function(acno, accoKncd, callbackFunc) {
		var id = _makeId("biz_layer_select"); 
		var url = "/common/layer/passbook.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			 ,"ACNO":acno
			 ,"ACCO_KNCD" : accoKncd // ACCO_KNCD 0.수신전계좌 1.요구성 2.적금 3.정기예금 4.대출
			,"LINK_ACT" : "ACNO_DETAIL"
			,"txGbnCd" : "D"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopupUp(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopupUp(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 추가인증 인증타입,인증상세,콜백 
	var _doubleAuth = function(authType, authDetail, callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/double_auth.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			  "id" : id
			 ,"title" : "추가인증"
			 ,"authType" : authType
			 ,"authDetail" : authDetail
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// 보안카드 인증
	var _secuCard = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/secu_card.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			  "id" : id
			 ,"title" : "보안카드"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	// OTP인증
	var _otpAuth = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/otp_auth.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			  "id" : id
			 ,"title" : "OTP 인증"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	var _camera = function(callbackFunc) {
		var id = _makeId("biz_layer_full"); 
		var url = "/common/layer/camera.frm"; // 호출 layer url
		var callback = callbackFunc;
		var loadParam = {
			 "id" : id
			,"title" :"사진촬영"
		};

		$("#"+id).load(url, loadParam, function() {
			// 완료 시 콜백 처리
			eval(id + "_Func").callback = function(data) {
				callback(data);
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 닫기버튼 이벤트 처리
			eval(id + "_Func").close = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			// 취소버튼 이벤트 처리
			eval(id + "_Func").cancel = function() {
				closePopup(id);
				$("#"+id).html("");
				$('body').removeClass('fix');
			};
			openPopup(id);
			$('body').addClass('fix');
			progressBar(false);
		});
	}
	
	return {
			alert : _alert,
			confirm : _confirm,
			select : _select,
			certSelect : _certSelect,
			selectYn : _selectYn,
			selectAuth : _selectAuth,
			ocrAuth : _ocrAuth,
			mydata : _mydata,
			mydataTaxfree : _mydataTaxfree,
			addrSelect : _addrSelect,
			amt : _amt,
			terms : _terms,
			userAuth : _userAuth,
			bank : _bank,
			input : _input,
			email : _email,
			keypad : _keypad,
			jobSelect : _jobSelect,
			acnoAuth : _acnoAuth,
			acnoAuthConfirm : _acnoAuthConfirm,
			fsbAcnoAuth : _fsbAcnoAuth,
			fsbAcnoAuthConfirm : _fsbAcnoAuthConfirm,
			fullLayer : _fullLayer,
			acnoSelect : _acnoSelect,
			acnoList : _acnoList,
			usrIdReg : _usrIdReg,
			dateInq : _dateInq,
			empInq : _empInq,
			login : _login,
			passbook : _passbook,
			doubleAuth : _doubleAuth,
			secuCard : _secuCard,
			otpAuth : _otpAuth,
			camera : _camera
		};
	}();
</script>
<div id="biz_layer_area"></div>

<!-- s: alert -->
<div id="biz_alert" class="layerpopup type-alert" style="display:none;">
	<div class="content-wrap">
	    <div class="pop-con-wrap">
	        <span class="pop-con" data-id="biz_alert_txt"></span>
	    </div>
	    <div class="btn-wrap sm-alert">
	        <a href="#none" class="btn" data-id="biz_alert_btn"></a>
	    </div>
    </div>
</div>
<!-- //e: alert -->

<!-- s: alert -->
<div id="biz_confirm" class="layerpopup type-alert" style="display:none;">
	<div class="content-wrap">
	    <div class="pop-con-wrap">
	        <span class="pop-con" data-id="biz_confirm_txt"></span>
	    </div>
	    <div class="btn-wrap sm-alert">
	        <a href="#none" class="btn" data-id="biz_confirm_btn_one"></a>
	        <a href="#none" class="btn" data-id="biz_confirm_btn_two"></a>
	    </div>
    </div>
</div>
<!-- //e: alert -->

<div id="biz_layer_select" class="layerpopup layer-up" tabindex="0" data-focus-prev="btn-layer-close" style="display:none;">
</div>

<div id="biz_layer" class="layerpopup layer-up has-button" tabindex="0" data-focus-prev="btn-layer-close" style="display:none;">
</div>

<div id="biz_layer_full" class="layerpopup laypop-all has-button" tabindex="0" data-focus-prev="btn-layer-close" style="display:none;">
</div>

<div id="lyFullPopup" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-layer-close" style="display:none;">
</div>

<div id="layer" class="layerpopup layer-up has-button" tabindex="0" data-focus-prev="btn-layer-close" style="display:none;">
</div>





<script type="text/javascript">
var EFN_CSNO = '';								// 중앙회고객번호
var EFN_USR_ID = '';							// 인뱅ID    
var EFN_SECU_MEDI_DVCD = '';			// 보안매체구분코드 C:보안카드 O:OTP M:MOTP
var EFN_INDV_CORP_DSTC_CD = '';	// 개인법인구분 1:개인 2:법인    
var EFN_OTP_VNDR_CD = '';				// OTP 벤더코드        
var EFN_OTP_SRNO_VAL = '';				// OTP 시리얼넘버      
var EFN_INDV_BUSI_DVCD = '';			// 개인/법인사업자구분 1:법인사업자 2:개인사업자
var EFN_FRST_PSWD_REG_YN = '';		// 최초패스워드등록여부
var EFN_ACNT_RS = ''; 						// 계좌목록

var efn = function() {
	
	// 인뱅ID 프로세스 
	var _usrIdProc = function(callbackFunc) {
		
		if (EFN_CSNO == '') {
			biz.alert('로그인 후 이용가능한 거래에요', '확인', function(){
				biz.userAuth(function(){
					// 현재 메뉴 새로고침
					window.location.reload();
				});
			});
			
		} else if (EFN_USR_ID == '') {
			
			biz.confirm('서비스 이용을 위해서는 전자금융 가입이 필요해요'
					, function(){
						// 전자금융가입 레이어 호출
						biz.usrIdReg(function(){
							// 현재 메뉴 새로고침
							window.location.reload();
						});
					}
					, function(){
						goMainPage();
					}
					, '전자금융가입'
					, '다음에');
			
		} else if (EFN_FRST_PSWD_REG_YN == 'Y'){
			// 최초패스워드 등록해야 사용가능
			
		} else {
			// 인뱅ID 다음 프로세스
			callbackFunc();
		}
	}
	
	// 추가인증
	var _addAuth = function() {
		
	}
	
	// 보안매체인증
	var _secuMediProc = function() {
		
	}
	
	// OTP 인증
	var _otpAuth = function() {
		
	}
	
	// 보안카드 인증
	var _secuCardAuth = function() {
		
	}
	
	// ARS 인증
	var _arsAuth = function() {
		
	}
	
	// 계좌상세 (계좌번호, 콜백펑션) 
	var _acnoDetail = function(acno, callbackFunc) {
		var acnoDetailForm = makeForm("acnoDetailForm");
		//addFormData(acnoDetailForm, "txGbnCd", txGbnCd);
		addFormData(acnoDetailForm, "acno", acno);
		doAction("ACNO_DETAIL", acnoDetailForm, callbackFunc);
	}
	
	// 이체계좌상세 (계좌번호, 콜백펑션)
	var _transAcnoDetail = function(acno, callbackFunc) {
		var transAcnoDetailForm = makeForm("transAcnoDetailForm");
		addFormData(transAcnoDetailForm, "acno", acno);
		doAction("TRANS_ACNO_DETAIL", transAcnoDetailForm, callbackFunc);
	}
	
	// 계좌수취조회
	var _acctHldrInq = function(acno, bkcd, txGbnCd, callbackFunc) {
		var acctHldrInqForm = makeForm("acctHldrInqForm");
		addFormData(acctHldrInqForm, "ACNO", acno);
		addFormData(acctHldrInqForm, "BKCD", bkcd);
		addFormData(acctHldrInqForm, "txGbnCd", txGbnCd); // W:출금계좌 M:입금계좌
		doAction("ACCT_HLDR_INQ", acctHldrInqForm, callbackFunc);
	}
	
	// 지연이체가입상태조회
	var _delayTransInq = function(callbackFunc) {
		var usrIdInqForm = makeForm("usrIdInqForm");
		addFormData(usrIdInqForm, "txGbnCd", "D"); // D 지연이체
		doAction("USR_ID_INQ", usrIdInqForm, callbackFunc);
	}
	
	// 패스워드 검증
	var _pswdConfirm = function(pswd1, pswd2, callbackFunc) {
		var pswdConfirmForm = makeForm("pswdConfirmForm");
		addFormData(pswdConfirmForm, "E2E_PSWD1", pswd1);
		addFormData(pswdConfirmForm, "E2E_PSWD2", pswd2);
		doAction("PSWD_MNG", pswdConfirmForm, callbackFunc);
	}
	
	// 계좌 패스워드 검증
	var _acnoPswdConfirm = function(pswd, acno, callbackFunc) {
		var pwDataForm = makeForm("pwDataForm");
		addFormData(pwDataForm, "E2E_PSNT_PSWD", pswd);
		addFormData(pwDataForm, "ACNO", acno);
		doAction("ACNO_PSWD_CFM", pwDataForm, function(res) {
		if (res.API_RS_MSG == "SUCCESS" && res.PROCS_RSLT == "0") {
			callbackFunc();
			
		} else {				
			var resCd = res.API_RS_MSG.split(",")[0];
			if ( resCd == "ECB12208" || resCd == "ECB10115") {
				biz.alert("계좌 비밀번호 3회 오류입니다.<br> 서비스를 종료하고 계좌비밀번호 오류해제 메뉴로 이동합니다.", "확인"
						, function(){
						// TODO 오류해제 메뉴로 이동
							doActionFrame("");
						});
			
			} else {
				biz.alert("계좌비밀번호 입력 오류입니다.");
			}
			return false;
		}
	});
		
	}
	
	return {
		usrIdProc : _usrIdProc,
		acnoDetail : _acnoDetail,
		acctHldrInq : _acctHldrInq,
		delayTransInq : _delayTransInq,
		pswdConfirm : _pswdConfirm,
		acnoPswdConfirm : _acnoPswdConfirm
	};
}();
</script>



<!-- //업무공통 -->

<!-- 프로그레스바 -->
<div class="loading" id="loading" style="display:none">
	<div class="loader-square-9"></div>
</div>



<script type="text/javascript">
	
	
		var _SITE_SystemMode = "test"; // real, test
	
    var _SITE_SystemLang = "KOR"; // KOR, ENG, CHN, JPN
    var _SITE_SiteName = "delfino";     // pc, mobile, tablet
    var _SITE_ModuleType = ""; // "", G2, G3, G4

</script>
<script src="/resources/wizvera/delfino/delfino_config.js?230803_1511" charset="utf-8"></script>
<script src="/resources/wizvera/delfino/delfino_internal.min.js?230803_1511" charset="utf-8"></script>
<script src="/resources/wizvera/delfino/delfino.js?230803_1511" charset="utf-8"></script>
<script src="/resources/wizvera/delfino/delfino_site.js?230803_1511" charset="utf-8"></script>
<!-- Open Web nFilter 가상키패드 -->



<!-- OWN default script -->
<script language="JavaScript" type="text/javascript" src="/resources/nfilter/js/jquery-1.12.4.min.js" charset="UTF-8"></script>
<script> var own = $.noConflict() </script>
<script language="JavaScript" type="text/javascript" src="/resources/nfilter/js/jquery-ui.js" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="/resources/nfilter/js/open_nFilter.js" charset="UTF-8"></script>
<script language="JavaScript" type="text/javascript" src="/resources/nfilter/js/secretUtil.js" charset="UTF-8"></script>

<script type="text/javascript" charset="UTF-8">

    nshc.contextPath = "";
    nshc.CSSPath = nshc.contextPath + "/resources/nfilter/css";
    nshc.imgPath = nshc.contextPath + "/resources/nfilter/image";
    nshc.randomIdLength = 10;
    nshc.serviceNameKeypadManager = "resources/nfilter/jsp/open_nFilter_keypad_manager.jsp";
    nshc.algName = "RSA";
    nshc.keyLength = "2048";
    nshc.uuSessionUse = false;
    nshc.NSCryptoUse = true;

</script>

<script type="text/javascript">
//Delfino G10 Setting
Delfino.setModule('G10');
// 가상키패드 서버키
nshc.setInit();
</script>


	<!-- //footer -->
	
	<!-- s: 준비사항 바텀시트 -->
    <div id="readyCsInfo" class="layerpopup layer-up has-button">
        <div class="content-wrap">
            <div class="pop-header">
                <h2 class="pop-title">고객님의 정보수집 근거 안내</h2>
                <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
            </div>
			<div class="ly-scroll-con ly-select">
				<div class="txtbox-wrap">
					<p>특정금융거래정보의 보고 및 이용 등에 관한 법률, 『공중 등 협박목적 및 대량살상무기확산을 위한 자금조달행위의 금지에 관한 법률』 에 따라 고객은 당사와 거래 시 고객확인 및 검증을 위하여 해당 내용을 기재하셔야 합니다.</p>
					<br>
					<p>당사는 기재된 정보를 검증하기 위하여 추가적인 자료를 요구할 수 있으며, 고객이 <b>금융거래제한대상자</b>이거나 <b>요청된 정보 제출을 거부</b> 또는 <b>고객확인 및 검증이 충분히 이루어지지 않을 경우</b> 요청하신 금융거래가 <b>지연되거나 거절</b>될 수 있습니다.</p>
					<br>
					<p>고객이 제공하신 정보 또는 자료는 '금융실명거래 및 비밀보장에 관한법률'과 '신용정보의 보호 및 이용에 관한 법률'등 관련법령에 따라 관리됩니다.</p>
				</div>

			</div>
        </div>
        <div class="fixed-btn-wrap">
			<div class="btn-wrap type-popup">
				<a href="#none" class="btn" onclick="PageFunc.proc();">이해했어요</a>
			</div>
		</div>
    </div>
    <!-- e: 준비사항 바텀시트 -->
	

</body>
</html>
