<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">


            </div>
        </div>
        <!-- //contents -->

        <div id="biz_6quggsm31co" class="layerpopup laypop-all has-button show" style="z-index: 322; display: block;">

            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">우폄번호찾기</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">

                        <!-- s: 주소 검색 영역-->
                        <div class="search-area">
                            <div class="form-wrap form-line">
                                <div class="input">
                                    <input type="search" title="" id="" class="" name="" value="" placeholder="도로명주소, 건물명 또는 지번입력" required="" >
                                </div>
                                <button type="button" class="btn-search">검색</button>
                                <button type="reset" class="btn-delete">검색어 삭제</button>
                            </div>
                            <dl class="juso-ex-list" id="exSearch">
                                <dt>도로명 + 건물번호</dt>
                                <dd>중앙대로 244</dd>
                                <dt>지역명(동/리)+번지</dt>
                                <dd>초량동 1193-1</dd>
                                <dt>지역명(동/리) + 건물명(아파트명)</dt>
                                <dd>초량동 흥국생명</dd>
                            </dl>
                        </div>
                        <!-- e: 주소 검색 영역-->

                        <!-- s: 주소 검색 결과-->
                        <div class="search-result-area" id="" style="display:block;">
                            <div class="result-box">
                                <a href="#none">
                                    <span class="zipcode">12345</span>
                                    <ul class="juso-list">
                                        <li>
                                            <em class="btn btn-sm purple">도로명</em>
                                            <p>서울시 동작구 동작로 131 예가람아파트 1154동 702호</p>
                                        </li>
                                        <li>
                                            <em class="btn btn-sm gray">지&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;번</em>
                                            <p>서울시 동작구 동작로 131</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>

                            <div class="result-box">
                                <a href="#none">
                                    <span class="zipcode">12345</span>
                                    <ul class="juso-list">
                                        <li>
                                            <em class="btn btn-sm purple">도로명</em>
                                            <p>서울시 동작구 동작로 131 예가람아파트 1154동 702호</p>
                                        </li>
                                        <li>
                                            <em class="btn btn-sm gray">지&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;번</em>
                                            <p>서울시 동작구 동작로 131</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>

                        </div>

                        <div class="result-area nodata" id="" style="display:block;" ><!-- [퍼블] 클래스 변경 -->
                            <p lass="desc">검색결과가 없어요</p>
                            <!-- <p class="desc">도로명, 지번주소, 지역명(동/리) + 건물명으로<br>다시 검색하세요</p> -->
                        </div>
                        <!-- e: 주소 검색 결과-->

                        <!-- s: 주소 검색 입력-->
                        <div class="search-result-area"  id="" style="display:block;">
                            <div class="form-wrap">
                                <label for="" class="formlabel">상세주소</label>
                                <div class="input">
                                    <input type="text" title="상세주소" id="" class="inp" name="" value="" placeholder="상세주소 입력" required />
                                </div>
                            </div>
                        </div>
                        <!-- e: 주소 검색 입력-->

                    </div>
                </div>
            </div>


            <div class="fixed-btn-wrap" id="" style="display:block;">
                <div class="btn-wrap">
                    <!-- <a href="javascript:void(0);" class="btn">검색</a> -->
                    <!-- <a href="javascript:void(0);" class="btn">재검색</a> -->
                    <a href="javascript:void(0);" class="btn disabled">확인</a>
                    <!-- <a href="javascript:void(0);" class="btn">확인</a> -->
                </div>
            </div>

        </div>

    </div>
    <!-- //contentsWrap -->
</body>
</html>

