<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">


                </div>
            </div>
            <!-- //contents -->

            <!--S: 추가인증-->
            <div id="lypullPop" class="layerpopup laypop-all  show" style="display: block;">
                <!-- s: contents -->
                <div class="pop-header">
                    <h2 class="pop-title">추가인증</h2>
                    <button type="button" name="button" class="btn-layer-close" onclick="closePopup('lypullPop')">닫기</button>
                </div>
                
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="tit-wrap">
                            <p class="txt"><strong>추가인증 방법을<br/>선택해주세요</strong></p>
                        </div>
                        
                        <!--S:form-all-wrap-->
                        <div class="form-all-wrap"><!--D: form-all-wrap 구조 추가-->

                            <ul class="check-box">
                                <li class="ars">
                                    <fieldset>
                                        <input type="radio" id="Chk01_1" name="Chk01" value="" class="" disabled><!--D: disabled : 한개 미설정 일 경우-->
                                        <label for="Chk01_1">ARS인증</label>
                                    </fieldset>
                                </li>
                                <li class="app">
                                    <fieldset>
                                        <input type="radio" id="Chk01_2" name="Chk01" value="" class="" checked><!--D: checked : 한개 미설정 일 경우-->
                                        <label for="Chk01_2">스마트 앱 인증</label>
                                    </fieldset>
                                </li>
                            </ul>
                            <div class="txtbox-wrap">
                                <p>전화번호를 선택 후 <strong>[ARS 요청]</strong> 버튼을 눌러주세요</p>
                            </div>
                            
                            <div class="form-wrap"><!--D: 개발 기준 포커스 문제로 form-wrap으로 변경-->
                                <div class="select-box on" tabindex="1"><!--D: on 클래스 값이 들어갈 경우-->
                                    <label for="">연락처</label>
                                    <span class="option">010-1234-5678</span>
                                </div>
                            </div>

                            <div class="form-wrap"><!--D: 개발 기준 포커스 문제로 form-wrap으로 변경-->
                                <div class="select-box" tabindex="1"><!--D: 등록된 전화번호가 2개인 경우-->
                                    <label for="">연락처</label>
                                    <span class="option">미선택</span>
                                </div>
                            </div>
                            
                        </div>
                        <!--E:form-all-wrap-->

                        <div class="list-bull"><!--D: 구조 변경-->
                            <div class="border"></div>
                            <strong>알아두세요</strong>
                            <ul>
                                <li>전화가 오지 않는 경우 전화번호가 다르게 입력되었거나,
                                    착신이 정지되었는지 확인해주세요</li>
                                <li>ARS 수신번호는 02-1877-7788 입니다</li>
                            </ul>
                        </div>
                </div>
                </div>

                <div class="fixed-btn-wrap">
                    <div class="btn-wrap">
                        <a href="#none" class="btn">ARS 요청</a><!--D: 스마트 앱인증 클릭 시 스마트 앱인증 요청  텍스트로 변경-->
                    </div>
                </div>

            </div>
            <!--E: 추가인증-->

            <!-- S: 등록된 전화번호가 2개인 경우 -->
            <div id="lySel1" class="layerpopup layer-up show" ><!-- [D] 클래스 has-button 추가 시 하단 fixed 버튼 있을 시 스타일 노출-->
                <div class="content-wrap">
                    <div class="pop-header">
                        <h2 class="pop-title">연락처를 선택해주세요</h2>
                        <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                    </div>
                    <div class="ly-scroll-con ly-select">
                        <ul class="ly-select-list">
                            <li><button>010-1234-5678</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                            <li><button>010-1234-5678</button></li>
                            <li><button>010-1234-5678</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- E: 등록된 전화번호가 2개인 경우 -->

            <!-- S: ARS 인증번호 -->
            <div id="lyPullPop02" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-menu-close">
                <div class="pop-header">
                    <h2 class="pop-title">추가인증</h2>
                    <button type="button" name="button" class="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="gray-box-wrap">
                            <p class="txt">인증번호</p>
                            <p class="num" id="">89</p>
                        </div>
                        <p class="s-txt ta-c mb40">전화번호 ARS 본인인증을 진행중이에요.<br>인증 전화를 받으신 후 안내 음성에 따라<br>인증번호를 입력하세요</p>
                        <p class="s-txt ta-c">ARS 인증이 완료되면 <b>[ARS 인증]</b> 버튼을 눌러주세요</p>
                       
                        <div class="list-bull">
                            <div class="border"></div>
                            <strong>알아두세요</strong>
                            <ul>
                                <li>전화가 오지 않는 경우 전화번호가 다르게 입력되었거나,
                                    착신이 정지되었는지 확인해주세요</li>
                                <li>ARS 수신번호는 02-1877-7788 입니다</li><!--[퍼블-1]: 7788로 변경-->
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="fixed-btn-wrap">
                    <div class="btn-wrap">
                        <a href="#none" class="btn"><span>ARS</span> 인증</a>
                    </div>
                </div>
            </div>
            <!-- E: ARS 인증번호 -->

            <!-- s: ARS 인증 / 스마트앱 인증 ( 실패/ 성공 ) -->
            <div id="lyPullPop03" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-menu-close" >
                <div class="pop-header">
                    <h2 class="pop-title">추가인증</h2>
                    <button type="button" name="button" class="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <!--D: ARS 인증 / 스마트 앱 인증 실패 했을 경우-->
                        <div class="result-area exclamation">
                            <p class="tit"><strong>ARS인증에 실패하셨어요</strong></p>
                        </div>

                        <!--D: ARS 인증 / 스마트 앱 인증 성공 했을 경우-->
                        <div class="result-area checking">
                            <p class="tit"><strong>스마트 앱을 인증했어요</strong></p>
                        </div>
                    </div>
                </div>
                <div class="fixed-btn-wrap">
                    <div class="btn-wrap">
                        <a href="#none" class="btn">확인</a>
                    </div>
                </div>
            </div>
            <!-- E: ARS 인증 / 스마트앱 인증 ( 실패/ 성공 ) -->

            <!--S: 등록된 추가 인증 서비스가 없을 경우 (Alert)-->
            <div id="lyAlert1" class="layerpopup type-alert on" style="display: block;">
                <div class="content-wrap">
                    
                    <div class="pop-con-wrap">
                        <span class="pop-con">기존에 등록하신 추가인증 방식이 없어요<br/>추가인증 서비스를 가입하시겠어요?</span>
                    </div>
                    <div class="btn-wrap">
                        <a href="javascript:void(0);" class="btn btn-info" onclick="">아니오</a>
                        <a href="javascript:void(0);" class="btn">예</a>
                    </div>
                </div>
            </div>
            <!--E:등록된 추가 인증 서비스가 없을 경우 (Alert)-->

            
        </div>
        <!-- //contentsWrap -->
</body>
</html>

