<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">e=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
        <div class="headerLeft">
        </div>
        <div class="headerCenter">
            <h2 class="text"><span>로그인</span></h2> <!--D: TEXT -->
        </div>
        <div class="headerRight">
            <a href="javascript:void(0)" class="btn btn-home"><img src="/resources/images/header/btn_home.png" alt="홈"></a>  <!--D: 홈버튼 -->
            <a href="javascript:void(0)" class="btn btn-menu"><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>  <!--D: 전체메뉴버튼 -->
        </div>
    </header>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap grid">
            
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">

                    <section>
                        <div class="tit-wrap">
							<p class="txt"><strong>어떤 방식으로<br/> 로그인 하시겠어요?</strong></p>
						</div>

                        <div class="check-wrap">
                            <ul class="check-box flex-col type2">
                                <li class="elecId">
                                    <fieldset>
                                        <input type="radio" id="Chk01_3" name="Chk01" value="">
                                        <label for="Chk01_3">
                                            전자금융 아이디
                                        </label>
                                    </fieldset>
                                </li>
                                <li class="phoneCerti">
                                    <fieldset>
                                        <input type="radio" id="Chk01_4" name="Chk01" value="" class="">
                                        <label for="Chk01_4">
                                            휴대폰 본인인증
                                        </label>
                                    </fieldset>
                                </li>
                                <li class="etcCerti">
                                    <fieldset>
                                        <input type="radio" id="Chk01_5" name="Chk01" value="" class="">
                                        <label for="Chk01_5">
                                           다른 인증수단
                                        </label>
                                    </fieldset>
                                </li>
                            </ul>
                        </div>
                    </section>
                    

                    <section class="banner-area">
                        <a href="#none" class="banner-box style2">
                            <p class="banner-tit">E-RUN 파킹통장 아직도 모르세요?</p>
                            <p class="banner-txt">비상금 넣고 있기에 딱!<br/>최대<span class="color-F1108E ">연 3.30%</span></p>
                            <div class="go-link-wrap">
                                <span class="btn-go-link">E-RUN 파킹통장 만들기</span>
                            </div>
                        </a>
                    </section>

                </div>
            </div>
            <!-- //contents -->


            <div id="lypullPop" class="layerpopup laypop-all show" style="display: block;">
                <!-- s: contents -->
                <div class="pop-header">
                    <h2 class="pop-title">풀팝업</h2>
                    <button type="button" name="button" class="btn-layer-close" onclick="closePopup('lypullPop')">닫기</button>
                </div>
                
                <div class="pop-con-wrap grid login-banner"><!--[퍼블-1] : login-banner 클래스 추가-->
                    <div class="default-wrap ">

                        <section>
                            <div class="tit-wrap">
                                <p class="txt"><strong>어떤 방식으로<br/> 로그인 하시겠어요?</strong></p>
                            </div>
    
                            <div class="check-wrap">
                                <ul class="check-box flex-col type2">
                                    <li class="elecId">
                                        <fieldset>
                                            <input type="radio" id="Chk01_3" name="Chk01" value="">
                                            <label for="Chk01_3">
                                                전자금융 아이디
                                            </label>
                                        </fieldset>
                                    </li>
                                    <li class="phoneCerti">
                                        <fieldset>
                                            <input type="radio" id="Chk01_4" name="Chk01" value="" class="">
                                            <label for="Chk01_4">
                                                휴대폰 본인인증
                                            </label>
                                        </fieldset>
                                    </li>
                                    <li class="etcCerti">
                                        <fieldset>
                                            <input type="radio" id="Chk01_5" name="Chk01" value="" class="">
                                            <label for="Chk01_5">
                                            다른 인증수단
                                            </label>
                                        </fieldset>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        
    
                        <section class="banner-area">
                            <a href="#none" class="banner-box style2">
                                <p class="banner-tit">E-RUN 파킹통장 아직도 모르세요?</p>
                                <p class="banner-txt">비상금 넣고 있기에 딱!<br/>최대<span class="color-F1108E ">연 2.00%</span></p>
                                <div class="go-link-wrap">
                                    <span class="btn-go-link">E-RUN 파킹통장 만들기</span>
                                </div>
                            </a>
                        </section>
    
                    </div>
                </div>


                <!--S: 다른 CS_Number 사용자 로그인 시, 인증수단 초기화 필요 알림(alert)-->
                <div id="lyAlert1" class="layerpopup type-alert">
                    <div class="content-wrap">
                        
                        <div class="pop-con-wrap">
                            <span class="pop-con">
                                이전 사용자와 다른 정보로 로그인을 시도 하셨어요<br/>
                                기존에 등록한 인증 수단을 초기화 하시겠어요?
                            </span>
                        </div>
                        <div class="btn-wrap">
                            <a href="javascript:void(0);" class="btn btn-info" onclick="">취소</a>
                            <a href="javascript:void(0);" class="btn close">확인</a>
                        </div>
                    </div>
                </div>
                <!--E: 다른 CS_Number 사용자 로그인 시, 인증수단 초기화 필요 알림 (alert)-->

                <!--S: 이전 휴대폰에서 로그인 시, 간편인증 수단 재등록 필요 알림(alert)-->
                <div id="lyAlert1" class="layerpopup type-alert">
                    <div class="content-wrap">
                        
                        <div class="pop-con-wrap">
                            <span class="pop-con">
                                새로운 기기에 간편인증이 재등록 되어
                                현재 기기에 등록된 인증수단 재등록이 필요해요<br/>
                                간편인증 수단을 재등록 하시겠어요?
                            </span>
                        </div>
                        <div class="btn-wrap">
                            <a href="javascript:void(0);" class="btn btn-info" onclick="">취소</a>
                            <a href="javascript:void(0);" class="btn close">확인</a>
                        </div>
                    </div>
                </div>
                <!--E: 이전 휴대폰에서 로그인 시, 간편인증 수단 재등록 필요 알림(alert)-->

                <!-- <div class="fixed-btn-wrap">
                    <div class="btn-wrap">
                        <a href="#none" class="btn" onclick="closePopup('lypullPop')">확인</a>
                    </div>
                </div> -->

            </div>

        </div>
        <!-- //contentsWrap -->
</body>
</html>

