<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">


                </div>
            </div>
            <!-- //contents -->

            <!-- s: 신분증 촬영 팝업 -->
			<div id="biz_6quggsm31co" class="layerpopup laypop-all show" style="z-index: 322; display: block;">

				<div class="content-wrap">
					<div class="pop-header">
						<h2 class="pop-title">신분증 촬영</h2>
						<button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
					</div>
					<div class="pop-con-wrap">

						<div class="default-wrap">

                            <!-- s: ocr 촬영 안내 -->
                            <section style="display:block;">
                                <div class="tit-wrap">
                                    <p class="txt"><strong>주민등록증 또는 운전면허증을<br/>준비해 주세요</strong></p>
                                </div>

                                <div class="imgbox-wrap">
                                    <img src="/resources/images/common/img_registrationcard.png" alt="주민등록증 예시이미지">
                                </div>
                                
                                <div class="list-bull ico">
                                    <strong>촬영 전 확인해 주세요</strong>
                                    <ul>
                                        <li>타인의 신분증으로 촬영하시면 관계 법령에 따라 처벌될 수 있어요</li>
                                        <li>흔들림 없고,  빛 반사가 없도록 촬영해 주세요</li>
                                        <li>신분증 정보가 식별이 어려울 경우, 진위확인이<br/>
                                            불가능하여 비대면계좌개설 이용이 제한될 수 있어요</li>
                                    </ul>
                                </div>
                            </section>
                            <!-- e: ocr 촬영 -->

                            <!--s: 신분증촬영 직장정보-->
                            <!-- D:  안쓰는 부분 <section  style="display:block;">
                                <div class="tit-wrap">
                                    <p class="txt"><strong>대출신청을 위해<br/>직장정보가 필요해요</strong></p>
                                </div>
                                <div class=" select-wrap">

                                    <div class="select-box" tabindex="1">
                                        <label for="">직종</label>
                                        <span class="option">미선택</span>
                                    </div>

                                    <div class="form-wrap">
                                        <label for="" class="formlabel">직장명</label>
                                        <div class="input">
                                            <input type="text" title="직장명" id="" class="inp" name="" value="" placeholder="직장명 입력" required="">
                                        </div>
                                    </div>

                                    <div class="select-box" tabindex="1">
                                        <label for="">근로자유형</label>
                                        <span class="option">미선택</span>
                                    </div>

                                    <div class="select-box" tabindex="1">
                                        <label for="">입사연월일</label>
                                        <span class="option">미선택</span>
                                    </div>

                                    <div class="form-wrap">
                                        <label for="" class="formlabel">직장전화</label>
                                        <div class="input">
                                            <input type="number" title="직장전화" id="" class="inp" name="" value="" placeholder="직장전화 입력" required="">
                                        </div>
                                    </div>

                                </div>

                            </section> -->
                            <!--e: 신분증촬영 직장정보-->
                            

                            <!-- s: ocr 촬영결과 -->
                            <section  id="resultDiv" style="display:block;">
                                
                                <div class="ocr-img">
                                    <img id="resultImg" src=""/>
                                </div>

                                <div class="btn-cont-wrap" id="retryCameraBtn" style="display:block;">
                                    <a href="#none" class="btn btn-add btn-camera">다시촬영</a>
                                </div>

                                <div class="form-all-wrap">
                                    <div class="form-wrap">
                                        <label for="" class="formlabel">이름</label>
                                        <div class="input">
                                            <input type="text" title="이름" id="" class="inp" name="" value="" placeholder="이름 입력"  required="">
                                        </div>
                                    </div>

                                    <div class="form-wrap password w50">
                                        <label for="ipt02" class="formlabel">주민등록번호</label>
                                        <div class="input">
                                            <span>
                                                <input type="number" title="주민등록번호 앞자리" id="ipt02" class="inp" name="" value="" maxlength="6" required="">
                                            </span>
                                            <span class="inputTextHyphen">-</span>
                                            <span class="jummin" >
                                                <input type="password" title="주민등록번호 뒷자리" id="jumin2" class="inp" name="jumin2" value="" maxlength="7" required=""  required disabled>
                                                <span class="jumintext">●●●●●●●</span>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="form-wrap" style="display:block;" id="">
                                        <label for="ocrISU_DT" class="formlabel">발급일자</label>
                                        <div class="input">
                                            <input type="date" title="발급일자" id="" class="inp" name="" value="" placeholder="발급일자를 입력" required readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div class="form-wrap" style="display:block;" id="">
                                        <label for="" class="formlabel">면허번호</label>
                                        <div class="input">
                                            <input type="text" title="면허번호" id="" class="inp" name="" value="" placeholder="면허번호를 입력" required readonly="readonly"/>
                                        </div>
                                        
                                    </div>

                                    <!-- <div class="form-wrap">
                                        <label for="ocrLICENSE_CD" class="formlabel">식별번호</label>
                                        <div class="input">
                                            <input type="text" title="식별번호" id="" class="inp" name="" value="" placeholder="식별번호를 입력해주세요." required readonly="readonly"/>
                                        </div>
                                    </div> -->

                                </div>

                                <div class="info-txt-wrap"  style="display: block;">
                                    <p class="info-txt">인식된 신분증 정보를 확인해 주세요</p>
                                    <p class="info-txt">신분증정보가 실제와 다른 경우 이용이 제한될 수 있어요</p>
                                </div>

                            </section>
                            <!-- e: ocr 촬영결과 -->

						</div>
                        
					</div>
				</div>

				<div class="fixed-btn-wrap">
					<div class="btn-wrap flexCol"> <!--D: flexCol : 버튼 두개일 경우-->
						<a href="javascript:void(0);" class="btn btn-camera">신분증 촬영</a><!--D : btn-camera : 카메라 이미지 -->
						<a href="javascript:void(0);" class="btn txt">취소</a>
					</div>
				</div>

			</div>
			<!-- e: 신분증 촬영 팝업-->

        </div>
        <!-- //contentsWrap -->
</body>
</html>

