<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    

                </div>
            </div>
            <!-- //contents -->

            <!-- s:  은행선택 팝업 -->
            <div id="" class="layerpopup layer-up has-button show" style="display:block;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
                <div class="content-wrap">
                    <div class="pop-header">
                        <h2 class="pop-title">추천인</h2>
                        <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                    </div>
                    <div class="ly-scroll-con type-high">
                         <!-- s: 검색 영역 -->
                         <div class="form-wrap type-box">
                            <div class="input">
                                <input type="text" id="" class="inp" placeholder="추천인 이름을 입력해주세요" name="" value="" required="">
                            </div>
                            <button type="button" class="btn-search">검색</button>
                            <button type="button" class="btn-delete">검색어 삭제</button>
                        </div>
                        <!-- // e: 검색 영역 -->
        
                        <section>
                            <ul class="recommender-wrap">
                                <li class="tbl-header">
                                    <span>직원명</span>
                                    <span>영업점</span>
                                </li>
                                <!--D : 검색전 노출 -->
                                <li class="search-before">
                                    <p>추천인 이름으로 검색해주세요</p>
                                </li>
                                <!--D : 검색전 노출 //-->
        
                                <!--D : 검색 후 리스트 노출 -->
                                <li class="active"><!--D: acitve: 선택 -->
                                    <span>이가람(123456)</span>
                                    <span>본점<button type="button" >선택</button></span>
                                </li>
                                <li>
                                    <span>이가람(123456)</span>
                                    <span>본점<button type="button">선택</button></span>
                                </li>
                                <li>
                                    <span>이가람(123456)</span>
                                    <span>본점<button type="button">선택</button></span>
                                </li>
                                <!--D : 검색 후 리스트 노출 // -->
        
                                <!--D : 검색결과 오류 시 노출 -->
                                <div class="result-area nodata">
                                    <p>검색결과가 존재하지 않아요</p>
                                </div>
                                <!--D : 검색결과 오류 시 노출 //-->
                            </ul>
                        </section>
                    </div>
                    <div class="fixed-btn-wrap">
                        <div class="btn-wrap">
                            <a href="javascript:void(0);" class="btn">확인</a>
                        </div>
                    </div>
                </div>
               
            </div>



            <!-- e: 은행선택 -->

        </div>
        <!-- //contentsWrap -->
</body>
</html>



        </div>
        <!-- //contentsWrap -->
    </form>
</body>
</html>

