<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    

                </div>
            </div>
            <!-- //contents -->

            <!-- s: 본인인증 팝업 -->
			<div id="biz_6quggsm31co" class="layerpopup laypop-all has-button show" style="z-index: 322; display: block;">

				<div class="content-wrap">
					<div class="pop-header">
						<h2 class="pop-title">본인인증</h2>
						<button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
					</div>
					<div class="pop-con-wrap login-id">
						<div class="default-wrap">
							<div class="tit-wrap">
								<p class="txt"><strong>본인인증을 진행해요</strong></p>
							</div>
							<div class="form-all-wrap">

                                <div class="form-wrap">
                                    <label for="" class="formlabel essential">이름</label>
                                    <div class="input">
                                        <input type="text" title="이름" id="" class="inp" name="" value="" placeholder="이름 입력"  required="">
                                        <button type="button" class="btn-delete">검색어 삭제</button>
                                    </div>
                                </div>

                                <div class="form-wrap password w50">
                                    <label for="ipt02" class="formlabel essential">주민등록번호</label>
                                    <div class="input">
                                        <span>
                                            <input type="number" title="주민등록번호 앞자리" id="ipt02" class="inp" name="" value="" maxlength="6" required="">
                                        </span>
                                        <span class="inputTextHyphen">-</span>
                                        <span class="jummin" >
                                            <input type="number" title="주민등록번호 뒷자리(첫번째 숫자)" id="jumin1" class="inp" name="jumin1" value="" maxlength="0" required="" >
                                            <span class="jumintext">●●●●●●●</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-wrap phone">
                                    <label for="" class="formlabel essential">휴대폰번호</label>
                                    <div class="input">
                                        <div class="select-wrap">
                                            <div class="select-box  type-line" tabindex="1">
                                                <span class="option">선택</span>
                                            </div>
                                        </div>
                                        <span>
                                            <input type="tel" title="" class="inp " id="" name="" value="" placeholder="휴대폰번호 입력" maxlength="11" required  numberonly/>
                                            <button type="reset" class="btn-delete">검색어 삭제</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-wrap password form-line">
                                    <label for="ipt05" class="formlabel">인증번호</label>
                                    <div class="input">
                                        <input type="number" title="은행선택" id="ipt05" class="inp" name="" value="" required="" placeholder="인증번호 입력">
                                        <div class="btn-input">
                                            <span class="txt-numb" id="">03:00</span>
                                            <button type="button" class="btn btn-sm">인증번호요청</button>
                                            <!-- <button type="button" class="btn-certi">재전송</button> -->
                                        </div>
                                    </div>
                                </div>
								
							</div>
							
						</div>
					</div>
				</div>

				<div class="fixed-btn-wrap">
					<div class="btn-wrap">
						<a href="javascript:void(0);" class="btn disabled">인증방법 선택</a>
					</div>
				</div>

			</div>
			<!-- e: 본인인증 팝업 -->

        </div>
        <!-- //contentsWrap -->
</body>
</html>

