<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <section class="tabs-wrap">
                    <div class="tabs">
                        <ul class="tab-item">
                            <li data-tab="tab-cont01"><a href="#none" title="선택됨">남대문본점</a></li>
                            <li data-tab="tab-cont02"><a href="#none">강남지점</a></li>
                            <li data-tab="tab-cont03"><a href="#none">창원지점</a></li>
                            <li data-tab="tab-cont04"  class="on"><a href="#none">울산지점</a></li>
                        </ul>
                        <div class="tab-content-area">
                            <div id="tab-cont01" class="tab-content  dp-none">

                                <div class="sub-tit-wrap">
                                    <p class="tit">예가람저축은행 지점정보</p>
                                </div>

                                <div class="map-area">
                                    <div class="map" id="daumMap">
                                        <!-- TODO 지도 -->
                                    </div>
                                </div>

                                <div class="table-type table-col">
                                    <div class="sub-tit-wrap">
                                        <p class="tit">남대문본점</p>
                                    </div>
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col width="40%">
                                            <col width="*">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="col">주소</th>
                                                <td>서울특별시 중구 세종대로 50</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 전화번호</th>
                                                <td>02-6906-7000</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 FAX번호</th>
                                                <td>02-6906-7099</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">교통수단</th>
                                                <td>[지하철]<br/>2호선 시청역 7번출구 / 4호선 회현역 5번출구 숭례문오거리 방향 500M 이내</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>

                            <div id="tab-cont02" class="tab-content  dp-none">
                                <div class="sub-tit-wrap">
                                    <p class="tit">예가람저축은행 지점정보</p>
                                </div>
                                <div class="map-area">
                                    <div class="map" id="daumMap">
                                        <!-- TODO 지도 -->
                                    </div>
                                </div>

                                <div class="table-type table-col">
                                    <div class="sub-tit-wrap">
                                        <p class="tit">강남지점</p>
                                    </div>
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col width="40%">
                                            <col width="*">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="col">주소</th>
                                                <td>서울특별시 강남구 테헤란로 337</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 전화번호</th>
                                                <td>02-2678-4377</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 FAX번호</th>
                                                <td>02-2672-4378</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">교통수단</th>
                                                <td>[지하철]<br/>2호선/수인분당선 선릉역 6번출구에서 4M</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="tab-cont03" class="tab-content dp-none"><!--D: 창원지점 -->
                                
                                <div class="sub-tit-wrap">
                                    <p class="tit">예가람저축은행 지점정보</p>
                                </div>
                                <div class="map-area">
                                    <div class="map" id="daumMap">
                                        <!-- TODO 지도 -->
                                    </div>
                                </div>


                                <div class="table-type table-col ">
                                    <div class="sub-tit-wrap">
                                        <p class="tit">창원지점</p>
                                    </div>
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col width="40%">
                                            <col width="*">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="col">주소</th>
                                                <td>경상남도 창원시 성산구 용지로 56</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 전화번호</th>
                                                <td>070-4589-5386</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 FAX번호</th>
                                                <td>055-285-8424</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">교통수단</th>
                                                <td>[버스]<br/>
                                                    751, 102, 107, 115, 503, 507<br/>
                                                    창원호텔 정류장 하차 84M 전방에 위치
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--D:탭추가-->
                            <div id="tab-cont04" class="tab-content "><!--D: 울산지점 -->
                                <div class="sub-tit-wrap">
                                    <p class="tit">예가람저축은행 지점정보</p>
                                </div>
                                <div class="map-area">
                                    <div class="map" id="daumMap">
                                        <!-- TODO 지도 -->
                                    </div>
                                </div>


                                <div class="table-type table-col">
                                    <div class="sub-tit-wrap">
                                        <p class="tit">울산지점</p>
                                    </div>
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col width="40%">
                                            <col width="*">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="col">주소</th>
                                                <td>울산관역시 남구 삼산로 231</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 전화번호</th>
                                                <td>070-4589-5396</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">대표 FAX번호</th>
                                                <td>052-939-1248</td>
                                            </tr>
                                            <tr>
                                                <th scope="col">교통수단</th>
                                                <td>[버스]<br/>
                                                    432, 417, 401, 127, 126<br/>
                                                    뉴코아아울렛에서 현대백화점 방향 50M
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

            </div>
        </div>
        <!-- //contents -->


    </div>
    <!-- //contentsWrap -->
</body>
</html>

