<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>
</head>

<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap dsr_con-wrap">

                <div class="form-all-wrap">

                    <div class="tit-wrap">
                        <p class="txt"><strong>대출계산기 정보입력</strong></p>
                    </div>

                    <div class="form-wrap">
                        <div class="form-tit">
                            <span class="txt">상환방법</span>
                        </div>
                        <div class="select-box" tabindex="1">
                            <label for="">상환방법 선택</label>
                            <span class="option" id="">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <label for="" class="formlabel">대출금액</label>
                        <div class="input">
                            <input type="tel" title="대출금액" id="" class="inp" value="" placeholder="대출금액 입력" required="">
                            <span class="static-unit">원</span>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <label for="" class="formlabel">이자율</label>
                        <div class="input">
                            <input type="tel" title="이자율" id="" class="inp" value="" placeholder="이자율 입력" required="">
                            <span class="static-unit">%</span>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <div class="form-tit">
                            <span class="txt">대출기간</span>
                        </div>
                        <div class="select-box" tabindex="1">
                            <label for="" class="">개월 선택</label>
                            <span class="option" id="">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap mt30">
                        <div class="form-tit">
                            <span class="txt">거지기간</span>
                        </div>
                        <div class="select-box" tabindex="1">
                            <label for="" class="">거치기간 선택</label>
                            <span class="option" id="">미선택</span>
                        </div>
                    </div>

                    <div class="btn-cont-wrap">
                        <a href="javascript:void(0);" class="btn btn-primary">조회하기</a>
                    </div>

                </div>

               

                <!--D: 조회결과-->
                <div class="form-all-wrap">

                    <div class="tit-wrap">
                        <p class="txt"><strong>계산결과</strong></p>
                    </div>

                    <div class="form-wrap">
                        <div class="input">
                            <input type="tel" title="계산 결과" id="" class="inp" value="120,000,000" placeholder="" required="">
                            <span class="static-unit">원</span>
                        </div>
                    </div>

                    <div class="table-type table-row">
                        <div class="table-scroll">
                            <table>
                                <caption>
                                    회차, 상환금, 납입원금, 이자, 대출잔액 항목이 있습니다.
                                </caption>
                                <colgroup>
                                    <col width="20%">
                                    <col width="40%">
                                    <col width="*%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">회차</th>
                                    <th scope="col">상환금</th>
                                    <th scope="col">납입원금</th>
                                    <th scope="col">이자</th>
                                    <th scope="col">대출잔액</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1회차</td>
                                    <td>1,200,000</td>
                                    <td>0</td>
                                    <td>1,200,000</td>
                                    <td>1,200,000</td>
                                </tr>
                                <tr>
                                    <td>2회차</td>
                                    <td>1,200,000</td>
                                    <td>0</td>
                                    <td>1,200,000</td>
                                    <td>1,200,000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="btn-cont-wrap">
                        <a href="javascript:void(0);" class="btn btn-primary">다시 시작하기</a>
                    </div>

                </div>
                <!--D: 조회결과 //-->

            </div>
        </div>
        <!-- //contents -->

        <!-- s: 상단 이동 버튼 -->
	    <button type="button" name="button" class="btn-circle top ir btn-top">위로</button>
	    <!-- //e: 상단 이동 버튼 -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

