<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <div class="tit-wrap">
					<p class="txt"><strong>개인정보처리방침</strong></p>
				</div>
                <div class="btn-cont-wrap">
                    <a href="javascript:void(0);" class="btn btn-primary">개인정보처리방침 바로가기</a>
                </div>
                <div class="terms-dsr-wrap">

                    <div class="sub-tit-wrap">
                        <p class="tit">전자금융거래 유의사항</p>
                        <p class="tit">
                            금융소비자보호 상품판매 내부준칙
                        </p>
                    </div>
                    
                    <div class="sub-tit-wrap line">
                        <p class="tit">조항 및 내용</p>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">제1조(목적)</p>
                        <p class="txt">
                            본 준칙은 금융소비자(이하 ‘소비자’라 한다.)를 보호하기 위하여, 금융상품 판매직원(이하 ‘직원’이라 한다.)이 지켜야 할 원칙과 자세 및 의무를 규정함을 목적으로 한다.
                        </p>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">제2조(판매직원의 자세)</p>
                        <p class="txt">
                            직원은 내규에서 규정하는 금융소비자보호가 이루어지도록 최선의 노력을 다하여야 한다.
                        </p>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">제3조(중요내용 설명의무)</p>
                        <p class="txt">원은 금융상품 등에 관한 중요한 사항을 소비자가 이해할 수 있도록 설명하여야 한다.<br/>
                            특히, 고령금융소비자에 대한 금융상품 상담 및 판매시 내용을 쉽게 인지할 수 있도록 가급적 쉬운 용어와 느린 속도로 설명하여야 한다.
                        </p>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">제4조(신의성실의 원칙)</p>
                        <p class="txt">
                            직원은 금융소비자에 대해 금융상품을 판매하는 과정에서 신의성실의 원칙을 준수한다.
                        </p>
                        <div class="guide-txt-wrap">
                            <ul class="list-bull type-large num">
                                <li>
                                    <em>1.</em>
                                    금융상품 판매종사자의 도입, 양성, 교육, 관리 등에 있어 법령을 준수학도 건전한 금융거래질서가 유지될 수 있도록 최선의 노력을 다한다.
                                </li>
                                <li>
                                    <em>2.</em>
                                    금융소비자에 대하여 금융상품에 대한 충분한 선택정보를 제공하여 불완전 판매가 발생하지 않도록 최선의 노력을 다한다.

                                </li>
                                <li>
                                    <em>3.</em>
                                    금융상품 판매과정에서 금융소비자에게 피해가 생긴 경우에는 신속한 피해구제를 위해 최선의 노력을 다한다.

                                </li>
                                <li>
                                    <em>4.</em>
                                    고령금융소비자에게 금융상품을 구매권유할 때 금융상품 이해수준, 구매목적, 구매경험, 재무상태 등에 대한 충분한 정보를 파악하여 적합하지 아니한 상품을 구매 권유하지 않아야 한다.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">제5조(적합성의 원칙)</p>
                        <p class="txt">
                            직원은 금융소비자에게 금융상품 구매 권유시 금융소비자의 성향, 재무 상태, 연령 등에 대한 충분한 정보를 파악하여 금융소비자가 적합한 상품을 구매하도록 최선의 노력을 다한다. <br/>
                            특히, 금융취약계층 (65세 이상, 장애인, 은퇴자, 주부) 등에 대해 정확한 상품 이해 및 적절한 금융거래를 할 수 있도록 구매권유를 하는 경우 금융상품에 대한 이해수준, 투자목적, 투자경험 유무 등도 종합적으로 고려하여야 하며, 금융소비자의 불이익 사항을 다른 정보보다 우선적으로 설명하고 반드시 그 이해여부를 확인한다.
                        </p>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">제6조(정보보호의 원칙)</p>
                        <p class="txt">
                            직원은 금융상품 판매와 관련하여 개인정보의 수집 및 활용이 필요할 경우 명확한 동의 절차를 통하여 그 목적에 부합하는 최소한의 정보만 수집활용하고, 당해 정보를 선량한 관리자의 주의로서 관리하며, 당해 목적 이외에는 사용하지 아니한다.
                        </p>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">제7조(권한남용 금지의 원칙)</p>
                        <p class="txt">
                            직원은 우월적 지위를 남용하거나 금융소비자의 권익을 침해하는 행위를 하지 않아야 한다.<br/>
                            특히 다음 각 호의 사항은 권한의 남용에 해당되는 행위로 발생하지 않도록 주의하여야 한다.
                        </p>
                        <div class="guide-txt-wrap">
                            <ul class="list-bull type-large num">
                                <li>
                                    <em>1.</em>
                                    여신지원 등 은행의 서비스 제공과 관련하여 금융소비자의 의사에 반하는 다른 금융상품의 구매를 강요하는 행위
                                </li>
                                <li>
                                    <em>2.</em>
                                    대출상품 등과 관련하여 부당하거나 과도한 담보 및 보증을 요구하는 행위
                                </li>
                                <li>
                                    <em>3.</em>
                                    부당한 금품제공 및 편의제공을 금융소비자에게 요구하는 행위
                                </li>
                                <li>
                                    <em>4.</em>
                                    직원의 실적을 위해 금융소비자에게 가장 유리한 계약조건의 금융상품을 추천하지 않고 다른 금융상품을 추천하는 행위
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- //contents -->

        <!-- s: 상단 이동 버튼 -->
	    <button type="button" name="button" class="btn-circle top ir btn-top">위로</button>
	    <!-- //e: 상단 이동 버튼 -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

