<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--D: 텍스트 변경 및 list-bull 구조변경-->

                <div class="tit-wrap">
					<p class="txt">PC에서 스마트폰으로<br/><strong>공동인증서 복사</strong>를 진행해요</p>
				</div>
				<div class="choice-box">
                    <a href="#none" class="in">
                        <p>PC &#8594; 스마트폰 복사</p>
						<p>(공동인증서 가져오기)</p>
                    </a>
                </div>
				<div class="sub-tit-wrap">
					<p class="tit">진행방법을 안내해드려요</p>
				</div>
				<div class="bg-box">
					<p>PC에서 '인증센터' 메뉴 클릭</p><!--D: 텍스트 변경-->
				</div>
				<div class="bg-box">
					<p>'공동인증서 내보내기' 선택</p>
				</div>
				<div class="bg-box">
					<p>PC에서 내보낼 공동인증서 선택 후 비밀번호 입력</p><!--D: 텍스트 변경-->
				</div>
				<div class="bg-box">
					<p>PC에서 앱에서 생성된 인증번호(12자리) 입력</p><!--D: 텍스트 변경-->
				</div>


                <div class="list-bull"><!--D: 구조변경 및 텍스트 변경-->
                    <div class="border"></div>
                    <strong>알아두세요</strong>
                    <ul>
                        <li>매달 정해진 날짜에 납입하시는 정액식 정기적금에 한하여 납입일을 변경하실 수 있어요</li>
                        <li>구글(Google)의 앱 보안정책 변경으로<br/>
                            공동인증서(구 공인인증서) 저장 방법이 변경되어요<br/>
                            (2021.08.02시행)<br/>
                            변경 전 : 스마트폰에 저장되어 있는 공동인증서 연동하여 사용<br/>
                            <span class="point-red">변경 후 : 금융사 별 앱마다 공동인증서를 개별 등록하여 사용<br/>
                            (타기관 공동인증서 등록)</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
			<div class="btn-wrap">
				<a href="#none" class="btn">다음</a><!--D: 텍스트 변경-->
			</div>
		</div>

    </div>
    <!-- //contentsWrap -->
</body>
</html>

