<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <!--D: 변경사항 없습니다.-->

                <div class="tit-wrap">
					<p class="txt"><strong>mOTP</strong>란?</p>
					<p class="s-txt">별도의 실물 보안매체 없이 간편하게 인증이<br/> 가능하며, 스마트폰의 안전한 영역에서 사용자<br/> 검증을 통해 생성된 OTP 번호를 자동으로<br/> 인증하는 서비스예요</p><!--[퍼블-2] 추가-->
				</div>

                <div class="sub-tit-wrap">
					<p class="tit">설정 전, 확인해 주세요</p>
					<div class="bg-box">
						<dl class="list-bull">
							<dt>발급대상</dt>
							<dd>개인고객(기업고객 제외)</dd>
						</dl>
						<dl class="list-bull">
							<dt>이용채널</dt>
							<dd>인터넷/스마트폰 뱅킹</dd>
						</dl>
						<dl class="list-bull">
							<dt>이체한도</dt>
							<dd>mOTP : 1회 1천만원 / 1일 5천만원</dd>
							<dd>mOTP : 1회 5천만원 / 1일 2억5천만원</dd>
						</dl>
						<dl class="list-bull">
							<dt>이용가능 휴대폰 OS</dt>
							<dd>안드로이드 : 6.0 이상 권장</dd>
							<dd>아이폰 : 10.3 이상 권장</dd>
						</dl>
						<dl class="list-bull">
							<dt>유의사항</dt>
							<dd>mOTP 이용은 거래 저축은행별 1인 1개로 제한돼요</dd>
							<dd>기기변경, APP 삭제 후 재설치, 데이터 초기화,
								핀번호 분실 등의 경우에는 재발급 하세요</dd>
							<dd>mOTP 핀번호는 타인에게 유출되지 않도록
								각별히 주의해 주세요</dd>
							<dd>다음의 변호가 포함될 경우 설정이 불가해요
								<ul class="list-bull">
									<li>주민등록번호 13자리 중 연속 6자리</li>
									<li>연속 또는 동일한 숫자 6자리</li>
									<li> 휴대폰번호 11자리 중 연속 6자리</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>

            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
			<div class="btn-wrap">
				<a href="#none" class="btn">다음으로</a><!--D:텍스트 변경-->
			</div>
		</div>


        <!--//D: mOTP 유의사항 팝업 화면설계서에는 없음 기존 소스에 있어 넣어놨습니다.-->
        <div id="lyPullPop01" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-menu-close">
            <!-- s: contents -->
            <div class="pop-header">
                <h2 class="pop-title">mOTP 유의사항</h2>
                <button type="button" name="button" class="btn-layer-close" onclick="closePopup('lyPullPop01')">닫기</button>
            </div>
            <div class="pop-con-wrap" style="padding-bottom: 100px;">
                <div class="default-wrap">
                    <div class="sub-tit-wrap mb15">
                        <p class="tit mb15">유의사항</p>
                        <ul class="txt dot">
                            <li>mOTP 이용은 거래 저축은행별 1인 1개로 제한되어요</li>
                            <li>기기변경, App 삭제 후 재설치, 데이터 초기화, 핀번호 분실 등의 경우에는 재발급 하세요</li>
                            <li>mOTP 핀번호는 타인에게 유출되지 않도록 각별히 주의해주세요</li>
                            <li>다음의 번호가 포함될 경우 설정이 불가해요
                                <ul class="list-bull hyphen">
                                    <li>주민등록번호 13자리 중 연속 6자리</li>
                                    <li>연속 또는 동일한 숫자 6자리</li>
                                    <li>휴대폰번호 11자리 중 연속 6자리</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--D: mOTP 유의사항 팝업//-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

