<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230804091336"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230804091336" id="biz_common" 
	data-menuId="crt"
	data-frameId="othCertReg2"
	data-serviceCd="othCertReg2.frm" 
	data-serverTime="20230804091336"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>
<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->
    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <div class="tit-wrap">
					<p class="txt"><strong>타기관 인증서 등록</strong>을 위한<br/>정보를 입력해주세요</p>
				</div>
                <!--D: 화면설게서 기준으로는 아이디, 인증서 종류 선택 폼만 있습니다. 그 외 폼은 기존 개발 소스에 있는 폼이라 그대로 유지 했습니다.-->
                <div class="form-all-wrap"><!--D: form-all-wrap 감싸는 구조 추가-->
					
                    <div class="form-wrap">
                        <label for="ipt01" class="formlabel essential">아이디</label><!--D:essential 클래스 추가-->
                        <div class="input">
                            <input type="text" title="아이디" id="USR_ID" class="inp" name="" value="" placeholder="아이디 입력" required="">
                            <!-- <button type="button" class="btn-certi">중복확인</button> -->
                        </div>
                    </div>
                    <div class="form-wrap">
                        <div class="select-box" tabindex="1" onclick="openPopupUp('lySel02');">
                            <label for="" class="essential">인증서 종류 선택</label><!--D: essential 클래스 추가-->
                            <span class="option">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap password">
                        <label for="PWD01" class="formlabel">비밀번호</label>
                        <div class="input">
                            <input type="password" title="비밀번호" id="PWD01" class="inp" name="" value="" maxlength="4" required="" placeholder="비밀번호를입력" >
                        </div>
                    </div>
                    <p class="info-txt">
                        잊으신 경우 '비밀번호 분실 재등록' 하신 후 이용해 주세요
                    </p>
                    <!-- S: 구조 변경 -->
                    <div class="form-wrap"><!--input태그 select-wrap태그 삭제 후 form-wrap 구조로 감싸기.-->
                        <a href="#none" class="btn-txt ta-r">비밀번호 분실 재등록</a><!--D: 버튼 form-wrap 안으로 이동-->
                        <div class="select-box" tabindex="1" onclick="openPopupUp('lySel01');">
                            <label for="">등록구분</label>
                            <span class="option">미선택</span>
                        </div>
                    </div>
                    <!-- E: 구조 변경 -->
    
                    <div class="form-wrap w50">
                        <label for="ipt02" class="formlabel">주민등록번호</label>
                        <div class="input">
                            <span>
                                <input type="tel" title="주민등록번호 앞자리" id="ipt02" class="inp" name="" value="" maxlength="6" required="">
                            </span>
                            <span class="inputTextHyphen">-</span>
                            <span>
                                <input type="tel" title="주민등록번호 뒷자리(첫번째 숫자)" id="jumin1" class="inp" name="jumin1" value="" maxlength="1" required="">
                                <span class="jumintext">●●●●●●</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-wrap ">
                        <label for="ipt01" class="formlabel">사업자등록번호</label>
                        <div class="input">
                            <input type="text" title="사업자등록번호" id="USR_ID" class="inp" name="" value="" placeholder="사업자등록번호 입력값"  maxlength="10"  required="">
                        </div>
                    </div>
                </div>
                
                <div class="list-bull"><!--D: 구조 변경-->
                    <div class="border"></div>
                    <strong>알아두세요</strong>
                    <ul>
                        <li>타기관 인증서 등록 전, 전자금융사기예방서비스에 반드시 가입되어있어야 해요(단, 해외체류자 제외)</li>
                        <li>전자금융사기예방서비스 미 가입 고객님은 아이디로 로그인 하신 후 가입부터 진행해주세요(가입 시 공동인증서 필요없음)</li>
                        <li>처음 로그인하시는 고객님은 반드시 최초 사용자비밀번호 등록을 해주세요</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <!-- //contents -->

        <!-- // D: 인증서 종류 선택 팝업 -->
        <div id="lySel02" class="layerpopup layer-up show" style="display:none;"><!-- [D] 클래스 has-button 추가 시 하단 fixed 버튼 있을 시 스타일 노출-->
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">인증서</h2><!--D: 화면설계서 기준 텍스트 변경-->
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con ly-select">
                    <ul class="ly-select-list">
                        <li><button onclick="PageFunc.proc('fincert');">금융인증서</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                        <li><button onclick="PageFunc.proc('toss');">토스인증서</button></li>
                        <li><button onclick="PageFunc.proc('kakao');">카카오인증서</button></li>
                        <li><button onclick="PageFunc.proc('naver2');">네이버인증서</button></li>
                        <li><button onclick="PageFunc.proc('delfino');">공동인증서</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- D: 인증서 종류 선택 팝업 // -->
    </div>
    <!-- //contentsWrap -->
</body>
</html>