<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <!--D: 변경사항 없습니다.-->
                <div class="visaul-info-section">
                    <div class="visaul-info-box">
                        <strong class="info-tit">예적금담보대출(인터넷뱅킹)</strong>
                        <div class="account-area">
                            <p class="account">123-12-12-1234567</p>
                            <button type="button" class="btn-copy">복사하기</button>
                        </div>
                        <a href="#none" class="btn-set"></a>
                    </div>
                </div>
    
                <div class="txt-list-wrap">
    
                    <div class="txt-detail-area">
                        <ul class="txt-list">
                                <li>
                                <span class="tit">대출신청금액</span>
                                <span class="txt">500,000,000,000원</span>
                            </li>
                            <li>
                                <span class="tit">계좌상태</span>
                                <span class="txt">정상</span>
                            </li>
                            <li>
                                <span class="tit">대출신청일</span>
                                <span class="txt">2023.01.01</span>
                            </li>
                            <li>
                                <span class="tit">대출만기일</span>
                                <span class="txt">2023.12.31</span>
                            </li>
                            <li>
                                <span class="tit">상환방법</span>
                                <span class="txt">만기일시상환</span>
                            </li>
                            <li>
                                <span class="tit">이자납입일</span>
                                <span class="txt">매월 4일</span>
                            </li>
                            <li>
                                <span class="tit">최종거래일</span>
                                <span class="txt">2023.05.01</span>
                            </li>
                            <li>
                                <span class="tit">기본이율<br>(현재적용이율)</span>
                                <span class="txt">3.2%</span>
                            </li>
                            <li>
                                <span class="tit">연체이율</span>
                                <span class="txt">6.2%</span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
    
                <ul class="arrow-button-list">
                    <li><a href="#none" onclick="goTrnHist()">거래내역</a></li>
                    <li><a href="#none" onclick="goRpyList()">상환일정조회</a></li>
                    <li><a href="#none" onclick="goIntrWthd()">이자(원리금)즉시출금요청</a></li>
                    <li><a href="#none" onclick="goIntrRedu()">금리인하요구권 신청</a></li>
                    <li><a href="#none" onclick="goLoanCancel()">대출철회신청 안내</a></li>
                    <li><a href="#none" onclick="">예적금담보대출 상계신청</a></li>
                    <li><a href="#none" onclick="goRpyPrc()">원금상환/한도해지</a></li>
                </ul>
            </div>
        </div>
        <!-- //contents -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

