<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>대출신청</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                
                <div class="tit-wrap">
                    <p class="txt"><strong>추가적인 정보</strong>가<br/>더 필요해요</p>
                </div>
                <!--S: FORM -->
                <div class="form-all-wrap"><!--D: 5/13 - form 전체 감쌀 경우 : form-all-wrap / slect-box를 감쌀 경우 slect-wrap이 아닌 form-wrap으로 감싸주세요-->

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div id="selDiv1" class="select-box openSel" tabindex="1">
                            <label for="qValue1" class="essential">자금용도</label><!--D: essential 클래스 사용-->
                            <span class="option" id="qText1">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div id="selDiv2" class="select-box openSel" tabindex="1">
                            <label for="qValue2"  class="essential">의료보험</label><!--D: essential 클래스 사용-->
                            <span class="option" id="qText2">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div id="selDiv3" class="select-box openSel" tabindex="1">
                            <label for="qValue3" class="essential">거주형태</label><!--D: essential 클래스 사용-->
                            <span class="option" id="qText3">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div id="selDiv4" class="select-box openSel" tabindex="1">
                            <label for="qValue4" class="essential">직업선택</label><!--D: essential 클래스 사용-->
                            <span class="option" id="qText4">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div id="selDiv5" class="select-box openSel" tabindex="1">
                            <label for="qValue5" class="essential">차량보유여부</label><!--D: essential 클래스 사용-->
                            <span class="option" id="qText5">미선택</span>
                        </div>
                    </div>

                </div>
                <!--E: FORM -->
            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol"><!--D: flexCol클래스 추가-->
                <a href="javascript:void(0);" class="btn disabled">다음</a><!--D: disabled 삭제 시 활성화-->
                <a href="javascript:void(0);" class="btn txt">그만하기</a><!--D: btn txt클래스로 변경-->
            </div>
        </div>

        <!--S: 자금용도(팝업)-->
        <div id="lySel1" class="layerpopup layer-up show" style="display: none;">
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">자금용도</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con ly-select">
                    <ul class="ly-select-list">
                        <li><button>주택구입</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                        <li><button>전세자금</button></li>
                        <li><button>생활비</button></li>
                        <li><button>부채상환</button></li>
                        <li><button>경조사비용</button></li>
                        <li><button>기타</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--E: 자금용도(팝업)-->

        <!--S: 의료보험(팝업)-->
        <div id="lySel2" class="layerpopup layer-up show" style="display: none;">
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">의료보험</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con ly-select">
                    <ul class="ly-select-list">
                        <li><button>직장의료보험</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                        <li><button>지역의료보험</button></li>
                        <li><button>없음</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--E: 의료보험(팝업)-->

        <!--S: 거주형태(팝업)-->
        <div id="lySel3" class="layerpopup layer-up show" style="display: none;">
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">거주형태</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con ly-select">
                    <ul class="ly-select-list">
                        <li><button>자가</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                        <li><button>임대</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--E: 거주형태(팝업)-->

        <!--S: 직업선택(팝업)-->
        <div id="lySel4" class="layerpopup layer-up show" style="display: none;">
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">직업선택</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con ly-select">
                    <ul class="ly-select-list">
                        <li><button>급여소득자</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                        <li><button>자영업자</button></li>
                        <li><button>주부</button></li>
                        <li><button>프리랜서</button></li>
                        <li><button>연금소득자</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--E: 직업선택(팝업)-->

        <!--S: 차량보유여부(팝업)-->
        <div id="lySel5" class="layerpopup layer-up show" style="display: none;">
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">차량보유여부</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con ly-select">
                    <ul class="ly-select-list">
                        <li><button>보유</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                        <li><button>미보유</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--E: 차량보유여부(팝업)-->

        <!--S: 차량번호(팝업)-->
        <div id="lyAlert1" class="layerpopup type-alert on" style="display: none;">
            <div class="content-wrap">
                <div class="pop-con-wrap">
                    <span class="pop-con">차량번호를 입력해 주세요</span>
                </div>
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn">확인</a>
                </div>
            </div>
        </div>
        <!--E: 차량번호(팝업)-->


        <!--S: [퍼블-1] - 차량번호 입력 (팝업)-->
        <div id="lySelBtn" class="layerpopup layer-up has-button show" style="position: fixed; top: 230.5px; left: 0px; display: block;">
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title essential">차량번호</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con">
                    <div class="form-wrap">
                        <div class="input">
                            <input type="text" title="차량번호" id="ipt02" class="inp" name="" value="" placeholder="차량번호 입력" required="">
                        </div>
                    </div>
                </div>
                <div class="fixed-btn-wrap">
                    <div class="btn-wrap ">
                        <a href="#none" class="btn">확인</a>
                    </div>
                </div>
            </div>
        </div>
        <!--E: [퍼블-1] - 차량번호 입력 (팝업)-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

