<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>대출약정</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--D: step_bar 삭제-->

                <div class="tit-wrap">
                    <p class="txt"><strong>계약내용을 확인</strong>하세요</p>
                </div>
                
                <!--S: 디자인 추가-->
                <div class="amount-wrap">
                    <p class="txt">대출금액</p>
                    <div class="num-area">
                        <p class="num"><span>3,000</span> 만원</p>
                        <p class="txt">직장인 신용대출</p>
                    </div>
                </div>
                <!--E: 디자인 추가-->
                <!-- <p class="info-txt"><span class="color-4E32A5">2.5% </span>를 제외하고 송금됩니다.</p> -->

                <!-- <div class="amount-wrap">
                    <p><span class="color-4E32A5">2.5% </span>를 제외하고 송금됩니다.</p>
                </div>

                <div class="sub-tit-wrap">
                    <p class="tit"><span>2.5%</span>를 제외하고 송금됩니다.</p>
                </div> -->

                <div class="txt-list-wrap">
                    <div class="txt-detail-area">
                        <!-- D: txt-detail-tit 구조 삭제-->
                        <ul class="txt-list">
                            <li>
                                <span class="tit">이름</span><!--D: 텍스트 수정-->
                                <span class="txt" id=""></span>
                            </li>
                            <li>
                                <span class="tit">주민등록번호</span>
                                <span class="txt" id="ssn"></span>
                            </li>
                            <li>
                                <span class="tit">주소</span>
                                <span class="txt" id="PADD">0000<br/>서울시 강남구 강남동<br/>신동아아파트<br/>000동 000호</span>
                            </li>
                            <li>
                                <span class="tit">대출시작일</span><!--D: 텍스트 수정-->
                                <span class="txt" id="loanDay"></span>
                            </li>
                            <li>
                                <span class="tit">대출만기일</span><!--D: 텍스트 수정-->
                                <span class="txt" id="loanEndDay"></span>
                            </li>
                            <li>
                                <span class="tit">상환방법</span>
                                <span class="txt" id=""></span>
                            </li>
                            <li>
                                <span class="tit">이율</span>
                                <span class="txt" id="normalRt">%</span>
                            </li>
                            <li>
                                <span class="tit">연체이율</span><!--D: 텍스트 수정-->
                                <span class="txt" id="">이율 + 3%</span>
                            </li>
                            <li>
                                <span class="tit">이자납입일</span><!--D: 텍스트 수정-->
                                <p class="txt" id="">매월 18일</p>
                            </li>
                            <li>
                                <span class="tit">이자출금계좌</span><!--D: 추가-->
                                <p class="txt" id="">국민은행/이가람/101-23-4567-980</p>
                            </li>
                            <li>
                                <span class="tit">입출금계좌</span><!--D: 추가-->
                                <p class="txt" id="">01-23-457-1980-12</p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol"><!--D: flexCol 클래스 추가-->
                <a href="#none" class="btn"  onclick="openPopup('lyAlert1');">전자서명</a><!--D: 텍스트 변경-->
                <a href="#none" class="btn txt">그만하기</a><!--D: 위치 변경 및 btn txt 클래스 변경-->
            </div>
        </div>


        <!--S: '전자계약서 이메일 발송' 컨펌 (Alert)-->
        <div id="lyAlert1" class="layerpopup type-alert">
            <div class="content-wrap">
                
                <div class="pop-con-wrap">
                    <span class="pop-con"><b>yegaram@yegaram.co.kr</b> 로<br/>계약서를 받으시겠어요?</span>
                </div>
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn btn-info" onclick="">취소</a>
                    <a href="javascript:void(0);" class="btn"  onclick="closePopup('lyAlert1');">확인</a>
                </div>
            </div>
        </div>
        <!--E: '전자계약서 이메일 발송' 컨펌 (Alert)-->

        <!--S: [240726 기획/개발현행화] - 팝업 버튼 있을 경우-->
        <div id="lyPop2" class="layerpopup layer-up has-button show"  style="display:block;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">진행 전 확인해 주세요!</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con">
                    <div class="txtbox-wrap">
                        <p>
                            * 대출실행 금액에서 1회차 보증료와 송금 수수료가 제외되고 송금됩니다.
                        </p>
                        <p>
                            - 햇살론은 서민금융진흥원 보증부대출로 대출기간 동안 보증료가 발생됩니다.</br>
                            - 보증료는 대출기간(보증기간)동안 분할납부(보증잔액*보증료율*보증일수/365)되며, 납부금액은 매월 결제일 이전에 서민금융진흥원에서 문자로 안내됩니다.
                        </p>
                    </div>
                </div>
                <div class="fixed-btn-wrap">
                    <div class="btn-wrap">
                        <a href="#none" class="btn">확인</a>
                    </div>
                </div>
            </div>
            
        </div>
        <!--E: 팝업 버튼 있을 경우-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

