<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>대출신청</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--D: step_bar 단게 구조 삭제-->
                
                <div class="tit-wrap">
                    <p class="txt"><strong>대출신청</strong>을 위해<br/><strong>직장정보</strong>가 필요해요</strong></p><!--[퍼블-1]: strong 위치 변경-->
                </div>

                <!--S: FORM -->
                <div class="form-all-wrap"><!--D: 5/13 - form 전체 감쌀 경우 : form-all-wrap / slect-box를 감쌀 경우 slect-wrap이 아닌 form-wrap으로 감싸주세요-->

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div class="select-box" tabindex="1">
                            <label for="" class="essential">직종</label><!--D: essential 중요표시-->
                            <span class="option">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div class="select-box" tabindex="1">
                            <label for="" class="essential">근로자유형</label><!--D: essential 중요표시-->
                            <span class="option">미선택</span>
                        </div>
                    </div>

                    
                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div id="rolldate2" class="select-box type2" tabindex="1">
                            <label for="" class="essential">급여일</label><!--D: essential 중요표시-->
                            <span class="option">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap"><!--D: 5/13  개발 포커스 및 error 적용 문제로 select-wrap을 form-wrap으로 변경-->
                        <div id="rolldate" class="select-box type2" tabindex="1"><!--D: rolldate 입사연월일 -->
                            <label for="" class="essential">입사일자</label><!--D: essential 중요표시--><!-- [퍼블-1] 텍스트 수정  -->
                            <span class="option">미선택</span>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <label for="" class="formlabel essential">직장명</label><!--D: essential 중요표시-->
                        <div class="input">
                            <input type="text" title="직장명" class="inp validChk" name="" id="" value=""  placeholder="직장명 입력" required />
                            <button type="reset" class="btn-delete">검색어 삭제</button>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <label for="" class="formlabel essential">직장전화</label><!--D: essential 중요표시-->
                        <div class="input">
                            <input type="tel" title="직장전화" class="inp" name="" id="" value="" maxLength="11" placeholder="직장전화 입력" required />
                        </div>
                    </div>


                    <div class="form-wrap form-line address">
                        <label for="" class="formlabel essential">직장주소</label><!--D: essential 중요표시-->
                        <div class="input" ><!--D: <span>이 아닌 <div class="input">로 변경 -->
                            <input type="text" title="주소검색" id="" class="inp" name="" value=""  placeholder="우편번호 입력"required readonly>
                            <button type="button" class="btn-certi">우편번호찾기</button>
                        </div>
                        <div class="input"><!--D: <span>이 아닌 <div class="input">로 변경 -->
                            <input type="text" id="" class="inp" name="" value="" placeholder="주소 입력" required readonly>
                        </div>
                        <div class="input"><!--D: <span>이 아닌 <div class="input">로 변경 -->
                            <input type="text" id="" class="inp" name="" value=""  placeholder="상세주소 입력" required style="display:block;">
                        </div>
                    </div>

                </div>
                <!--E: FORM -->

            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol"><!--D: flexCol 클래스 사용-->
                <a href="#none" class="btn disabled" >다음</a><!--D: disabled 삭제시 활성화-->
                <a href="#none" class="btn txt">그만하기</a><!--D: btn txt 클래스 사용-->
            </div>
        </div>


        <!--S: 근로자유형-->
        <div id="lySel1" class="layerpopup layer-up show" style=" display: none;">
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">근로자유형</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con ly-select">
                    <ul class="ly-select-list">
                        <li><button>정규직</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                        <li><button>비정규직</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--E: 근로자유형-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

