<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>대출신청</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap grid"><!--D: 이용문의 하단 고정으로 grid 클래스 추가 - section 구조 필요-->
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--[퍼블-1] : 리테일 상품 추가 - 아래 이용문의 배너는 일괄 적용 -->
                <!--S: 대출신청 완료(스크린골프동산담보대출) -->
                <section class="result-area checking">
                    <p class="tit"><strong>스크린골프동산담보대출<br/>접수 신청이 완료되었어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>담보대출 정확한 승인여부 확인을 위해<br/>
                            전문 상담원이 전화 드릴 예정이에요</p>
                    </div>
                </section>
                <!--E: 대출신청 완료(스크린골프동산담보대출) -->

                <!--S: 대출신청 완료(부동산담보대출) -->
                <section class="result-area checking">
                    <p class="tit"><strong>부동산담보대출<br/>접수 신청이 완료되었어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>담보대출 정확한 승인여부 확인을 위해<br/>
                            전문 상담원이 전화 드릴 예정이에요
                    </div>
                </section>
                <!--E: 대출신청 완료(부동산담보대출) -->
                <!--[퍼블-1] : 리테일 상품 추가 - 아래 이용문의 배너는 일괄 적용//-->

                <!--//대출_대출신청-->
                <!--S: 신청중인경우-->
                <section class="result-area ing"  style="display:block;">
                    <p class="tit"><strong>이미 대출을<br/>신청 중이에요</strong></p>
                </section>
                <!--E: 신청중인경우-->

                <!--S: 상담연결대기-->
                <section class="result-area exclamation"  style="display:block;">
                    <p class="tit"><strong>신청해주신 대출은<br/>상담이 필요해요</strong></p>
                    <div class="bg-box">
                        <p class="box-tit"><strong>논스톱 자동대출</strong></p>
                        <p class="box-desc">보다 정확한 상담을 위해<br/>빠른시간 내에 당행 상담원이 연락 드릴게요</p>
                    </div>
                </section>
                <!--E: 상담연결대기-->

                <!--S: 제휴사(혁신채널)대출신청 중인 경우-->
                <section class="result-area ing"  style="display:block;">
                    <p class="tit"><strong>제휴사를 통해<br/>접수된 대출신청이 있어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>접수하신 대출을 진행하시려면 "이어서 대출하기"<br/>버튼을 눌러주세요</p>
                    </div>
                </section>
                <!--E: 제휴사(혁신채널)대출신청 중인 경우-->

                <!--S: 대출심사중인 경우-->
                <section class="result-area ing"  style="display:block;">
                    <p class="tit"><strong>신청하신 대출이<br/>심사 중이세요</strong></p>
                    <div class="txtbox-wrap">
                        <p>상담원이 연락 드릴 예정이에요</p>
                    </div>
                    <div class="txt-list-wrap">
                        <div class="txt-detail-area">
                            <div class="txt-detail-tit">
                                <strong>XX론</strong>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">신청일시</span>
                                    <span class="txt">YYYY.MM.DD hh:ss</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--E: 대출심사중인 경우-->

                <!--S: 전자계약서 작성 중인 경우-->
                <section class="result-area ing"  style="display:block;">
                    <p class="tit"><strong>작성중인<br/>전자계약서가 있어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>전자계약서 작성 완료 후 대출을 신청하세요</p>
                    </div>
                </section>
                <!--E: 전자계약서 작성 중인 경우-->

                <!--S: 대출승인거절-->
                <section class="result-area exclamation"  style="display:block;">
                    <p class="tit"><strong>아쉽게도 대출이<br/> 승인되지 않았어요</strong></p>
                </section>
                <!--E: 대출승인거절-->

                <!--S: 상담대출가능-->
                <section class="result-area exclamation"  style="display:block;">
                    <p class="tit"><strong>아쉽게도 대출이<br/> 승인되지 않았어요</strong></p>
                    <div class="bg-box">
                        <p class="box-desc">다른 대출상품을 상담이 필요하시면<br/>대출상담 신청하기를 버튼을 누르세요</p>
                    </div>
                </section>
                <!--E: 상담대출가능-->

                <!--S: 대출진행불가(중복거래)-->
                <section class="result-area exclamation"  style="display:block;">
                    <p class="tit"><strong>중복거래가 확인되어<br/>대출진행이 중지되었어요</strong></p>
                </section>
                <!--E: 대출진행불가(중복거래)-->

                <!--S: 상담원대출진행-->
                <section class="result-area exclamation"  style="display:block;">
                    <p class="tit"><strong>중복거래가 확인되어<br/>대출진행이 중지되었어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>상담원이 연락드릴 예정이에요</p>
                    </div>
                </section>
                <!--E: 상담원대출진행-->

                <!--S: 대출신청 완료-->
                <section class="result-area checking"  style="display:block;">
                    <p class="tit"><strong>대출을 신청했어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>10분 내로 등록하신 계좌에 입금할게요</p>
                    </div>
                </section>
                <!--E: 대출신청 완료-->

                <!--S: 대출신청 완료(상담원 전화 예정)-->
                <section class="result-area checking"  style="display:block;">
                    <p class="tit"><strong>대출을 신청했어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>대출 심사 및 입금을 위해<br/>상담원이 전화 드릴 예정이에요</p>
                    </div>
                </section>
                <!--E: 대출신청 완료(상담원 전화 예정)-->
                <!--//대출_대출신청-->

                <!--//대출_신용조회동의-->
                <!--S: 신용조회동의 완료-->
                <section class="result-area checking">
                    <p class="tit"><strong>신용조회를 동의했어요</strong></p>
                </section>
                <!--E: 신용조회동의 완료-->
                <!--대출_신용조회동의//-->

                <!--//대출_전자계약서 작성하기-->
                <!--S: 전자계약서 작성 완료(대출금 입금) -->
                <section class="result-area checking">
                    <p class="tit"><strong>대출계약이 완료되었어요<br/>빠르게 입금해 드릴게요</strong></p>
                    <!-- <div class="txtbox-wrap">
                        <p>빠르게 입금해 드릴게요</p>
                    </div> -->
                </section>
                <!--E: 전자계약서 작성 완료(대출금 입금) -->

                <!--S: 전자계약서 작성 시간 초과 안내(1) -->
                <section class="result-area exclamation"  style="display:block;">
                    <p class="tit"><strong>불편을 드려 죄송해요<br/>지금은 전자게약서<br/>작성 시간이 아니에요</strong></p>
                    <div class="txtbox-wrap">
                        <p>영업 익일에 대출신청 안내를 위해</br/>상담원이 전화 드릴 예정이에요</p>
                    </div>
                    <div class="bg-box">
                        <p class="box-desc">
                            전자계약서 작성 가능시간<br/>
                            평일 09:000 ~ 18:00 (주말 및 공휴일 휴무)
                        </p>
                    </div>
                </section>
                <!--E: 전자계약서 작성 시간 초과 안내(1) -->

                <!--S: 대출가능시간 초과/전자계약서 작성 시간 초과 안내(2)-->
                <section class="result-area exclamation">
                    <p class="tit"><strong>대출을 신청했어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>다만 대출 가능 시간이 초과되어<br/>상담원이 전화 드릴 예정이에요</p>
                    </div>
                </section>
                <!--E: 대출가능시간 초과/전자계약서 작성 시간 초과 안내(2)-->

                <!--S: 대출신청 완료(서류제출 필요 안내)/온라인 서류제출 필요 안내-->
                <section class="result-area exclamation">
                    <p class="tit"><strong>대출을 신청했어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>온라인바로대출 신청에 필요한 서류를</br/>온라인서류제출 메뉴를 이용하여 직접 제출해 주세요</p>
                    </div>
                </section>
                <!--E: 대출신청 완료(서류제출 필요 안내)/온라인 서류제출 필요 안내-->
                <!--대출_전자계약서 작성하기//-->
                

                <!--S: 전자계약서 작성 완료(상담원 연락 예정) -->
                <section class="result-area checking">
                    <p class="tit"><strong>전자계약서 작성을 완료했어요</strong></p>
                    <div class="txtbox-wrap">
                        <p>대출 심사와 대출금 입금을 위해</br/>상담원이 연락드릴 예정이에요</p>
                    </div>
                </section>
                <!--E: 전자계약서 작성 완료(상담원 연락 예정) -->

                <!--S: 이용문의 (하단고정 - 일괄 적용) : 이 페이지 모든 결과 화면은 이용문의 내용이 일괄 적용됩니다.-->
                <section class="sub-info-wrap">
                    <div class="tel">이용문의 <strong>1877-7788</strong></div>
                    <p>평일 09:00 ~ 18:00<br>(주말 및 공휴일 휴무)</p>
                </section>
                <!--E: 이용문의 (하단고정 - 일괄 적용)-->
                
            </div>
        </div>
        <!-- //contents -->


        <!---- D: 버튼---->
        <!--S: 상담연결대기/대출심사중인경우/대출승인거절/대출진행불가(중복거래)/상담원대출진행/대출신청 완료/전자계약서 작성 시간 초과 안내/전자계약서 작성 완료(대출금 입금) -->
        <div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <a href="javascript:void(0);" class="btn">홈으로</a>
            </div>
        </div>
        <!--E: 상담연결대기/대출심사중인경우/대출승인거절/대출진행불가(중복거래)/상담원대출진행/대출신청 완료/전자계약서 작성 시간 초과 안내/전자계약서 작성 완료(대출금 입금)-->

        <!--S: 신청중인경우-->
        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol">
                <a href="javascript:void(0);" class="btn">대출계속하기</a>
                <a href="javascript:void(0);" class="btn txt">홈으로</a>
            </div>
        </div>
        <!--E: 신청중인경우-->

        <!--S: 제휴사(혁신채널) 대출신청 중인 경우-->
        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol">
                <a href="javascript:void(0);" class="btn">이어서 대출하기</a>
                <a href="javascript:void(0);" class="btn txt">홈으로</a>
            </div>
        </div>
        <!--E: 제휴사(혁신채널) 대출신청 중인 경우-->

        <!--S: 전자계약서작성중인경우-->
        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol">
                <a href="javascript:void(0);" class="btn">전자계약서 작성하기</a>
                <a href="javascript:void(0);" class="btn txt">홈으로</a>
            </div>
        </div>
        <!--E: 전자계약서작성중인경우-->

        <!--S: 상담대출가능-->
        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol">
                <a href="javascript:void(0);" class="btn">대출상담 신청하기</a>
                <a href="javascript:void(0);" class="btn txt">홈으로</a>
            </div>
        </div>
        <!--E: 상담대출가능-->

        <!--S: 대출신청 완료(상담원 전황 예정)/전자계약서 작성 완료(상담원 연락 예정)-->
        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol">
                <a href="javascript:void(0);" class="btn">대출신청 상태보기</a>
                <a href="javascript:void(0);" class="btn txt">홈으로</a>
            </div>
        </div>
        <!--E: 대출신청 완료(상담원 전황 예정)/전자계약서 작성 완료(상담원 연락 예정)-->

        <!--S: 상담대출가능 (Alert)-->
        <div id="lyAlert1" class="layerpopup type-alert on" style="display:none;">
            <div class="content-wrap">
                
                <div class="pop-con-wrap">
                    <span class="pop-con">대출상담 예약 신청이 완료되었어요<br/>상담원이 연락 드릴 예정이에요</span>
                </div>
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn">확인</a>
                </div>
            </div>
        </div>
        <!--E: 상담대출가능 (Alert)-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

