<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.css"> -->

<!-- <script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script> -->
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803133439" id="biz_common" 
	data-menuId=""
	data-frameId="main"
	data-serviceCd="main.frm" 
	data-serverTime="20230803133439"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>
<link href="/resources/css/main_renewal.css" rel="stylesheet" />
<script type="text/javascript">


$(document).ready(function(){

	// 하단배너는 고정
    var newsSlider = new Swiper('.loan-slider-wrap.swiper', { 
        slidesPerView: 1,
        spaceBetween : 20,
        pagination : {
            el : '.swiper-pagination',
            // clickable : true,
        },
		observer:true,
		observeParents:true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        loop : true,
		// loopedSlides: 1,
		centeredSlides: true,
		// initialSlide: 0,
		//   slidesPerGroup: 1,
		//   roundLengths: true,
		loopAdditionalSlides: 1,
    });
    
});
</script>

</head>


<body>
    <!-- header -->
    <header class="headerWrap">
        <div class="headerLeft">
            <a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
        </div>
        <div class="headerCenter">
            <h2 class="text"><span>대출이용가이드</span></h2> <!--D: TEXT -->
        </div>
        <div class="headerRight">
            <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
        </div>
    </header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <section>
                    <ul class="loan-guide-list">
                        <li class="guide1" onclick="openPopupUp('guidePop1');">
                            <span>대출 신청하기</span>
                        </li>
                        <li class="guide2" onclick="openPopupUp('guidePop2');">
                            <span>간편 한도 조회하기</span>
                        </li>
                        <li class="guide3" onclick="openPopupUp('guidePop3');">
                            <span>대출 이어하기</span>
                        </li>
                        <li class="guide4" onclick="openPopupUp('guidePop4');">
                            <span>온라인 서류제출하기</span>
                        </li>
                        <li class="guide5" onclick="openPopupUp('guidePop5');">
                            <span>전자계약서 작성하기</span>
                        </li>
                    </ul>
                </section>



            </div>
        </div>
        <!-- //contents -->

        <!--s:대출신청하기 상세팝업-->
        <div id="guidePop1" class="layerpopup laypop-all has-button login-guide">

            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">대출 신청하기</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="loan-slider-wrap swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong><span class="bk">언제 어디서든 쉽고</span> 빠른 대출</strong>
                                            <p>대출 신청부터 송금까지<br />
                                                10분이면 완료!</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_01.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step1.</strong>
                                            <p>상품 목록에서 신청할 상품을 선택 후,<br />
                                                하단의 대출신청 버튼을 눌러주세요
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_02.gif" alt=""><!--[퍼블-1] : png > gif-->
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step2.</strong>
                                            <p>
                                                대출신청을 위한 정보입력을<br />
                                                순서대로 진행 해주세요
                                            </p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_03.gif" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step3.</strong>
                                            <p>한도조회와 대출신청에 필요한<br />
                                            서류 가져오기를 진행 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_04.gif" alt=""><!--[퍼블-1] : png > gif-->
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step4.</strong>
                                            <p>이제 거의 다 왔어요!<br />
                                                남은 정보를 입력 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_05.gif" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step5.</strong>
                                            <p>대출신청을 위한 전자계약을<br />
                                                진행 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_06.gif" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step6.</strong>
                                            <p>대출 신청이 완료되었어요!</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_07.png" alt=""><!--[퍼블-1] : gif > png -->
                                        </div>
                                    </a>
                                </div>
                                <!--[퍼블-1] : 삭제 <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step7</strong>
                                            <p>대출 신청이 완료되었어요!</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img01_08.png" alt="">
                                        </div>
                                    </a>
                                </div> -->
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn close">충분히 이해했어요</a>
                </div>
            </div>

        </div>
        <!--e:대출신청하기 상세팝업-->

         <!--s:간편 한도 조회하기 상세팝업-->
         <div id="guidePop2" class="layerpopup laypop-all has-button login-guide">

            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">간편한도조회하기</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="loan-slider-wrap swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step1.</strong>
                                            <p>간편한도조회 메뉴 선택 후 시작하기<br />
                                                버튼을 눌러주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img02_01.png" alt=""><!--[퍼블-1] : gif > png -->
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step2.</strong>
                                            <p>대출 한도조회를 위한 정보입력을<br />
                                                순서대로 진행 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img02_02.gif" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step3.</strong>
                                            <p>대출 한도조회에 필요한<br />
                                                서류 가져오기를 진행 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img02_03.gif" alt=""><!--[퍼블-1] : png > gif -->
                                        </div>
                                    </a>
                                </div>
                                <!--[퍼블-1] 추가 -->
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step4.</strong>
                                            <p>한도가 조회된 상품을 누르면 대출<br />
                                                신청을 이어서 진행할 수 있어요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img02_04.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                <!--[퍼블-1] 추가 //-->
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn close">충분히 이해했어요</a>
                </div>
            </div>

        </div>
        <!--e:간편 한도 조회하기 상세팝업-->

         <!--s:대출이어하기 상세팝업-->
         <div id="guidePop3" class="layerpopup laypop-all has-button login-guide">

            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">대출이어하기</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="loan-slider-wrap swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step1.</strong>
                                            <p>대출이어하기 메뉴를 선택 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img03_01.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step2.</strong>
                                            <p>대출 이어하기를 위한 정보입력을<br />
                                                순서대로 진행 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img03_02.png" alt=""><!--[퍼블-1] : gif > png -->
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step3.</strong>
                                            <p>기존에 신청중이던 대출 단계를<br />
                                                이어서 진행해요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img03_03.png" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn close">충분히 이해했어요</a>
                </div>
            </div>

        </div>
        <!--e:대출이어하기 상세팝업-->
        <!--s:온라인 서류제출하기 상세팝업-->
         <div id="guidePop4" class="layerpopup laypop-all has-button login-guide">

            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">온라인서류제출</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="loan-slider-wrap swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step1.</strong>
                                            <p>온라인서류제출 메뉴 선택 후<br />
                                                본인인증 버튼을 눌러주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img04_01.gif" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step2.</strong>
                                            <p>다음 버튼을 눌러 순서대로 서류 제출을<br />
                                                진행 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img04_02.gif" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step3.</strong>
                                            <p>온라인서류제출이 완료되었어요<br />
                                                경우에 따라 상담원 연락이 올 수 있어요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img04_03.png" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn close">충분히 이해했어요</a>
                </div>
            </div>

        </div>
        <!--e:온라인 서류제출하기 상세팝업-->

        <!--s:전자계약서 작성하기 상세팝업-->
        <div id="guidePop5" class="layerpopup laypop-all has-button login-guide">

            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">전자계약서 작성하기</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="loan-slider-wrap swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step1.</strong>
                                            <p>전자계약서 작성하기 메뉴를<br />
                                                선택 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img05_01.png" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step2.</strong>
                                            <p>다음 버튼을 눌러 순서대로<br />
                                                진행 해주세요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img05_02.gif" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong>Step3.</strong>
                                            <p>전자계약서 작성이 완료되었어요<br />
                                                경우에 따라 상담원이 연락이 올 수 있어요</p>
                                       </div>
                                        <div class="swiper-img">
                                            <img src="/resources/images/common/loanguide_img05_03.png" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn close">충분히 이해했어요</a>
                </div>
            </div>

        </div>
        <!--e:전자계약서 작성하기 상세팝업-->
    </div>
    <!-- //contentsWrap -->
</body>
</html>

