<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--S: 카드-->
                <div class="visaul-info-section"><!--D: 감싸주는 visual-info-section 태그 추가-->

                    <div class="tit-wrap">
                        <p class="txt"><strong>해지계좌 정보</strong>를 입력하세요</p>
                    </div>
                    
                    <div class="visaul-info-box">
                        <div class="flag-tit-wrap"><em class="flag style2">입출금</em></div><!--D: flag-tit-wrap 클래스 추가-->
                        <strong class="info-tit">보고파 파킹통장</strong>
                        <div class="account-area">
                            <p class="account">123-12-12-1234567</p>
                            <button type="button" class="btn-copy">복사하기</button>
                        </div>
                    </div>

                </div>
                <!--E: 카드-->
            
                <!--S: 리스트-->
                <div class="txt-list-wrap"><!--D: txt-list-wrap : txt-detail-area 감싸는 구조입니다. -->

                    <!--S: 입출금계좌 해지 정보입력 -->
                    <div class="txt-detail-area">
						<ul class="txt-list">
							<li>
								<span class="tit">현재잔액</span>
								<span class="txt point">10,000,000원</span><!--D: point 클래스 추가 -->
							</li>
							<li>
								<span class="tit">계좌개설일</span>
								<span class="txt">2023.05.01</span>
							</li>
						</ul>
					</div>
                    <!--E: 입출금계좌 해지 정보입력 -->

                    <!--S: 입출금 계좌 해지정보 확인 --><!--D: 텍스트 변경됐습니다. -->
					<div class="txt-detail-area">
						<ul class="txt-list">
							<li>
								<span class="tit">원금</span>
								<span class="txt">20,000원</span>
							</li>
							<li>
								<span class="tit">이자</span>
								<span class="txt">000,000원</span>
							</li>
							<li>
								<span class="tit">지방소득세</span>
								<span class="txt">000,000원</span>
							</li>
							<li>
								<span class="tit">농업촌특별세</span>
								<span class="txt">000,000원</span>
							</li>
							<li>
								<span class="tit">수입제세금액</span>
								<span class="txt">000,000원</span>
							</li>
							<li>
								<span class="tit">환입이자</span>
								<span class="txt">000,000원</span>
							</li>
							<li>
								<span class="tit">환출수입제세</span>
								<span class="txt">000,000원</span>
							</li>
							<li>
								<span class="tit">세후이자</span>
								<span class="txt">000,000원</span>
							</li>
                            <li>
								<span class="tit">차감지급금액</span>
								<span class="txt">000,000원</span>
							</li>
						</ul>
					</div>
                    <!--E: 입출금 계좌 해지정보 확인 -->

				</div>
                <!--E: 리스트-->

                <!--S: FORM-->
                <div class="form-all-wrap"><!--D: 폼 감싸는 form-all-wrap 태그 추가-->

                    
                    <div class="form-wrap"><!--D: form-wrap > input 삭제 후 slect-wrap > form-wrap으로 변경-->
                        <div class="select-box" tabindex="1" onclick="">
                            <label for="mnrcAcno">입금은행</label>
                            <span class="option" id="acnoTxt">미선택</span>
                        </div>
                    </div>
                        

                    <div class="form-wrap">
                        <label for="password" class="formlabel">계좌번호</label>
                        <div class="input">
                            <input type="password" title="계좌번호" id="password" class="inp" name="" value="" placeholder="계좌번호를 입력" required readOnly>
                            <button type="button" class="btn btn-sm" >계좌인증</button><!--D: 공통 - btn btn-sm 클래스 변경-->
                        </div>
                    </div>
                    <p class="info-txt">
                        본인명의의 타행 계좌로 입금되는 경우에는 실수령액이
                        1만원 미만인 경우에만 가능해요<br>
                        1만원 이상인 경우에는 이체 실행 후 이용해 주세요
                    </p>

                </div>
                <!--E: FORM-->

                <div class="list-bull"><!--D: 구조변경-->
                    <div class="border"></div>
                    <strong>알아두세요</strong>
                    <ul>
                        <li>해지금액은 다른 입출금계좌가 있는 경우에는 해당계좌로 입금되며, 입금 가능한 계좌가 없는 경우 본인명의의 타행 계좌로 입금이 가능해요</li>
                        <li>예금 해지 후에는 취소할 수 없으니 유의하세요</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- //contents -->

        <!--S: 입출금계좌 해지 정보입력 버튼-->
        <div class="fixed-btn-wrap">
			<div class="btn-wrap">
				<a href="#none" class="btn" id="procBtn">다음</a>
			</div>
		</div>
        <!--E: 입출금계좌 해지 정보입력 버튼-->

        <!--S: 입출금계좌 해지정보 확인 버튼-->
        <div class="fixed-btn-wrap">
			<div class="btn-wrap flexCol"><!--D: flexCol 클래스 추가-->
				<a href="#none" class="btn" id="" onclick="">해지신청</a>
                <a href="#none" class="btn txt">그만하기</a><!--D: btn txt 클래스 사용-->
			</div>
		</div>
        <!--E: 입출금계좌 해지정보 확인 버튼-->
        
        <!--S: 입출금통장 해지 안내 -->
        <div id="lyPop2" class="layerpopup layer-up has-button show" style="position: fixed; top: 415px; left: -0.5px; display: none;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">입출금통장 해지 안내</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con">
                    <div class="txtbox-wrap">
                        <p>입출금통장을 해지하시겠어요?</p>
                    </div>
                </div>
                <div class="fixed-btn-wrap">
                    <div class="btn-wrap flexCol">
                        <a href="javascript:void(0);" class="btn">확인</a>
                    </div>
                </div>
            </div>
        </div>
        <!--E: 입출금통장 해지 안내-->

        <!--S: 해지금액 초과 안내 -->
        <div id="lyPop2" class="layerpopup layer-up has-button show" style="position: fixed; top: 415px; left: -0.5px; display: none;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">해지금액 초과 안내</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con">
                    <div class="txtbox-wrap">
                        <p>타행 계좌로 입금하시는 경우에는 해지 시 실수령액이 1만원 미만인 경우에만 가능해요</p>
                    </div>
                </div>
                <div class="fixed-btn-wrap">
                    <div class="btn-wrap flexCol">
                        <a href="javascript:void(0);" class="btn">확인</a>
                    </div>
                </div>
            </div>
        </div>
        <!--E: 해지금액 초과 안내-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

