<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
        <div class="headerLeft">
        </div>
        <div class="headerCenter">
            <h2><span>예적금 해지 예상 조회</span></h2><!--D: TEXT -->
        </div>
        <div class="headerRight">
            <a href="javascript:void(0)" class="btn btn-menu"><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>  <!--D: 전체메뉴버튼 -->
        </div>
    </header>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap"> 
                    <!--D : visaul-info-section 감싸기 -->
                    <div class="visaul-info-section">
                        <div class="tit-wrap">
                            <p class="txt"><strong>해지 예상금액</strong>을 확인하세요</p> 
                        </div>
                        <div class="visaul-info-box">
                            <div class="flag-tit-wrap"><em class="flag style2">정기예금</em></div><!-- [퍼블-1]: flag-tit-wrap 클래스 추가  -->
                            <strong class="info-tit">e정기예금 단리</strong>
                            <div class="account-area">
                                <p class="account">123-12-12-1234567</p>
                                <button type="button" class="btn-copy">복사하기</button>
                            </div>
                        </div>
                    </div>



                    <!-- [퍼블] 수정 -->
                    <div class="txt-list-wrap"> <!-- [퍼블] -->
                        <div class="txt-detail-area">
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">해지구분</span>
                                    <span class="txt">중도해지</span>
                                </li>
                                <li>
                                    <span class="tit">해지계좌원금</span>
                                    <span class="txt">000,000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">만기일<br/>(만기이연일자)</span>
                                    <span class="txt">YYYY.MM.DD</span>
                                </li>
                                <li>
                                    <span class="tit">소득세</span>
                                    <span class="txt">000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">주민세</span>
                                    <span class="txt">000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">농특세</span>
                                    <span class="txt">000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">환입이자</span>
                                    <span class="txt">000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">해지이자</span>
                                    <span class="txt">000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">세금합계</span>
                                    <span class="txt">000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">환출수입제세</span>
                                    <span class="txt">000,000원</span>
                                </li>
                                <li>
                                    <span class="tit">실수령액</span>
                                    <span class="txt">000,000원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="table-type table-col type-left02">
                        <div class="sub-tit-wrap"> <!-- [퍼블] mb15 삭제, 위치변경 -->
                            <p class="tit">이자계산 내역</p>
                        </div>
                        <table>
                            <caption>이자계산(시작일), 이자계산(종료일), 이율, 이자금액으로 구분된 이자계산 내역 표</caption>
                            <colgroup>
                                <col width="45%">
                                <col width="*">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th><span>이자계산(시작일)</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>
                                <tr>
                                    <th><span>이자계산(종료일)</span></th>
                                    <td><span>YYYY.MM.DD</span></td>
                                </tr>
                                <tr>
                                    <th><span>이율</span></th>
                                    <td><span>00.00%</span></td>
                                </tr>
                                <tr>
                                    <th><span>이자금액</span></th>
                                    <td><span>000,000원</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--D: 알아두세요 구조변경-->
                    <div class="list-bull">
                        <div class="border"></div>
                        <strong>알아두세요</strong>
                        <ul>
                            <li>해지 예상 조회 결과는 (변동금리 또는 세율의 변동이 있으면) 실제 해지 결과와 다를 수 있어요</li>
                            <li>해지 신청을 하면 해지일은 당일로 고정돼요</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //contents -->
            <div class="fixed-btn-wrap"> 
                <div class="btn-wrap flexCol">
                    <a href="javascript:void(0);" class="btn" onclick="PageFunc.proc();">해지신청</a>
                    <a href="javascript:void(0);" class="btn txt" onclick="PageFunc.cancel();">그만하기</a>
                </div>
            </div>


        </div>
        <!-- //contentsWrap -->
</body>
</html>

