@charset "utf-8";
/*** 레이아웃  ***/

/* .wrap.main { background: #F5F8FA; } */

/** 헤더 **/
.main-header { position:fixed; display:flex; justify-content:space-between; top:0; left:0; right:0; z-index:5; height:50px; background:#fff; }
.main-header .logo-area { height:100%; }
.main-header .logo-area:after { content:''; display:inline-block; height:100%; vertical-align:middle; }
.main-header .logo-area h1 { display:inline-block; margin:0 20px; font-size:0; vertical-align:middle; }
.main-header .logo-area h1 a { display:block; width:103px; }
.main-header .logo-area h1 a:after { content:''; position:absolute; top:50%; left:50%; width:120%; height:150%; transform:translate(-50%, -50%); }
.main-header .notify-area { display:flex; height:100%; font-size:0; }
.main-header .notify-area:after { content:''; display:inline-block; height:100%; vertical-align:middle; }
.main-header .notify-area .btn-notify-wrap { position:relative; width:24px; height:100%; margin:0 20px; }
.main-header .notify-area .btn-notify { position:relative; width:100%; height:100%; background:url('../images/main/ico_notify.png') no-repeat 50%/24px auto;  }
.main-header .notify-area .btn-notify:after { content:''; position:absolute; top:50%; left:50%; width:180%; height:100%; transform:translate(-50%, -50%); }
.main-header .notify-area .count-flag {top:8px; right:-7px;}
.main-header .login-area { display:flex; align-items:center; position:relative; margin-right:15px; height:100%; }
.main-header .login-area span { font-size:0.77778rem; line-height:1.5; color:#260F54; font-weight:500; }
.main-header .login-area span:after { content:""; position:absolute; top:50%; transform: translateY(-50%); width:16px; height:16px; background:url(../images/main/ic-login-arrow-right.png) no-repeat 50%/16px auto; }

.main .default-wrap { margin:0; padding:27px 20px 15px; } /*20241105 디자인 개선사항 수정*/
.main .default-wrap:has(>.tit-wrap:first-child) { padding-top:0; }
.main .layer-up .default-wrap { padding: 20px 10px; }
.main .layer-up .event-wrap .default-wrap { padding:0px 15px; }
.main .laypop-all .event-pull-wrap .default-wrap { margin-bottom:0; padding:0 15px; }
.main .type-spread { margin: 0 -20px; padding: 0; }
.main .type-spread .area-title { padding: 0 20px; }
.contentsWrap [class*="-area"] + [class*="-area"] { margin-top:40px; }
.contentsWrap [class*="-area"] .area-title-box { margin-bottom: 15px; }
.contentsWrap [class*="-area"] .area-title { font-weight:500; font-size:1.0rem; } /*20241105 디자인 개선사항 수정*/
.contentsWrap .welcome-area + [class*="-area"] { margin-top:30px; }

/*** 각 영역 ***/
/** 웰컴 **/
.welcome-area { position:relative; }
.welcome-area:before { content:''; position:absolute; top:-32px; right:3px; width:134px; height:189px; background:url('../images/main/obj_welcome.png') no-repeat 50%/134px auto; }
.welcome-txt { margin-top:2px; font-size:1rem; line-height:1.39; }
.welcome-txt span { display:block; margin-bottom:8px; color:#7F7F7F; font-size:0.66667rem; line-height:1.25; }
.welcome-txt strong { font-weight:700; color:#F1108E; }

.welcome-area.login-on { position:relative; }
.welcome-area.login-on:before { content:''; position:absolute; top:-32px; right:3px; width:140px; height:110px; background:url('../images/main/obj_welcome2.png') no-repeat center/98% auto; }
.welcome-area.login-on .name { border-bottom:1px solid #333333; }
.welcome-area.login-on > p { display:inline-block; }

/** 퀵메뉴 **/
.quick-menu-list {position:relative; min-height:114px; margin-top:30px; border-radius:15px; background:linear-gradient(165deg, #4A13B7  0%, #260F54 30%, #260F54 100%); font-size:0; box-shadow:0px 20px 20px -20px rgba(88,57,149,0.6); }
.quick-menu-list li { display:inline-block; position:relative; width:50%; padding:18px 20px; line-height:1.29; }
.quick-menu-list li + li:before { content:''; position:absolute; top:20px; bottom:20px; left:0; width:1px; background:rgba(225,223,229,0.23); }
.quick-menu-list a { display:block; position:relative; font-weight:500; color:#fff; font-size:0.77778rem; text-align:center; }
.quick-menu-list a:before { content:''; display:block; width:100%; min-height:42px; background:url('../images/main/ico_quick_01.png') no-repeat 50%/ 38px auto; }
.quick-menu-list li+li a:before { background:url('../images/main/ico_quick_02.png') no-repeat 50%/ 36px auto; }

/** 빠른 서비스 **/
/* .contentsWrap .quick-service-area .area-title { font-size:0.77778rem; line-height:1.5; }  */
/* .quick-service-area { margin-top:50px !important; } */
.quick-service-area .area-title { margin-bottom:0 !important; font-size:0.77778rem; }
.quick-service-list { display: flex; justify-content: space-between; align-items: center; gap: 13px; flex-wrap: wrap; width: 100%; }
.quick-service-list li { width: 48%; box-sizing: border-box; }
.service-deposits a { background:url('../images/main/ico_service_deposits.png') no-repeat 92% 80%/ 55px auto; }
.service-loan-inquiry a { background:url('../images/main/ico_service_loan_inquiry.png') no-repeat 92% 80%/ 55px auto; }
.service-contract a { background:url('../images/main/ico_service_contract.png') no-repeat 92% 80%/ 55px auto; }
.service-loan a { background:url('../images/main/ico_service_loan.png') no-repeat 92% 80%/ 55px auto; }

.quick-service-list a { display:block; height:130px; padding:18px 12px 15px; border-radius:16px; background-color:#FFFFFF; font-weight:600; color:#333333; font-size:0.88889rem; }
.quick-service-list a span { color: #666666; display: block; font-size:0.66667rem; line-height:1.056rem; font-weight: 400; }
.quick-service-list li.highlight a { border:1px solid #6836CB; color:#6836CB; background:#EEEBFF; }
.quick-service-area .quick-menu-search { color:#757575; font-size:0.77778rem; line-height:1.5; }
.quick-service-area .quick-menu-search .btn-search { width:16px; height:16px; background-size:16px 16px; }


/** 추천 슬라이더 **/
.recom-slider-wrap { padding:0 20px 0 0; }
.recom-slider-wrap .swiper-cards .swiper-slide { overflow:visible; width:92.5%; height:305px; padding:48px 25px 25px 20px; border-radius:15px; opacity:.8; }
.recom-slider-wrap .swiper-cards .swiper-slide.swiper-slide-active { opacity:1; }
.recom-slider-wrap .swiper-slide .prd-obj { position:absolute; top:75px; right:-42px; width: 160px; opacity:0; transition:all 0.4s; }
.recom-slider-wrap .swiper-slide.swiper-slide-active .prd-obj { top:70px; right:-32px; width: 160px; opacity:1; }
.recom-slider-wrap .prd-flag { position:absolute; top:0; left:20px; color:#fff; font-size:0; }
.recom-slider-wrap .prd-flag span:only-child { border-radius:0 0 6px 6px; }
.recom-slider-wrap .prd-flag span { display:inline-block; padding:4px 10px; border-radius:0 0 0 6px; background:#260F54;  font-weight:500; font-size:0.66667rem; }
.recom-slider-wrap .prd-flag span + span { background:#D8D0FC; border-radius:0 0 6px 0; color:#515CB2; }
.recom-slider-wrap .prd-tit { font-weight:700; color:#fff; font-size:1.33rem; line-height:1.29; letter-spacing:-.4px; }
.recom-slider-wrap .prd-desc { margin:10px 0 40px; color:#fff; font-size:0.77778rem; line-height:1.43; letter-spacing:-.5px; }
.recom-slider-wrap .prd-rate { position:absolute; bottom:110px; left:20px; font-weight:700; color:#fff; font-size:1.11111rem; line-height:1.25; letter-spacing:-.2px; }
.recom-slider-wrap .btn-go-link { position:absolute; bottom:25px; left:20px; right:20px; color:#51348D; background:#fff url('../images/main/arrow_right.svg') no-repeat calc(100% - 20px) 50% / 16px auto; }
.recom-slider-wrap .btn-go-link:after { content:none; }

/* 추천상품 슬라이더 */
.recom-slider-wrap .recom-pagination .swiper-pagination-bullet{width:9px; height:9px; background:#CACACA; }
.recom-slider-wrap .recom-pagination .swiper-pagination-bullet-active { width:30px; border-radius:9px; background:#260F54;}
.recom-pagination { text-align: center; margin-top: 18px; }

/* 예금계좌 슬라이더 */
.recom-areadep .recomDep-pagination .swiper-pagination-bullet{width:9px; height:9px; background:#7446D1; opacity:1 }
.recom-areadep .recomDep-pagination .swiper-pagination-bullet-active { width:30px; border-radius:9px; background:#260F54;}
.recomDep-pagination { text-align: center; margin-top: 18px; }

/* 대출계좌 슬라이더 */
.recom-arealon .recomLon-pagination .swiper-pagination-bullet{width:9px; height:9px; background:#7446D1; opacity:1 }
.recom-arealon .recomLon-pagination .swiper-pagination-bullet-active { width:30px; border-radius:9px; background:#260F54;}
.recomLon-pagination { text-align: center; margin-top: 18px; }

/** 처음 오셨나요? **/
.guide-area { margin-top:65px !important; }
.guide-list li:not(:first-child) { border-top:1px solid #DDE2E8; }
.guide-list a { display:block; position:relative; height:50px; font-size:0.77778rem; line-height:50px; }

/** 롤링 노티스 **/
/* .notice-area { overflow:hidden; position:relative; height:20px; }
.notice-area:before { content:''; position:absolute; top:50%; left:0; width:20px; height:20px; background:url('../images/main/ico_notice.png') no-repeat 50%/20px auto; transform:translateY(-50%); }
.notice-area:after{content:'공지';position:absolute; font-size:0.77778rem; line-height:1.5; color:#333;top:50%;left:22px;transform:translateY(-50%);}
.notice-slider-wrap .swiper-wrapper { position:relative; height:20px; padding-left:25px; padding-left:60px; }
.notice-slider-wrap .swiper-wrapper .swiper-slide { position:relative; height:20px; line-height:20px; }
.notice-slider-wrap .swiper-wrapper .notice-tit { overflow:hidden; padding-right:150px; font-size:0.77778rem; line-height:1.5; white-space:nowrap; text-overflow:ellipsis; }
.notice-slider-wrap .swiper-wrapper .notice-date { position:absolute; top:0; right:70px; color:#ccc; font-size:0.77778rem; line-height:1.5;  } */

/** 소식 슬라이더 **/
/* .news-slider-wrap.swiper { overflow: visible; padding-left:20px; padding-right:20px; padding-bottom:47px; }
.news-slider-wrap .swiper-slide { border-radius:15px; background:#F2F6FF; max-width: 60%; }
.news-slider-wrap a { display:block;padding:20px 20px 20px;}
.news-slider-wrap .news-flag { font-weight:500; font-size:0.66667rem; color:#2560A2; line-height:1.67; letter-spacing:-.5px; }
.news-slider-wrap .news-tit { display:block; margin:10px 0 5px; font-weight:700; font-size:0.88889rem; line-height:1.56; letter-spacing:-.4px; }
.news-slider-wrap .news-desc { font-size:0.77778rem; line-height:1.43; letter-spacing:-.5px; }
.news-slider-wrap .news-img-wrap { margin-top:10px; border-radius:10px; background:#fff;overflow: hidden;}
.news-slider-wrap .swiper-pagination-bullet { width:9px; height:9px; background:#999; }
.news-slider-wrap .swiper-pagination-bullet-active { width:30px; border-radius:9px; background:#BCB5CA; } */

/** sns **/
.sns-list { margin-top:20px; font-size:0; text-align:center; } /*20241105 디자인 개선사항 수정*/
.sns-list li { display:inline-block; }
.sns-list li + li { margin-left:12px; }
.sns-list li a { display:block; width:36px; height:36px;}
.sns-list li.sns_facebook a { background: url('../images/main/ico_sns_facebook.png') no-repeat 50%/36px auto;}
.sns-list li.sns_twitter a { background: url('../images/main/ico_sns_twitter.png') no-repeat 50%/36px auto;}
.sns-list li.sns_insta a { background:url('../images/main/ico_sns_insta.png') no-repeat 50%/36px auto; }
.sns-list li.sns_blog a { background: url('../images/main/ico_sns_blog.png') no-repeat 50%/36px auto; }
.sns-list li.sns_kakao a { background: url('../images/main/ico_sns_kakao.png') no-repeat 50%/36px auto; }

/* 로그인시 - 배너 */
.banner-wrap { background:#F6F2FF; border-radius:15px; margin:30px 0 20px; padding:20px; }
.banner-wrap > a { display:inline-block; width:100%; height:100%; font-size:0.8rem; color:#566790; }
.banner-wrap > a > p { position:relative; margin-bottom:15px; padding-bottom:15px; padding-right:20px; border-bottom:solid 1px #D8E0F1; }
.banner-wrap dt { font-weight:700; color:#2E4474; font-size:0.9rem; }
.banner-wrap dd { display:flex; width:100%; }
.banner-wrap dd p { flex:1; padding-right:20px; }
.banner-wrap dd span { text-align:right; color:#F1108E; font-size:0.7rem; }
.banner-wrap dd span > strong { font-size:1.1rem; }
.banner-colse { position:absolute; right:0; width:18px; height:18px; background:url("../images/main/ico-baneer-close.png")no-repeat center/100%; font-size:0; }

/* 금액보이기 */
.main-function-btn-wrap{display:flex;flex-direction:column;gap:10px;align-items:center; margin-top: 20px; text-align: center;} /*20241105 디자인 개선사항 수정*/
.main-function-btn-wrap .btn{display:block; align-items:center; padding:8px 16px; border:solid 1px #dddddd; background:#FFFFFF; border-radius:17px;color:#666; font-weight: 400; font-size: 0.77778rem; line-height: 1rem; vertical-align: middle; margin-bottom: 8px;}
.main-function-btn-wrap .btn:last-child { margin-bottom: 0; }
.main-function-btn-wrap .btn[class*="amount-view-"]:before{display:inline-block;content:'';width:16px;height:16px;margin-right:5px; vertical-align: top; }
.main-function-btn-wrap .amount-view-on:before{background:url(../images/common/ico_eye_on.png) no-repeat 50% / contain}
.main-function-btn-wrap .amount-view-off:before{background:url(../images/common/ico_eye_off.png) no-repeat 50% / contain}

/* 로그인 후 예적금 카드 */
.main .visaul-info-box .info-tit { overflow: hidden; /*padding-right: 35px;*/ padding-right: 30px; white-space: nowrap; text-overflow: ellipsis; }
.main .visaul-info-box .info-tit .flag { margin-right:6px; }
.main .bg-box { border-radius:15px; text-align:center; }
.main .visaul-info-box + .bg-box { margin-top:20px; }
.main .bg-box:has(.desc.nodata) { padding:29px 20px; }
.main .bg-box .desc { font-weight:500; color:#333333; font-size:0.88889rem; line-height:1.4375; }
.main .bg-box .desc.nodata { color:#666666; }
.main .bg-box .desc span { font-weight:500; color:#F1108E; }
.btn-more { display:inline-block; margin-top:10px; padding:0 5px; }
.btn-more span { position:relative; color:#666666; font-size:0.77778rem; line-height:1.5; }
.btn-more span:after { content:""; display:inline-block; width:13px; height:13px; margin-top:-3px; background:url(../images/main/ic-arrow-right.png) no-repeat 50%/13px auto; vertical-align:middle; }

.main .alignment-both-side .area-title,
.main .alignment-both-side strong { margin-bottom: 5px; }

.main .flag { vertical-align:inherit; vertical-align: top; }

/* 마이뱅킹 내 카드 로딩바 */
/* .visaul-info-box { padding:20px 20px 24px; } *//*디자인 공통으로 맞춤*/
.visaul-info-box .skeleton-wrap .flex { display:flex; }
.visaul-info-box .skeleton-wrap .skeleton-item { height:15px; border-radius:5px; background:#EEEEF1; }
.visaul-info-box .skeleton-wrap .skeleton-item + .skeleton-item { margin-left:10px; }

.visaul-info-box .skeleton-wrap .flex:first-child .skeleton-item { height:21px; }
.visaul-info-box .skeleton-wrap .flex:first-child .skeleton-item:first-child { width:53px; }
.visaul-info-box .skeleton-wrap .flex:first-child .skeleton-item:nth-child(2) { flex:1; }
.visaul-info-box .skeleton-wrap .flex:first-child .skeleton-item:last-child { width:36px; }
.visaul-info-box .skeleton-wrap .flex:nth-child(2) { margin-top:18px; }
.visaul-info-box .skeleton-wrap .flex:nth-child(2) .skeleton-item:first-child { width:119px; }
.visaul-info-box .skeleton-wrap .flex:nth-child(2) .skeleton-item:last-child { width:15px; margin-left:5px; }
.visaul-info-box .skeleton-wrap .flex:nth-child(3) { margin-top:5px; }
.visaul-info-box .skeleton-wrap .flex:nth-child(3) .skeleton-item:first-child { width:44px; }
.visaul-info-box .skeleton-wrap .flex:nth-child(3) .skeleton-item:last-child { width:200px; margin-left:5px; }
.visaul-info-box .skeleton-wrap .progress-wrap + .flex .skeleton-item  { flex:1; height:54px; border-radius:10px; }

.visaul-info-box .skeleton-wrap .progress-wrap { margin:35px 50px 40px; }
.visaul-info-box .skeleton-wrap .progress-wrap:last-child { margin:30px 50px 15px; }
.visaul-info-box .skeleton-wrap .progress-wrap .progress-line { background: #EDECF6; }
.visaul-info-box .skeleton-wrap .progress-wrap .progress-line .progress-bar { background:#CFC1F0; animation:loading 1.5s infinite; }
@keyframes loading {
    0% {
        width:0%;
    }
    80%,
    100% {
        width:100%;
    }
}


/* 이벤트 팝업 */
.pop-con-wrap:has(.pop-img) { margin-bottom:56px; overflow:hidden; }
/* #event-lyPop .pop-header { padding:22px 20px 20px; } */
#event-lyPop .default-wrap { padding:0 15px; }
/* #event-lyPop .pop-img { height:300px; overflow:auto; } */
#event-lyPop .pop-img:has(img) { height:100%; }
.popup-close { display:flex; justify-content:space-between; position:fixed; bottom:0; left:0; right:0; padding:15px 20px 18px; background:#FFF; }
.popup-close button{ font-size:0.88889rem; line-height:1.4375; }
.pop-close-btn { color:#260F54; font-weight:bold; }

/* 추가 */
.contentsWrap:has(~ .bottom-menu-area) { padding-bottom:calc( env(safe-area-inset-bottom) + 68px ) !important; } /* 기존 default.css에 있던거는 주석처리하고 메인에만 추가 20231019 */

/* 예가람 메인 */
.main .contentsWrap { background-color: #F5F8FA; }
.main .alignment-both-side { margin-top: 0; }
.login-check-area { background-color: #FFFFFF; border-radius: 20px; padding: 38px 16px 20px; }
.login-check { padding: 9px 60px 9px 10px; margin-bottom: 25px; background: url('../images/main/ico_login_check.png') no-repeat 100%/60px auto; }
.login-check .txtbox { display: inline-block; font-size:1rem; font-weight: 500; color: #260F54;}
/* .login-check .txtbox::after { content: ''; display: inline-block; width: 16px; height: 16px; background: url('../images/main/arrow_right_black.png') no-repeat 100%/16px auto ; background-position-y: 2px; } */
.login-check-area .btn { display: block; background-color: #260F54; border-radius: 24px; font-size:0.88889rem; font-weight: 500; color: #FFFFFF; height: 48px; line-height: 48px; padding: 0 19px; position: relative; }
.login-check-area .btn::after { content: ''; display: inline-block; width: 16px; height: 16px; background: url('../images/main/arrow_right_white.png') no-repeat 100%/16px auto; position: absolute; top: 50%; transform: translateY(-50%); right: 16px; }

.product-list li { background-color: #FFFFFF; border-radius: 20px; position: relative; width:152px; display: inline-block; margin-right: 10px; vertical-align: top; }
.product-list a { display: block; height: 155px; box-sizing: border-box; padding: 18px 20px; } /*20241105 디자인 개선사항 수정*/
.product-list a::after { content: ''; display: inline-block; width: 56px; height: 56px; position: absolute; right: 10px; bottom: 20px; }
.product01 a::after { background: url('../images/main/ico_product01.png') no-repeat 100%/56px auto; }
.product02 a::after { background: url('../images/main/ico_product02.png') no-repeat 100%/56px auto; }
.product03 a::after { background: url('../images/main/ico_product03.png') no-repeat 100%/56px auto; }
.product04 a::after { background: url('../images/main/ico_product04.png') no-repeat 100%/56px auto; }
.product05 a::after { background: url('../images/main/ico_product05.png') no-repeat 100%/56px auto; }
.product06 a::after { background: url('../images/main/ico_product06.png') no-repeat 100%/56px auto; }
.product07 a::after { background: url('../images/main/ico_product07.png') no-repeat 100%/56px auto; }

.yesbank-service-area .area-title .color-F10F8E { font-weight: 600; }
.product-list li strong { display: block; margin-bottom: 10px; font-size:0.88889rem; line-height:1.278rem; font-weight: 500; color: #333333; }
.product-list li div { font-size:0.77778rem; line-height: 1rem; font-weight: 500; color: #999999; }
.service-more { background-color: #DAEAF8; border-radius: 20px; padding: 15px; } /*20241105 디자인 개선사항 수정*/
.service-more li { margin-bottom: 5px; } /*20241105 디자인 개선사항 수정*/
.service-more li:last-child { margin-bottom: 0; }

.service-more a { display: block; font-size:0.88889rem; font-weight: 500; height: 38px; line-height: 38px; background: url('../images/main/arrow_right_black.png') no-repeat 100%/16px auto; }
.service-more a::before { content: ''; display: inline-block; width: 38px; height: 38px; vertical-align: top; }
.kcb-score a::before { background: url('../images/main/ico_kcb_score.png') no-repeat 50%/38px auto; }
.living-expenses a::before { background: url('../images/main/ico_living_expenses.png') no-repeat 50%/38px auto; }
.simple-loan a::before { background: url('../images/main/ico_simple_loan.png') no-repeat 50%/38px auto; }

.contentsWrap [class*="-area"] + [class*="-area"].sns-news-area { margin-top: 12px; }
.sns-news-list li { background-color: #FFF0DA; border-radius: 20px; }
.sns-news-list a { display: block; box-sizing: border-box; padding: 20px; height: 149px; background: url('../images/main/ico_sns_news.png') no-repeat right bottom /142px auto; }
.sns-tit { display: inline-block; border-radius: 12px; background-color: #FFFFFF; font-size:0.66667rem; font-weight: 500; color: #DDAE64; padding: 4px 12px;}
.sns-txt { font-size:0.88889rem; line-height:1.278rem; font-weight: 600; color: #000000; margin-top: 15px; box-sizing: border-box; padding-right: 120px; height: 69px; overflow: hidden; }
.sns-news-area a { display: block; }

.contentsWrap [class*="-area"].notice-area .area-title-box { margin-bottom: 0; }
.notice-list li { border-bottom: 1px solid #DDE2E8; background: url('../images/main/arrow_right_black.png') no-repeat 100%/16px auto; }
.notice-list li:last-child { border-bottom: 0; }
.notice-list a { font-size:0.77778rem; line-height: 1rem; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 89%; padding: 15px 0; }

.info-list { display: flex; justify-content: space-between; align-items: center; gap: 8px; width: 100%; margin-top: 15px; } /*20241105 디자인 개선사항 수정*/
.info-list li { width: 100%; background-color: #FFFFFF; border-radius: 10px; border: 1px solid #EEEEEE; }
.info-list a { display: block; text-align: center; font-size:0.66667rem; font-weight: 400; color: #666666; height: 65px; align-content: center; padding: 10px 0;}

.visaul-info-box .account-info .amount-on { font-size:0.77778rem; line-height: 1rem; }
.visaul-info-box .account-info .amount-on span { font-size: 1.33333rem; font-weight: 600; }
.visaul-info-box .txt { font-size:0.88889rem; font-weight: 400; color: #666666; text-align: center; }

.recom-area .area-title .point {color: #ED008D;}
.recom-area .account-info > dl { margin-top: 0; font-size:0.66667rem; line-height:1.056rem; font-weight: 300; color: #757575; }
.recom-area .account-info > dl > dd { color: #757575; }

.esg-logo { margin-top: 15px; text-align: center; } /*20241105 디자인 개선사항 수정*/
.esg-logo img { width: 147px; margin-top: -5px;}

/* 큰 글씨 */
.font-size-2 .quick-service-list li { width: 100%; }
.font-size-3 .quick-service-list li { width: 100%; }
.font-size-3 .product-list a { padding: 18px 16px; height: 205px; }


@media screen and (max-width:374px) { /* 떨어짐 현상 방지 */
    .quick-service-list li { width: 100%; }
}

/* 모집인 헤더 */
.dsr-menu-wrap .all-menu-header .all-menu-info { justify-content: flex-end; }
.dsr-menu-wrap .all-menu-header .all-menu-info > ul > li > a { height: 24px; }
.dsr-menu-wrap .all-menu-header .top-menu > li { margin-right: 25px; }
.dsr-menu-wrap .all-menu-header .top-menu > li:nth-child(1) > a::before { background:#F8F8F8 url('../images/dsr/common/ico_menu01.png') no-repeat 50%/100% auto; }
.dsr-menu-wrap .all-menu-header .top-menu > li:nth-child(2) > a::before { background:#F8F8F8 url('../images/dsr/common/ico_menu02.png') no-repeat 50%/100% auto; }
.dsr-menu-wrap .all-menu-header .top-menu > li:nth-child(3) > a::before { background:#F8F8F8 url('../images/dsr/common/ico_menu03.png') no-repeat 50%/100% auto; }
.dsr-menu-wrap .all-menu-header .top-menu { justify-content: flex-start; }

/* 모집인 메인 */
.contentsWrap .contents > .default-wrap.dsr-wrap { padding: 0; }
.counselor-box { box-sizing: border-box; position: relative; background: linear-gradient(rgba(255, 255, 255), #F6F7F9); padding: 25px 20px; }
.counselor-box .intro span { display: block; color: #666666; font-weight: 500; font-size:1rem; line-height:1.38889; }
.counselor-box .intro .company { color: #999999; font-weight: 400; font-size:0.66667rem; line-height:1.58334; }
.counselor-box .intro .name { font-size:1.11111rem; line-height:1.35; color: #4E32A5; font-weight: 600; }
.counselor-box .intro .time { font-weight: 400; font-size: 0.66667rem; line-height: 1.58334; margin-top: 5px; }
.counselor-box .thumb { width: 92px; height: 92px; border-radius: 50%; overflow: hidden; position: absolute; top: 0; right: 0; }
.counselor-box .thumb a { display: block; height: 100%; }
.counselor-box .info { margin-top: 15px; }
.counselor-box .info dt { font-size:0.77778rem; line-height:1.5; font-weight: 500; }
.counselor-box .info .phone { font-weight: 500; margin-bottom: 15px; }
.counselor-box .info .phone::after { content: ""; display: inline-block; vertical-align: top; width: 18px; height: 18px; background: url(../images/dsr/common/ico_phone1.png) no-repeat 100%/18px auto; }
.counselor-box .info dd { color: #666666; font-weight: 400; font-size:0.66667rem; line-height:1.58334; }
.counselor-box .info dd .inquire::after { content: ""; display: inline-block; vertical-align: middle; width: 11px; height: 11px; background: url(../images/dsr/common/ic_arrow_right.png) no-repeat 100%/11px auto; margin-left: 5px; }

.loan-apply .apply-more { padding: 28px 20px 0; box-sizing: border-box; }
.loan-apply .apply-more:after { content: ''; display: block; margin: 10px auto 0; max-width: 375px; width: 100%; height: 310px; background: url(../images/dsr/common/ico_loan_apply.png) no-repeat center bottom/100% auto; }
.loan-apply .apply-more strong { color: #111111; font-size:1.22222rem; line-height:1.5rem; display: block; margin-bottom: 3px; }
.loan-apply .btn-shortcuts { font-weight: 500; color: #666666; font-size:0.88889rem; line-height:1.4375; }
.loan-apply .btn-shortcuts::after { content: ""; display: inline-block; vertical-align: middle; width: 17px; height: 17px; background: url(../images/dsr/common/ic_arrow_right02.png) no-repeat 100%/17px auto; margin-left: 5px;  }
.loan-apply .btn-wrap .btn { border-radius: 0; font-size:1.11111rem; height: 72px; line-height: 72px; }

.dsr-wrap .quick-service-list { padding: 30px 20px 40px; }
.dsr-wrap .quick-service-list li { border-radius: 15px; box-shadow: 0 3px 8px rgba(0,0,0,0.2); }
.dsr-wrap .quick-service-list a { font-size:0.88889rem; padding: 18px 12px 12px 20px; height: auto; line-height: normal; }
.dsr-wrap .quick-service-list a::after { content: ''; display: inline-block; width: 100%; height: 38px; margin-top: 11px; }
.financial-consumer a::after{ background:url('../images/dsr/main/ico_financial_consumer.png') no-repeat 100%/ 38px auto; }
.complain a::after { background:url('../images/dsr/main/ico_complain.png') no-repeat 100%/ 38px auto; }
.map-info a::after { background:url('../images/dsr/main/ico_map_info.png') no-repeat 100%/ 38px auto; }
.terms-document a::after { background:url('../images/dsr/main/ico_terms_document.png') no-repeat 100%/ 38px auto; }
.map-info,
.terms-document { margin-top: 15px; }

/* 모집인 관리자 영역 */
.layer-con .tit { font-size:1.22222rem; line-height:1.5rem; font-weight: 600; }
.layer-con p { font-size:0.88889rem; font-weight: 400; margin-top: 20px; }
.layer-con .prod-icon { text-align: center; margin-top: 20px; }
.layer-con .prod-icon img { width: 140px; }
.layer-con hr { background: #EEEEEE; }
.pop-con-wrap .layer-con .list-tit { display: block; font-size:0.88889rem; line-height:1.4375; font-weight: 600; color: #333333; margin-bottom: 20px; }
.layer-con .list.type1 li { margin-bottom: 40px; font-weight: 300; }
.layer-con .list.type1 li:last-child { margin-bottom: 0; }
.layer-con .list.type1 li .bar { font-size: 0.88889rem; line-height: 1.38889; font-weight: 500; margin-bottom: -10px; }
.layer-con .list.type1 li > span { display: block; font-size: 0.88889rem; line-height: 1.38889; font-weight: 300; }
.layer-con .list.type1 li p { font-size: 0.88889rem; line-height: 1.38889; font-weight: 300; }
.layer-con div:has(.table) { overflow-x: auto }
.layer-con .table th { padding: 14px 3px; background: #F8F8F8; font-weight: 500; color: #454545; }
.layer-con .table td { padding: 15px; border-bottom: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE; font-size: 0.88889rem; line-height: 1.4375; font-weight: 300; text-align: center; word-break: keep-all; }
.layer-con .table td:last-child { border-right: 0; }

/* 모집인 푸터 */
.footer-text-box { background-color: #F8F8F8; box-sizing: border-box; padding: 28px 20px 30px; }
.counselor > div { display: inline-block; vertical-align: top; box-sizing: border-box; }
.c-img { border-radius: 50%; width: 60px; height: 60px; overflow: hidden; }
.c-info { margin-left: 12px; width: calc(100% - 77px); }
.c-info .name { font-size: 0.77778rem; line-height: 1.5; font-weight: 500; color: #666666; }
.c-info .name span { font-size:0.88889rem; line-height:1.4375; color: #333333; font-weight: 600; margin-left: 3px; }
.c-info .phone {color: #666666; font-size: 0.66667rem; line-height: 1.58334; margin-top: 5px; }
.c-info .time {color: #666666; font-size: 0.66667rem; line-height: 1.58334; }

.f-text .list-bull { margin-top: 24px; }
.f-text .list-bull.hyphen { margin-top: 18px; }
.f-text .list-bull li { font-weight: 400; }
.footer-info-box { padding: 20px 20px 30px; box-sizing: border-box; }
.footer-info-box > div { position: relative; }
.f-info div { font-weight: 400; color: #555555; font-size: 0.66667rem; line-height: 1.58334; opacity: 0.6; display: block; margin-bottom: 10px; }
.img-kisa { position: absolute; right: 0; bottom: 35px; }
.img-kisa img { width: auto; }

.copyright { font-weight: 500; color: #555555; font-size: 0.66667rem; line-height: 1.58334; margin-top: 17px; }
.family-site { margin-top: 30px; }
.family-site .select-wrap { margin-top: 0; display: inline-block; margin-right: 10px; width: calc(100% - 54px); }
.family-site .select-wrap select { width: 100%; border: 1px solid #EEEEEE; height: 40px; font-size: 14px; color: #666666; padding: 0 15px; box-sizing: border-box; background: url('../images/dsr/common/ico_arrow.png') no-repeat 96%/24px auto; }
.family-site button { width: 40px; height: 40px; border-radius: 50%; background: #EEEEEE; color: #666666; text-indent: 0; text-transform: uppercase; font-size: 0.88889rem; }

/* 메인수정202410 */
.login-check-area-new { border-radius: 20px; }
.login-check-area-new .login-check{margin-bottom: 20px;}
.login-check-area-new .login-check .txtbox{font-size: 1.0rem;} /*20241105 디자인 개선사항 수정*/
.login-check-area-new .btn{width: 100%; background-color: #260F54; color: #fff; height:fit-content;line-height: 130%;padding: 16px ;border-radius: 15px; text-align: center; font-size: 0.88889rem;font-weight: normal;}
.login-check-area-new .btn span{display: inline-block; padding-left: 44px;text-align: left;margin-left: -6px;}
.login-check-area-new .btn.deposit span::before{content: ''; display: inline-block; width: 34px; height: 34px; background: url('../images/main/ic-deposit.png') no-repeat 100%/34px auto; position: absolute; top: 50%; transform: translateY(-50%);left: 0; }
.login-check-area-new .btn.loan span::before{content: ''; display: inline-block; width: 34px; height: 34px; background: url('../images/main/ic-loan.png') no-repeat 100%/34px auto; position: absolute; top: 50%; transform: translateY(-50%); left: 0;}
.login-check-area-new .btn-wrap{display: flex; gap: 10px; justify-content: space-between;}

.quick-service-list-new{display: flex; justify-content: space-between;align-items: center; gap: 10px; flex-wrap: wrap; width: 100%;}
.quick-service-list-new li{width: calc(50% - 5px)}
.quick-service-list-new li a {display: block;text-align:center;width:100%;padding:12px 0; border-radius:10px; background-color:#FFFFFF; font-weight:600; color:#333333; font-size:0.88889rem;box-shadow: 0px 5px 15px 0px rgba(110, 118, 129, 0.05);}

.hide-toggle-wrap{width: 100%;padding-bottom: 10px;}
.hide-toggle-wrap .toggle-wrap{margin-top: -4px;}
.hide-toggle-wrap .toggle-wrap label{display: flex; align-items: center; gap: 6px;}

/* END 메인수정202410 */