<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    <div class="contents">
                        <section>
                            
                            <!-- <div class="list-bull">
                                <strong>* 기본</strong>
                                <ul>
                                    <li>예가람저축은li계좌를 개설하실 때 가입하신 전자금융 아이디를 입력해주세요</li>
                                    <li>비밀번호를 다섯 번 잘못 입력하실 경우 비밀번호 오류를 해제 하셔야해요</li>
                                    <li>아이디가 기억나지 않으실 경우 본인인증을 통해서도로그인이 가능해요</li>
                                </ul>
                            </div> -->

                            <div class="list-bull">
                                <div class="border"></div>
                                <strong>* 기본 + border 있을 경우</strong>
                                <ul>
                                    <li>매달 정해진 날짜에 납입하시는 정액식 정기적금에 한하여 납입일을 변경하실 수 있어요</li>
                                    <li>자동이체 또는 CMS설정 계좌의 경우 정상적으로 이체되지 않아 연체가 발생될 수 있으니 창구로 내방하시어 처리해 주세요</li>
                                </ul>
                            </div>


                            <!-- <div class="list-bull">
                                <strong>* 기본 + hyphen 있을 경우</strong>
                                <ul>
                                    <li>계속 거래중이며, 해지하면 재산상 불이익이 발생하는 금융상품 중 다음을 제외한 경우</li>
                                    <li class="hyphen">'온라인 투자 연계 금융업 및 이용자보호에 관한 법률'에 따른 온라인 투자 연계 금융 업자와 체결하는 계약</li>
                                    <li class="hyphen">'온라인 투자 연계 금융업 및 이용자보호에 관한 법률'에 따른 온라인 투자 연계 금융 업자와 체결하는 계약</li>
                                </ul>
                            </div>

                            <div class="list-bull ico">
                                <strong>* 아이콘</strong>
                                <ul>
                                    <li>계속 거래중이며, 해지하면 재산상 불이익이 발생하는 금융상품 중 다음을 제외한 경우</li>
                                    <li>계속 거래중이며, 해지하면 재산상 불이익이 발생하는 금융상품 중 다음을 제외한 경우</li>
                                    <li>계속 거래중이며, 해지하면 재산상 불이익이 발생하는 금융상품 중 다음을 제외한 경우</li>
                                </ul>
                            </div>
    
                            <div class="list-bull">
                                <strong>* num</strong>
                                <ul>
                                    <li>가입 상품의 계약 체결을 위한 사실을 안 날로부터 1년 이내</li>
                                    <li class="num">
                                        <em>①</em>단, 5년 이내 계약한 상품만 위법계약해지 신청이 가능해요
                                    </li>
                                </ul>
                            </div>

                            <div class="sub-tit-wrap">
                                <p class="tit">이자 지급 시기 및 방법</p>
                                <div class="list-bull type-large bg-box">
                                    <ul>
                                        <li class="num"><em>1.</em>예금일로부터 지급일 전날 또는 결산 기준일까지를 매일의 잔액을 기준으로 예가람저축은행에서 게재한 잔액별 이율을 적용하여 계산</li>
                                        <li class="num"><em>2.</em>매월 셋째주 토요일을 <strong>결산기준일로</strong> 하여 다음날 원금에 가산</li>
                                        <li class="num over">
                                            <em>10.</em>
                                            인터넷 금융거래에 이용되는 PC에 백신 프로그램을 설치하여 실행함으로써 해킹 등의 보안 침해사고에 대비할 것
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        
                        </section>
                    </div>
                     
                </div>
            </div>
            <!-- //contents -->

        </div>
        <!-- //contentsWrap -->
</body>
</html>

