<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>

<style>
    h3.guid{ padding:30px 0 10px; }
    p.guid { font-size:14px; }
    section{ padding:20px 0 !important; }
</style>

<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->
    
        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    <h3 class="guid">Case 1 - 상단에 위치</h3>
                    <section class="tabs-wrap">
                        <div class="tabs">
                            <ul class="tab-item">
                                <li class="on" data-tab="tab-cont001"><a href="#none">TAB1</a></li>
                                <li data-tab="tab-cont002" class=""><a href="#none">TAB2</a></li>
                                <li data-tab="tab-cont003" class=""><a href="#none">TAB3</a></li>
                            </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont001" class="tab-content">
                                     탭내용1
                                </div>

                                <div id="tab-cont002" class="tab-content dp-none">
                                    탭내용2
                                </div>

                                <div id="tab-cont003" class="tab-content dp-none">
                                    탭내용3
                                </div>
                               
                            </div>
                        </div>
                    </section>

                    <h3 class="guid">Case 2 - 본문 컨텐츠 영역</h3>

                    <p class="guid">
                         - 탭 개수에 따라 tab-item에 col-1 col-02, col-03 추가 할것
                         (현재 2,3,4단까지 나뉘어있음.. 짝수, 홀수로 제어)
                    </p>

                    <section class="tabs-wrap type2">
                        <div class="tabs">
                            <ul class="tab-item col-01">
                                <li class="on" data-tab="tab-cont004"><a href="#none">TAB1</a></li>
                                <!-- <li data-tab="tab-cont005" class=""><a href="#none">TAB2</a></li> -->
                             </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont004" class="tab-content">
                                     탭내용1
                                </div>

                                <div id="tab-cont005" class="tab-content dp-none">
                                    탭내용2
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="tabs-wrap type2">
                        <div class="tabs">
                            <ul class="tab-item col-02">
                                <li class="on" data-tab="tab-cont004"><a href="#none">TAB1</a></li>
                                <li data-tab="tab-cont005" class=""><a href="#none">TAB2</a></li>
                             </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont004" class="tab-content">
                                     탭내용1
                                </div>

                                <div id="tab-cont005" class="tab-content dp-none">
                                    탭내용2
                                </div>

                            </div>
                        </div>
                    </section>

                    <p class="guid">
                        - 탭버튼 글자가 2줄일경우 tab-item에 square 클래스 추가
                   </p>    
                    <section class="tabs-wrap type2">
                        <div class="tabs">
                            <ul class="tab-item square col-03">
                                <li class="on" data-tab="tab-cont007"><a href="#none">개인정보<br />처리방침</a></li>
                                <li data-tab="tab-cont008" class=""><a href="#none">개인정보<br />처리방침</a></li>
                                <li data-tab="tab-cont009" class=""><a href="#none">개인정보<br />처리방침</a></li>
                             </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont007" class="tab-content">
                                     탭내용1
                                </div>

                                <div id="tab-cont008" class="tab-content dp-none">
                                    탭내용2
                                </div>

                                <div id="tab-cont009" class="tab-content dp-none">
                                    탭내용3
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="tabs-wrap type2">
                        <div class="tabs">
                            <ul class="tab-item square col-02">
                                <li class="on" data-tab="tab-cont010"><a href="#none">개인정보<br />처리방침</a></li>
                                <li data-tab="tab-cont011" class=""><a href="#none">개인정보<br />처리방침</a></li>
                                <li data-tab="tab-cont012" class=""><a href="#none">개인정보<br />처리방침</a></li>
                                <li data-tab="tab-cont013" class=""><a href="#none">개인정보<br />처리방침</a></li>

                             </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont010" class="tab-content">
                                     탭내용1
                                </div>

                                <div id="tab-cont011" class="tab-content dp-none">
                                    탭내용2
                                </div>

                                <div id="tab-cont012" class="tab-content dp-none">
                                    탭내용3
                                </div>
                                <div id="tab-cont013" class="tab-content dp-none">
                                    탭내용4
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="tabs-wrap type3">
                        <div class="tabs">
                            <ul class="tab-item">
                                <li class="on" data-tab="tab-cont014"><a href="#none">tab1</a></li>
                                <li data-tab="tab-cont015" class=""><a href="#none">tab2</a></li>
                                <li data-tab="tab-cont016" class=""><a href="#none">tab3</a></li>
                                <li data-tab="tab-cont017" class=""><a href="#none">tab4</a></li>
                             </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont014" class="tab-content">
                                     탭내용1
                                </div>

                                <div id="tab-cont015" class="tab-content dp-none">
                                    탭내용2
                                </div>

                                <div id="tab-cont016" class="tab-content dp-none">
                                    탭내용3
                                </div>
                                <div id="tab-cont017" class="tab-content dp-none">
                                    탭내용4
                                </div>

                            </div>
                        </div>
                    </section>

                    <h3 class="guid">Case 3 - 약관 - 탭 형식 x</h3>
                    <div class="tabs-wrap type2">
                        <div class="tabs">
                            <ul class="tab-item02 pf col-02">
                                <li class="infochk1 on" data-tab="tab-cont001" data-id="teb1" id="infochk1"><a href="javascript:void(0);">상품정보</a></li>
                                <li class="infochk2" data-tab="tab-cont002" data-id="teb2" id="infochk2"><a href="javascript:void(0);">유의사항</a></li>
                            </ul>
                            <div class="tab-content-area scroll-height">
                                <div id="tab-cont001" class="tab-content on">
                                    <div id="intractInfo"><p>&nbsp;연0.2%(세전)</p></div>
                                </div>
                                <div id="tab-cont002" class="tab-content dp-none">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- //contents -->

        </div>
        <!-- //contentsWrap -->
</body>
</html>

