<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--D: 원래 구조: txt-list-wrap > txt-detail-area 구조 ... 다른 페이지에서는 account-detail-section  > txt-list-wrap 구조로 가는 케이스도 있습니다...  -->
                
                <div class="txt-list-wrap"><!--D: 전체 감싸는 구조 -->

                    <div class="btn-cont-wrap flexRight"><!--D: 버튼 있을 경우 -->
                        <a href="#none" class="btn-txt">대출철회신청취소 안내</a>
                    </div>

                    <!--S: 반복문으로 사용되고 있음 -->
                    <div class="txt-detail-area">

                        <div class="txt-detail-tit"><!--D:리스트 타이틀 있을 경우-->
							<strong>아파트담보대출</strong>
						</div>

                        <ul class="txt-list">
							<li>
                                <span class="tit">대출상품</span>
                                <span class="txt">상품명</span>
                            </li>
                            <li>
                                <span class="tit">계좌번호</span>
                                <span class="txt">123-456-7890</span>
                            </li>
                            <li>
                                <span class="tit">대출금액</span>
                                <span class="txt">000,000,000원</span>
                            </li>
                        </ul>

                        <div class="btn-cont-wrap"><!--D: 리스트 버튼 있을 경우 -->
							<a href="#none" class="btn btn-info" >이자상환</a>
							<a href="#none" class="btn btn-info">상환일정</a>
						</div>

                    </div>

                    <div class="txt-detail-area">
                        <ul class="txt-list">
							<li>
                                <span class="tit">대출상품</span>
                                <span class="txt">상품명</span>
                            </li>
                            <li>
                                <span class="tit">계좌번호</span>
                                <span class="txt">123-456-7890</span>
                            </li>
                            <li>
                                <span class="tit">대출금액</span>
                                <span class="txt">000,000,000원</span>
                            </li>
                        </ul>
                    </div>
                    <!--E: 반복문으로 사용되고 있음 -->

                    <div class="txt-detail-area">
                        <div class="txt-detail-tit">
                            <strong>자동이체</strong>
                            <div class="btn-cont-wrap">
                                <a href="javascript:void(0);" class="btn btn-sm other">신청</a>
                            </div>
                        </div>
                        <p class="desc">자동이체를 설정하시면 매월 정기예금 이자가 자동으로 입금되요</p>
                    </div>

                </div>

            </div>
        </div>
        <!-- //contents -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

