<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
        <div class="headerLeft">
            <!--D: 이전버튼-->
            <a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
        </div>
        <div class="headerCenter">
            <h2 class="text"><span>자동이체_약관동의</span></h2> <!--D: TEXT -->
        </div>
        <div class="headerRight">
            <!--D: 전체메뉴버튼 -->
            <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
        </div>
    </header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <div class="tit-wrap">
                    <p class="txt"><strong>자동이체 정보</strong>를<br/>확인해주세요</p><!--[퍼블-1] : strong 태그로 변경 및 위치 이동-->
                </div>
                
                <div class="txt-list-wrap">
                    <div class="txt-detail-area">
                        <ul class="txt-list">
                            <li>
                                <span class="tit">출금계좌</span>
                                <p class="txt">
                                    보고파 파킹통장(개인)<br/>
                                    123-45-67890
                                </p>
                            </li>
                            <li>
                                <span class="tit">입금계좌</span>
                                <p class="txt">
                                    홍길동<br/>
                                    예가람저축은행<br/>
                                    01012345678
                                </p>
                            </li>
                            <li>
                                <span class="tit">이체금액</span>
                                <span class="txt point">500,000원</span>
                            </li>
                            <li>
                                <span class="tit">이체기간</span>
                                <span class="txt">YYYY.MM.DD<br/>
                                    ~ YYYY.MM.DD</span>
                            </li>
                            <li>
                                <span class="tit">이체일</span>
                                <span class="txt">$01$일</span>
                            </li>
                            <!--D : 자동이체(타행) 경우 노출 -->
                            <li>
                                <span class="tit">받는분 통장표시</span>
                                <span class="txt">홍예가람(예가람저축은행)</span>
                            </li>
                            <li>
                                <span class="tit">내 통장표시</span>
                                <span class="txt">김예가람</span>
                            </li>
                            <!--D : 자동이체(타행) 경우 노출 //-->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
            <div class="btn-wrap flexCol">
                <a href="#none" class="btn disabled" id="procBtn">다음</a>
                <a href="#none" class="btn txt">그만하기</a>
            </div>
            
        </div>


    </div>
    <!-- //contentsWrap -->
</body>
</html>

