<!DOCTYPE html>
<html lang="KO">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>예가람저축은행</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="keywords" content="예가람저축은행keywords">
	<meta name="description" content="예가람저축은행description">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="No-Cache">
	
	<link href="/resources/css/default.css" rel="stylesheet">
	<link href="/resources/css/renewal.css" rel="stylesheet">
	
	
	<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
	
	<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>
	
	<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" data-menuid="dep/prc" data-frameid="depAcnoOpenPrc2" data-servicecd="depAcnoOpenPrc2.frm" data-servertime="20230803152535" data-activemode="local" data-activeenv="${active.env">
	</script>
	
	
	</head>

<body>

<div class="wrap">
	<!-- s:header -->
	<header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>전자금융가입</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
    <!-- e:header -->

    <!-- s: contentsWrap -->
    <div class="contentsWrap">
		<!-- s: contents -->
		<div class="contents">
			<!-- s: default-wrap -->
			<div class="default-wrap">

				<div class="tit-wrap">
                    <p class="txt">더 편리한 금융서비스 이용을 위해<br><strong>전자금융</strong>에 가입해 보세요</p>
                </div>
                <!--D : mt40 클래스 추가 -->
				<div class="bg-box mt40">
					<p class="box-desc">전자금융에 가입하시면 영업점 방문 없이 앱에서 각종 이체 업무를 진행하실 수 있어요</p>
				</div>
				<!--D : list-icon 부분 sub-tit-wrap안으로 이동 -->
				<div class="sub-tit-wrap">
					<p class="tit">전자금융 가입 절차를 안내해 드려요</p>
                    <ul class="list-icon">
                        <li class="handle">
                            <p class="tit">STEP1</p>
                            <p class="txt">약관동의</p>
                        </li>
                        <li class="found">
                            <p class="tit">STEP2</p>
                            <p class="txt">고객정보 입력</p>
                        </li>
                        <li class="security">
                            <p class="tit">STEP3</p>
                            <p class="txt">보안매체(OTP) 등록</p>
                        </li>
                        <li class="certified">
                            <p class="tit">STEP4</p>
                            <p class="txt">타행 본인계좌 인증</p>
                        </li>
                        <li class="complete"><!-- [퍼블-1] 클래스명 변경 -->
                            <p class="tit">STEP5</p>
                            <p class="txt">가입완료</p>
                        </li>
                    </ul>
				</div>
				

			</div>
			<!-- //s: default-wrap -->
		</div>
		<!-- //e: contents -->

		<!-- s: fixed-btn-wrap -->
		<div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <a href="#none" class="btn">전자금융가입</a>
            </div>
        </div>
		<!-- //e: fixed-btn-wrap -->
	</div>
    <!-- e: contentsWrap -->
</div>

</body>

</html>