<!DOCTYPE html>
<html lang="KO">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>예가람저축은행</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="keywords" content="예가람저축은행keywords">
	<meta name="description" content="예가람저축은행description">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="No-Cache">
	
	<link href="/resources/css/default.css" rel="stylesheet">
	<link href="/resources/css/renewal.css" rel="stylesheet">
	
	
	<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
	
	<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>
	
	<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" data-menuid="dep/prc" data-frameid="depAcnoOpenPrc2" data-servicecd="depAcnoOpenPrc2.frm" data-servertime="20230803152535" data-activemode="local" data-activeenv="${active.env">
	</script>
	
	
	</head>

<body>

<div class="wrap">
	<!-- s:header -->
	<header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>장기미접속해제</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
    <!-- e:header -->

    <!-- s: contentsWrap -->
    <div class="contentsWrap">
		<!-- s: contents -->
		<div class="contents">
			<!-- s: default-wrap -->
			<div class="default-wrap">
              
                <div class="form-all-wrap">
                    <div class="form-wrap">
                        <label for="" class="formlabel essential">전자금융 아이디</label>
                        <div class="input">
                            <input type="text" title="아이디" id="" class="inp" name="" value="" placeholder="전자금융 아이디 입력" required="">
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label for="" class="formlabel essential">전자금융 비밀번호</label>
                        <div class="input">
                            <input type="password" title="비밀번호" id="" class="inp" name="" value="" placeholder="전자금융 비밀번호 입력" required="" maxlength="50">
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label for="" class="formlabel essential">계좌번호</label>
                        <div class="input">
                            <input type="text" title="계좌번호" id="" class="inp" name="" value="" placeholder="계좌번호 입력" required="">
                        </div>
                    </div>
                    <div class="form-wrap">
                        <label for="" class="formlabel essential">계좌 비밀번호</label>
                        <div class="input">
                            <input type="password" title="계좌 비밀번호" id="" class="inp" name="" value="" placeholder="계좌 비밀번호 입력" required="" maxlength="50">
                        </div>
                    </div>
                    <div class="form-wrap">
                        <div class="select-box" tabindex="1">
                            <label for="" class="essential">인증방법</label>
                            <span class="option" id="">미선택</span>
                        </div>
                    </div>
                </div>
                <div class="list-bull">
                    <div class="border"></div>
                    <strong>알아두세요</strong>
                    <ul>
                        <li>본인의 아이디, 비밀번호 및 계좌정보를 모르시는 경우 영업점 방문을 통해 장기미접속 해제를 진행 해주세요</li>
                        <li>계좌번호는 하이폰(-) 없이 숫자만 입력 해주세요</li>
                    </ul>
                </div>

            </div>
			<!-- //s: default-wrap -->
		</div>
		<!-- //e: contents -->
        <div class="fixed-btn-wrap">  
            <div class="btn-wrap">
                <a href="#none" class="btn">다음</a>
            </div>
        </div>

      
	</div>
    <!-- e: contentsWrap -->
</div>

</body>

</html>