<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
<!--
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
 -->
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />

<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152139" id="biz_common"
	data-menuId="dep/inq"
	data-frameId="depList"
	data-serviceCd="depList.frm"
	data-serverTime="20230803152139"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>
<script type="text/javascript" src="../../../resources/js/Chart.bundle.js"></script> <!-- [퍼블] 추가 -->
<script type="text/javascript" src="../../../resources/js/chartjs-plugin-datalabels.js"></script> <!-- [퍼블] 추가 -->
</head>
<body>
	<!-- header -->
	<header class="headerWrap">  <!--D: bg-color02 클래스 : 뒤에 색상 들어갈 경우  -->
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a> <!--D: 이전버튼 -->
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>계좌관리</span></h2> 
		</div>
		<div class="headerRight">
		</div>
	</header>
	<!-- //header -->

	<!-- s: contentsWrap -->
	<div class="contentsWrap">
		<div class="contents">
			<div class="default-wrap"> 
				<div class="visaul-info-section">
					<div class="visaul-info-box">
						<div class="flag-tit-wrap"><!--[퍼블-1] : flag-tit-wrap 클래스 추가-->
                            <!-- 예금일경우 (대출일경우는 stype3)-->
                            <em class="flag style2">입출금</em>
                            <em class="flag style4">종합통장대출</em>
                        </div>
						<strong class="info-tit">E-RUN 파킹통장(개인)</strong>
						<div class="account-area">
							<p class="account">123-12-12-1234567</p>
							<button type="button" class="btn-copy">복사하기</button>
						</div>

						<a href="#none" class="btn-set star" id="oftnAcct" onclick="oftnAcct(this);">관리</a>
					</div>
				</div>

				<!-- [퍼블] 입출금계좌해지 일때 -->
				<div class="visaul-info-section" style="display:none;">
					<div class="visaul-info-box">
						<div>
							<em class="flag style2">입출금</em>
							<em class="flag style4">종합통장대출</em>
						</div>
						<strong class="info-tit">E-RUN 파킹통장(개인)</strong>
						<div class="account-area">  
							<p class="account">123-12-12-1234567</p>
							<button type="button" class="btn-copy">복사하기</button>
						</div>

						<a href="#none" class="btn-set" id="oftnAcct02" onclick="oftnAcct(this);">관리</a>
					</div>
				</div>
				<!-- // [퍼블] 입출금계좌해지 일때 -->

				<!-- [퍼블] 전체 변경, 정기예금계좌 일때 -->
				<div class="account-detail-section pb0">
					<div class="txt-list-wrap mt0">
						<div class="txt-detail-area">
							<ul class="txt-list">
								<li>
									<span class="tit">잔액</span>
									<span class="txt">000,000,000원</span>
								</li>
								<li>
									<span class="tit">계좌개설일</span>
									<span class="txt">YYYY.MM.DD</span>
								</li>
								<li>
									<span class="tit">세금우대구분</span>
									<span class="txt">개인과세</span>
								</li>
								<li>
									<span class="tit">최종거래일</span>
									<span class="txt">YYYY.MM.DD</span>
								</li>

								<!-- [퍼블] 정기적금계좌 일때 -->
								<li style="display:none;">
									<span class="tit">계약금액</span>
									<span class="txt">000,000,000원</span>
								</li>
								<!-- // [퍼블] 정기적금계좌 일때 -->

								<li>
									<span class="tit">계약기간</span>
									<span class="txt">6개월</span>
								</li>

								<!-- [퍼블] 정기적금계좌 일때 -->
								<li style="display:none;">
									<span class="tit">총 납입횟수</span>
									<span class="txt">10회</span>
								</li>
								<!-- // [퍼블] 정기적금계좌 일때 -->

								<!-- [퍼블] 정기적금계좌 일때 -->
								<li style="display:none;">
									<span class="tit">월 납입금액</span>
									<span class="txt">000,000원</span>
								</li>
								<!-- // [퍼블] 정기적금계좌 일때 -->
								
								<li>
									<span class="tit">기본이율(연이율)</span>
									<span class="txt">00.00%</span>
								</li>
								<li>
									<span class="tit">약정이자(세전)</span>
									<span class="txt">000원</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="txt-list-wrap">
						<div class="txt-detail-area">
							<div class="txt-detail-tit">
								<strong>자동이체</strong>
							</div>
							<ul class="txt-list">
								<li>
									<span class="tit">은행</span>
									<span class="txt">KB국민</span>
								</li>
								<li>
									<span class="tit">계좌번호</span>
									<span class="txt">123456-78-901234</span>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="txt-list-wrap">
						<div class="txt-detail-area">
							<div class="txt-detail-tit">
								<strong>자동이체</strong>
                                <!--D: 신청하기 버튼 수정-->
                                <div class="btn-cont-wrap">
                                    <a href="javascript:void(0);" class="btn btn-sm other" onclick="autoTransBtn();">신청</a>
                                </div>
							</div>
							<p class="desc">자동이체를 설정하시면 매월 정기예금 이자가 자동으로 입금되요</p>
						</div>
					</div>

					<div class="txt-list-wrap">
						<div class="txt-detail-area">
							<div class="txt-detail-tit">
								<strong>만기해지후송금</strong><!--7/5 - 레드마인 : 자동해지 송금에서 변경-->
							</div>
							<ul class="txt-list">
								<li>
									<span class="tit">송금은행</span>
									<span class="txt">KB국민</span>
								</li>
								<li>
									<span class="tit">송금계좌번호</span>
									<span class="txt">123456-78-901234</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="txt-list-wrap">
						<div class="txt-detail-area">
							<div class="txt-detail-tit">
								<strong>만기해지후송금</strong><!--7/5 - 레드마인 : 자동해지 송금에서 변경-->
                                 <!--D: 신청하기 버튼 수정-->
                                 <div class="btn-cont-wrap">
                                    <a href="javascript:void(0);" class="btn btn-sm other" onclick="autoTransBtn();">신청</a>
                                </div>
							</div>
							<p class="desc">만기해지후송금을 설정하시면 만기 시 설정하신 계좌로 원금과 이자를 송금해드려요</p><!--7/5 - 레드마인 : 자동해지 송금에서 변경-->
						</div>
					</div>
                    
                    <!--D:form-wrap 부분 div input 삭제-->
                    <div class="form-wrap">
                        <div id="rpyGbnDiv" class="select-box disabled"><!--D: disabled-->
                            <label for="">자동만기연장 여부</label>
                            <span class="option" id="">미신청</span>
							<input type="hidden" id="" class="">
                        </div>
                    </div>
				

					<ul class="arrow-button-list">
						<li><a href="#none" onclick="expRenewPop();">만기자동재예치</a></li>

						<!-- s : 정기적금계좌 일때 버튼 추가 -->
						<li style="display:none;"><a href="#none" onclick="">적금납입일 변경</a></li>
						<!-- e 정기적금계좌 일때 버튼 추가 -->

						<li><a href="#none" onclick="acnoCancelBtn('')">예적금 해지/예상조회</a></li>
						<li><a href="#none" onclick="">예적금 담보대출 신청</a></li>
						<li><a href="#none" onclick="">계좌비밀번호변경</a></li>
						<li><a href="#none" onclick="">통장사본</a></li>
					</ul>

					<div class="kdic-wrap">
						<img src="../../../resources/images/common/img-kdic.png" alt="예금보험공사 보호금융상품 1인당 최고 5천만원">
						<p>이 예금은 예금자보호법에 따라 예금보험공사가 보호하되, 보호 한도는 본 예가람저축은행에 있는 귀하의 모든 예금보호 대상 금융상품의 원금과 소정의 이자를 합하여 1인당 "최고 5천만원"이며,  5천만원을 초과하는 나머지 금액은 보호하지 않습니다.</p>
					</div>
				</div>
				<!-- // [퍼블] 전체 변경, 정기예금계좌 일때 -->

				<!-- [퍼블] 입출금계좌해지 일때 -->
				<div class="account-detail-section pb0">
					<div class="txt-list-wrap mt0">
						<div class="txt-detail-area">
							<ul class="txt-list">
								<li>
									<span class="tit">출금가능금액</span><!--[퍼블-1] : 텍스트변경-->
									<span class="txt">000,000,000원</span>
								</li>
								<li>
									<span class="tit">계좌개설일</span>
									<span class="txt">YYYY.MM.DD</span>
								</li>
								<li>
									<span class="tit">현재적용금리<br><span class="ref">(기준일자:2023.05.01)</span></span>
									<span class="txt">0.1%</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="check-box toggle">
						<input type="checkbox" id="check01">
						<label for="check01">
							<span>대표계좌설정</span>
							<div class="switch-btn">
								<span class="off">OFF</span>
								<span class="on">ON</span>
								<div class="inside"></div>
							</div>
						</label>
					</div>
					<div class="check-box toggle">
						<input type="checkbox" id="check02">
						<label for="check02">
							<span>
								출금중지설정
								<div class="tooltip-wrap">
									<a href="#none" class="tooltip-btn">?</a>
									<div class="tooltip-txt">
										<p>
											출금중지설정을 ON으로<br>
											변경 시 해당계좌는 출금 및<br>
											이체가 불가능해요
										</p>
										<button type="button" class="tooltip-close">닫기</button>
									</div>
								</div>
							</span>
							<div class="switch-btn">
								<span class="off">OFF</span>
								<span class="on">ON</span>
								<div class="inside"></div>
							</div>
						</label>
					</div>
					<ul class="arrow-button-list">
						<li><a href="#none" onclick="">종합통장대출 신청</a></li>
						<li><a href="#none" onclick="">계좌비밀번호 변경</a></li>
						<li><a href="#none" onclick="">통장사본</a></li>
					</ul>
					<div class="btn-wrap mt40">
                        <a href="javascript:void(0);" class="btn disabled">계좌해지</a>
                    </div>
					<div class="kdic-wrap">
						<img src="../../../resources/images/common/img-kdic.png" alt="예금보험공사 보호금융상품 1인당 최고 5천만원">
						<p>이 예금은 예금자보호법에 따라 예금보험공사가 보호하되, 보호 한도는 본 예가람저축은행에 있는 귀하의 모든 예금보호 대상 금융상품의 원금과 소정의 이자를 합하여 1인당 "최고 5천만원"이며,  5천만원을 초과하는 나머지 금액은 보호하지 않습니다.</p>
					</div>
				</div>
				<!-- [퍼블] 입출금계좌해지 일때 -->

			</div>

		</div>

	</div>
    <!-- //e: contentsWrap -->
	
	<!--[퍼블-1] : 추가 페이지로 알럿 추가 -->

	<!--S: 1. 해지불가 안내 (Alert)-->
	<div id="lyPop2" class="layerpopup layer-up has-button show" style="position: fixed; top: 354.5px; left: 0px; display: none;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
		<div class="content-wrap">
			<div class="pop-header">
				<h2 class="pop-title">해지불가 안내</h2>
				<button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
			</div>
			<div class="ly-scroll-con">
				<div class="txtbox-wrap">
					<p>
						지급제한계좌 및 자동이체 연결계좌는 해지 신청을 할 수 없어요
					</p>
				</div>
			</div>
			<div class="fixed-btn-wrap">
				<div class="btn-wrap">
					<a href="javascript:void(0);" class="btn">확인</a>
				</div>
			</div>
		</div>
	</div>
	<!--S: 1. 해지불가 안내 (Alert)-->

	<!--S: 2. 예적금 계좌 보유 안내 (Alert)-->
	<div id="lyPop2" class="layerpopup layer-up has-button show" style="position: fixed; top: 354.5px; left: 0px; display:none;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
		<div class="content-wrap">
			<div class="pop-header">
				<h2 class="pop-title">예적금 계좌 보유 안내</h2>
				<button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
			</div>
			<div class="ly-scroll-con">
				<div class="txtbox-wrap">
					<p>
						예적금 또는 대출계좌가 존재하지 않아야 해지 신청을 할 수 있어요
					</p>
				</div>
			</div>
			<div class="fixed-btn-wrap">
				<div class="btn-wrap">
					<a href="javascript:void(0);" class="btn">확인</a>
				</div>
			</div>
		</div>
	</div>
	<!--S: 2. 예적금 계좌 보유 안내 (Alert)-->

	<!--S: 3. 종합통장대출 해지 안내 (Alert)-->
	<div id="lyPop2" class="layerpopup layer-up has-button show" style="position: fixed; top: 354.5px; left: 0px; display: none;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
		<div class="content-wrap">
			<div class="pop-header">
				<h2 class="pop-title">종합통장대출 해지 안내</h2>
				<button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
			</div>
			<div class="ly-scroll-con">
				<div class="txtbox-wrap">
					<p>
						종합통장대출을 해지하신 후 가능해요
					</p>
				</div>
			</div>
			<div class="fixed-btn-wrap">
				<div class="btn-wrap">
					<a href="javascript:void(0);" class="btn">확인</a>
				</div>
			</div>
		</div>
	</div>
	<!--S: 3. 종합통장대출 해지 안내 (Alert)-->

	<!--[퍼블-1] : 추가 페이지로 알럿 추가 //-->

	
	
<footer>
<!-- 푸터 타입별 정의 -->
</footer>

<!-- 업무공통 -->
<!-- //footer -->

</body>
</html>
