<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
<!--
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
 -->
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />

<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152139" id="biz_common"
	data-menuId="dep/inq"
	data-frameId="depList"
	data-serviceCd="depList.frm"
	data-serverTime="20230803152139"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>

</head>
<body>
	<!-- header -->
	<header class="headerWrap">  <!--D: bg-color02 클래스 : 뒤에 색상 들어갈 경우  -->
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a> <!--D: 이전버튼 -->
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>예적금</span></h2> 
		</div>
		<div class="headerRight">
			<a href="javascript:void(0)" class="btn btn-interest"><img src="/resources/images/header/btn_interest.png" alt="관심상품"><em class="count-flag">3</em></a>  <!--D: 관심상품버튼 -->
			<a href="javascript:void(0)" class="btn btn-like"><img src="/resources/images/header/btn_like.png" alt="좋아요"><em class="count-flag">3</em></a>  <!--D: 좋아요버튼 -->
		</div>
	</header>
	<!-- //header -->

 <!-- s: contentsWrap -->
    <div class="contentsWrap">
        <!-- s: contents -->
        <div class="contents">
			<div class="default-wrap product gray-wrap"><!-- [퍼블-2] div.difault-wrap 위치 변경 -->
				<!-- //s: gray-wrap -->
				<section class="tabs-wrap">
					<div class="tabs swiper"><!-- [퍼블-2] 클래스 변경 -->
						<ul class="swiper-pager"></ul>
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<ul class="prod-box-list">
									<li>
										<div class="prod-box">
											<div class="icon-exp">
												<p>가장 많이 주목을 받고 있어요</p>
												<div class="tooltip-wrap type2 type-toast">
													<span class="like active"></span>
													<div class="tooltip-txt reg" style="display: block;">
														<p>관심상품으로 등록되었어요</p>
													</div>
													<div class="tooltip-txt del">
														<p>관심상품에서 제외했어요</p>
													</div>
												</div>
												<div class="tooltip-wrap type2">
													<span class="scale"></span>
													<div class="tooltip-txt">
														<p>비교상품으로 등록되었어요</p>
													</div>
												</div>
											</div>
											<div class="flag-tit-wrap">
												<em class="flag style2">
												입출금
												</em>
												<strong class="tit">E-RUN 파킹통장 E-RUN 파킹통장 E-RUN 파킹통장 E-RUN 파킹통장</strong>
											</div>
											<ul class="text-bar-list mt10">
												<li>입출금자유</li>
												<li>매일이자지급</li>
												<li>구간별차등금리</li>
											</ul>
											<div class="label-info-wrap">
												<P>1일 ~</P>
												<strong class="info">최고 연<span>3.35</span>% <span class="ex">(연, 세전, 관리)</span></strong>
											</div>
										</div>
									</li>

									<li>
										<div class="prod-box">
											<div class="icon-exp">
												<p>30, 40대가 가장 많이 계좌를 개설했어요</p>
												<div class="tooltip-wrap type2 type-toast">
													<span class="like"></span>
													<div class="tooltip-txt reg">
														<p>관심상품으로 등록되었어요</p>
													</div>
													<div class="tooltip-txt del">
														<p>관심상품에서 제외했어요</p>
													</div>
												</div>
												<div class="tooltip-wrap type2">
													<span class="scale active"></span>
													<div class="tooltip-txt">
														<p>비교상품으로 등록되었어요</p>
													</div>
												</div>
											</div>
											<div class="flag-tit-wrap">
												<em class="flag style2">
												적금
												</em>
												<strong class="tit">E-RUN 정기적금</strong>
											</div>
											<ul class="text-bar-list mt10">
												<li>목돈마련</li>
												<li>대표상품</li>
												<li>비대면전용</li>
											</ul>
											<div class="label-info-wrap">
												<P>1일 ~</P>
												<strong class="info">최고 연<span>4.3</span>% <span class="ex">(연, 세전, 관리)</span></strong>
											</div>
										</div>
									</li>

									<li>
										<div class="prod-box">
											<div class="icon-exp">
												<p>30, 40대가 가장 많이 계좌를 개설했어요</p>
												<div class="tooltip-wrap type2 type-toast">
													<span class="like"></span>
													<div class="tooltip-txt reg">
														<p>관심상품으로 등록되었어요</p>
													</div>
													<div class="tooltip-txt del">
														<p>관심상품에서 제외했어요</p>
													</div>
												</div>
												<div class="tooltip-wrap type2">
													<span class="scale"></span>
													<div class="tooltip-txt">
														<p>비교상품으로 등록되었어요</p>
													</div>
												</div>
												
											</div>
											<div class="flag-tit-wrap">
												<em class="flag style2">
												적금
												</em>
												<strong class="tit">챌린지 적금</strong>
												
											</div>
											<ul class="text-bar-list mt10">
												<li>목돈마련</li>
												<li>대표상품</li>
												<li>비대면전용</li>
											</ul>
											<div class="label-info-wrap">
												<P>10개월 ~</P>
												<strong class="info">최고 연<span>4.3</span>%<span class="ex">(연, 세전, 관리)</span></strong>
											</div>
										</div>
									</li>
								
								

								</ul>
							</div>

							<div class="swiper-slide">
								<ul class="prod-box-list">
									<li>
										<div class="prod-box">
											<div class="icon-exp">
												<p>가장 많이 주목을 받고 있어요</p>
												<div class="tooltip-wrap type2 type-toast">
													<span class="like active"></span>
													<div class="tooltip-txt reg" style="display: block;">
														<p>관심상품으로 등록되었어요</p>
													</div>
													<div class="tooltip-txt del">
														<p>관심상품에서 제외했어요</p>
													</div>
												</div>
												<div class="tooltip-wrap type2">
													<span class="scale"></span>
													<div class="tooltip-txt">
														<p>비교상품으로 등록되었어요</p>
													</div>
												</div>
											</div>
											<div class="flag-tit-wrap">
												<em class="flag style2">
												입출금
												</em>
												<strong class="tit">E-RUN 파킹통장</strong>
											</div>
											<ul class="text-bar-list mt10">
												<li>입출금자유</li>
												<li>매일이자지급</li>
												<li>구간별차등금리</li>
											</ul>
											<div class="label-info-wrap">
												<P>1일 ~</P>
												<strong class="info">최고 연<span>3.35</span>% <span class="ex">(연, 세전, 관리)</span></strong>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<div class="swiper-slide">
								<ul class="prod-box-list">
									<li>
										<div class="prod-box">
											<div class="icon-exp">
												<p>가장 많이 주목을 받고 있어요</p>
												<div class="tooltip-wrap type2 type-toast">
													<span class="like active"></span>
													<div class="tooltip-txt reg" style="display: block;">
														<p>관심상품으로 등록되었어요</p>
													</div>
													<div class="tooltip-txt del">
														<p>관심상품에서 제외했어요</p>
													</div>
												</div>
												<div class="tooltip-wrap type2">
													<span class="scale"></span>
													<div class="tooltip-txt">
														<p>비교상품으로 등록되었어요</p>
													</div>
												</div>
											</div>
											<div class="flag-tit-wrap">
												<em class="flag style2">
												입출금
												</em>
												<strong class="tit">E-RUN 파킹통장</strong>
											</div>
											<ul class="text-bar-list mt10">
												<li>입출금자유</li>
												<li>매일이자지급</li>
												<li>구간별차등금리</li>
											</ul>
											<div class="label-info-wrap">
												<P>1일 ~</P>
												<strong class="info">최고 연<span>3.35</span>% <span class="ex">(연, 세전, 관리)</span></strong>
											</div>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</section>
				<script>
					//D : 24-05-09 : 탭 버튼 명칭 변경
					var pager = ['전체', '창고전용', '온라인전용'];
					var swiper = new Swiper('.tabs.swiper', {
						spaceBetween: 20,
						autoHeight: true,
						pagination: {
							el: '.tabs  > ul',
							clickable: true,
							renderBullet: function (index, className) {
							return '<li class="' + className + '">' + (pager[index]) + '</li>';
							}
						},
						observer: true, // [검수리스트-223] 추가
						observeParents: true // [검수리스트-223] 추가
					});
				</script>

				<div class="fin-cal-wrap">
					<div class="sub-tit-wrap"><!--[퍼블] mt 삭제 -->
						<p class="tit">금융계산기</p>
					</div>
					<section class="tabs-wrap type2">
						<div class="tabs">
							<ul class="tab-item col-02">
								<li class="on" data-tab="tab-cont001"><a href="#none">납입기간별</a></li>
								<li data-tab="tab-cont002"><a href="#none">목표 금액별</a></li>
							</ul>
							<div class="tab-content-area"><!--[퍼블] mt 삭제 -->

								<!-- // D: 납입기간별 -->
								<div id="tab-cont001" class="tab-content on">
									<p class="s-txt ta-c">만기예상금액을 예측해 보세요</p>

									

									<div class="select-wrap">
										<div id="" class="select-box" tabindex="1" >
											<label for=""><span class="color-F1108E"><strong><span>3.7</span>%</strong></span> 연 이율로</label>
											<span class="option">설정</span>
										</div>

										<!-- [퍼블-1] label 추가 -->
										<div id="" class="select-box" tabindex="1" >
											<label for=""><span class="color-F1108E"><strong><span>12</span>개월</strong></span> 동안</label>
											<span class="option">설정</span>
										</div>
										<!-- //[퍼블-1] label 추가 -->

										<div id="" class="select-box" tabindex="1" >
											<label for=""><span class="color-F1108E"><strong><span>30</span>만원</strong></span>을 월 납입하면?</label>
											<span class="option">설정</span>
										</div>
									</div>
									<div class="bg-box ta-c">
										<p><span class="color-4E32A5"><span>10,376,340</span>원</span> 받아요</p>
										<p><sapn class="color-999999">예상이자 : 376,340원 (만기일시 지급/세전)</sapn></p>
									</div>
								</div>
								<!-- D: 납입기간별 // -->

								<!-- // D: 목표금액별 -->
								<div id="tab-cont002" class="tab-content dp-none">
									<p class="s-txt ta-c">목표금액 달성 기간을 예측해 보세요</p>
									<div class="select-wrap">
										<div class="select-box" tabindex="1">
											<label for=""><span class="color-F1108E"><strong><span>1000</span>만원</strong></span> 달성금액목표로</label><!--[퍼블] strong 추가-->
											<span class="option">설정</span>
										</div>
										<div class="select-box" tabindex="1">
											<label for=""><span class="color-F1108E"><strong><span>30</span>만원</strong></span>을 월납입하고</label><!--[퍼블] strong 추가-->
											<span class="option">설정</span>
										</div>
										<div class="select-box" tabindex="1">
											<label for=""><span class="color-F1108E"><strong><span>3.7</span>%</strong></span> 연 이율을 적용하면?</label><!--[퍼블] strong 추가-->
											<span class="option">설정</span>
										</div>
									</div>

									<div class="bg-box ta-c">
										<p><span class="color-4E32A5"><span>33</span>개월</span> 걸려요</p>
										<p>
											<sapn class="color-999999">
											만기예상금액 : <span>10,345,000</span>원<br/>
											예상이자 : <span>376,000</span>원(만기일시 지급/세전)
											</sapn>
										</p>
									</div>
								</div>
								<!-- D: 목표금액별 // -->

							</div>
						</div>
					</section>
				</div>

				<!-- s:보호금융상품 -->
				<div class="kdic-wrap">
						<img src="../../../resources/images/common/img-kdic.png" alt="예금보험공사 보호금융상품 1인당 최고 5천만원">
						<p>이 예금은 예금자보호법에 따라 예금보험공사가 보호하되, 보호 한도는 본 예가람저축은행에 있는 귀하의 모든 예금보호 대상 금융상품의 원금과 소정의 이자를 합하여 1인당 "최고 5천만원"이며,  5천만원을 초과하는 나머지 금액은 보호하지 않습니다.</p>
					</div>
				<!-- E:보호금융상품 -->

                <!-- //e: gray-wrap -->
            </div>
        </div>
        <!-- //e: contents -->
    </div>
    <!-- //e: contentsWrap -->

	<!--s : 상품비교관련 알럿 3개-->
	<div id="lyAlert" class="layerpopup type-alert">
		<div class="content-wrap">
			<div class="pop-con-wrap">
				<span class="pop-con">상품비교 담기는<br>
					3개 까지 할 수 있어요</span>
			</div>
			<div class="btn-wrap">
				<a href="javascript:void(0);" class="btn close">확인</a>
			</div>
		</div>
	</div>
	<div id="lyAlert2" class="layerpopup type-alert">
		<div class="content-wrap">
			<div class="pop-con-wrap">
				<span class="pop-con">비교하실 상품이<br> 2개 이상이어야 해요</span>
			</div>
			<div class="btn-wrap">
				<a href="javascript:void(0);" class="btn close">확인</a>
			</div>
		</div>
	</div>
	<div id="lyAlert2" class="layerpopup type-alert">
		<div class="content-wrap">
			<div class="pop-con-wrap">
				<span class="pop-con">비교하실 상품이<br> 2개 이상이어야 해요</span>
			</div>
			<div class="btn-wrap">
				<a href="javascript:void(0);" class="btn close">확인</a>
			</div>
		</div>
	</div>
	<!--e : 상품비교관련 알럿 3개-->





<footer>
<!-- 푸터 타입별 정의 -->
</footer>

<!-- 업무공통 -->
<!-- //footer -->

</body>
</html>
