<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
<!--
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
 -->
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />

<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152139"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152139" id="biz_common"
	data-menuId="dep/inq"
	data-frameId="depList"
	data-serviceCd="depList.frm"
	data-serverTime="20230803152139"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>
<script type="text/javascript" src="../../../resources/js/Chart.bundle.js"></script> <!-- [퍼블] 추가 -->
<script type="text/javascript" src="../../../resources/js/chartjs-plugin-datalabels.js"></script> <!-- [퍼블] 추가 -->
</head>
<body>
	<!-- header -->
	<header class="headerWrap">  <!--D: bg-color02 클래스 : 뒤에 색상 들어갈 경우  -->
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a> <!--D: 이전버튼 -->
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>계좌상세</span></h2> 
		</div>
		<div class="headerRight">
		</div>
	</header>
	<!-- //header -->

	<!-- s: contentsWrap -->
	<div class="contentsWrap">
		<div class="contents">
            <div class="default-wrap">
				<div class="visaul-info-section">
					<div class="visaul-info-box">
						<strong class="info-tit">e정기예금</strong>
						<div class="account-area">
							<p class="account">123-12-12-1234567</p>
							<button type="button" class="btn-copy">복사하기</button>
						</div>
						<!--[퍼블1] 5/21 : 잔액부분 구조 변경 -->
						<ul class="amount-area">
							<li>
								<strong class="tit">잔액</strong>
								<span class="num">100,000원</span>
							</li>
						</ul>
						<div class="progress-area">
							<div class="progress-wrap">
								<div class="progress-line">
									<div class="progress-bar" style="width:50%;">
										<em class="current">50%</em>
									</div>
								</div>
								<!-- 개발단에서는 사용안함 <ul class="progress-txt">
									<li>최근 <span>2023.15.15</span></li>
									<li><span>00회차</span>/<span>00개월</span></li>
								</ul>-->
								<div class="progress-message">지금까지 잘하고 있어요</div>
							</div>
						</div>
						<a href="javascript:void(0);" class="btn-set" onclick="acnoSetBtn();">관리</a>
                        <!--D : 버튼클래스 공통잡기-->
                        <div class="btn-cont-wrap">
                            <a href="javascript:void(0);" class="btn btn-info btn-white">만기자동재예치</a>
                            <a href="javascript:void(0);" class="btn btn-primary">해지예상조회</a>
                        </div>

						<!-- 정기적금일때 버튼 -->
						<div class="btn-cont-wrap" style="display:none;">
							<a href="#none" class="btn btn-info btn-white">납입일변경</a>
							<a href="#none" class="btn btn-primary">입금</a>
						</div>
						<!-- // 정기적금일때 버튼 -->
                        <!-- 정기적금일때 버튼 -->
						<div class="btn-cont-wrap" style="display:none;">
							<a href="#none" class="btn btn-primary">이자즉시출금요청</a>
						</div>
						<!-- // 정기적금일때 버튼 -->
					</div>
					<!-- // 전체 변경 -->

				</div>

				<!-- s: 조회기간 호출 영역 -->
				<div class="inquiry-choice-area type-spread"> 
					<button type="button" class="btn-inquiry-choice"onclick="biz.dateInq(srchFilter);">
						<span id="termTxt">3개월</span>
						<!-- <span id="rstTxt">전체</span> --> 
						<span id="orderTxt">최신순</span>
					</button>
				</div>
				<div class="inquiry-result-area">
					<div class="inquiry-summary type-spread">
						<p class="period">
							<span id="sttTxt">2023. 00. 00</span> ~ <span id="endTxt">2023. 00. 00</span>
						</p>
						<div class="toggle-wrap">
							<input type="checkbox" id="blncChk" onclick="amtDisplay(this);">
							<label for="blncChk">
								<span>잔액표기</span>
								<div class="switch-btn">
									<span class="off">숨김</span> <span class="on">표기</span>
									<div class="inside"></div>
								</div>
							</label>
						</div>
					</div>

					<!-- [퍼블] 추가 -->
					<p class="month-divide type-spread">2023.05</p>

					<ul class="result-list">
						<li>
							<p class="date">2023.05.04 13:24:56</p>
							<a href="#none">
								<div class="txt-wrap">
									<strong class="tit">홍길동</strong>
								</div>
								<div class="amount-wrap">
									<strong class="amount deposit"><span class="tit">입금</span> 50,000원</strong>
									<strong class="balance"><span class="tit">잔액</span> 550,000원</strong>
								</div>
							</a>
						</li>
					</ul>
					<!-- // [퍼블] 추가 -->

					<!-- [퍼블] 정기적금일때 -->
					<ul class="data-list-wrap">
						<li>
							<div class="data-tit"><strong>2회차</strong></div>
							<ul class="data-list">
								<li>
									<span class="tit">납입일자</span>
									<span class="txt">2023.01.04</span>
								</li>
								<li>
									<span class="tit">납입금액</span>
									<span class="txt">350,000원</span>
								</li>
								<li>
									<span class="tit">납입 후 잔액</span>
									<span class="txt">700,000원</span>
								</li>
							</ul>
						</li>
						<li>
							<div class="data-tit"><strong>1회차</strong></div>
							<ul class="data-list">
								<li>
									<span class="tit">납입일자</span>
									<span class="txt">2023.01.04</span>
								</li>
								<li>
									<span class="tit">납입금액</span>
									<span class="txt">350,000원</span>
								</li>
								<li>
									<span class="tit">납입 후 잔액</span>
									<span class="txt">700,000원</span>
								</li>
							</ul>
						</li>
					</ul>
					<!-- // 정기적금일때 -->

					<!-- s: 거래내역 없음 D 클래스변경 확인 -->
					<div class="result-area nodata" id="transRsltNoData" style="display:block;">
						<p>조회된 거래내역이 없어요</p>
					</div>
					<!-- e : 거래내역 없음 -->

					<!-- s : 종합통장대출일경우 노출 -->
					<!-- <p class="month-divide">2023.04</p> -->
					<!-- e : 종합통장대출일경우 노출 -->

					<ul class="result-list" id="resultUl">
						<!-- 거래내역 출력부-->
					</ul>
					
					<!-- s:거래내역 포맷 -->
					<ul style="display: none;">
						<li id="LiFormat">
							<a href="#none">
								<div class="txt-wrap">
									<strong class="tit">DEPR_NAME</strong>
									<p class="date">
										TRN_DT<span>TRN_TKTM</span>
									</p>
								</div>
								<div class="amount-wrap">
									<strong class="amount"><span class="tit">TYPE</span>TRN_AMT원</strong>
									<strong class="balance"><span class="tit">잔액</span>ACNT_BLNC원</strong>
								</div>
							</a>
						</li>
					</ul>
					<!-- e:거래내역 포맷 -->
				</div>

			</div>

		</div>

	</div>
    <!-- //e: contentsWrap -->


<footer>
<!-- 푸터 타입별 정의 -->
</footer>

<!-- 업무공통 -->
<!-- //footer -->

</body>
</html>
