<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--D: 아래 폼과 버튼만 변경 -->

				<div class="tit-wrap">
					<p class="txt" id="rpyAmtInfo"><strong>이자(원리금) 상환금액</strong>을<br/> 입력해 주세요</p>
					<p class="txt" id="rpyAcnoInfo" style="display:none;"><b>출금하실 계좌</b>를<br/> 선택해 주세요</p>
				</div>

				<div class="txt-list-wrap">
					<div class="txt-detail-area">
						<div class="txt-detail-tit">
							<strong>예스론</strong>
						</div>
						<ul class="txt-list">
							<li>
								<span class="tit">계좌번호</span>
								<span class="txt">123-456-7890</span>
							</li>
							<li>
								<span class="tit">남은 대출금</span>
								<span class="txt">5,500,000,000원</span>
							</li>
							<li>
								<span class="tit">대출신청일</span>
								<span class="txt">2022.05.04</span>
							</li>
							<li>
								<span class="tit">대출만기일</span>
								<span class="txt">2024.05.04</span>
							</li>
						</ul>
					</div>
				</div>


                <!--D: FORM -->
                <!--S: 상환방식 -->
				<div id="rpyStep1" class="form-all-wrap" style="display:block;"><!--D: form-all-wrap 클래스 추가-->
					<!--D: 삭제 <div class="form-wrap">
						<div class="input"> -->
							<div id="rpyGbnDiv" class="form-wrap"><!--D: form-wrap 클래스 변경 -->
								<div class="select-box" tabindex="1" onclick="openPopupUp('lySel1');">
									<label for="rpyGbnText">상환방식</label>
									<span class="option" id="rpyGbnText">미선택</span>
									<input type="hidden" id="rpyGbn" class="step1_validChk">
									<!-- CMPY_YN : Y:완제, N:일부상환 -->
								</div>
							</div>
						<!-- </div>
					</div> -->
	
					<div class="form-wrap" id="rpyAmtDiv">
						<label for="RPY_AMT" class="formlabel onbasic">상환금액</label>
						<div class="input">
							<input type="text" title="상환금액" id="RPY_AMT" class="inp step1_validChk" onkeyup="validChk('step1'); removeErr(this);" name="RPY_AMT" value="" placeholder="" required="" readonly>
							<span class="static-unit">원</span>
						</div>
					</div>

					<!-- s: 중도상환 일경우 노출-->
					<p class="info-txt" id="rpyInfo">중도상환 하실 금액을 입력해 주세요</p>
					<!-- s: 중도상환 일경우 노출 //-->
					<!-- // [퍼블] 상환방식 선택 시 -->
				</div>
                <!--E: 상환방식 -->

                <!--S: 출금계좌 -->
				<div id="rpyStep2" class="form-all-wrap"><!--D:form-all-wrap 클래스 추가-->
					<!--D: 삭제 <div class="form-wrap">
						<div class="input"> -->
							<div id="wtchAcnoDiv" class="form-wrap"><!--D: form-wrap 클래스 변경-->
								<div class="select-box" tabindex="1" >
									<label for="wtchAcnoText">출금계좌</label>
									<span class="option" id="wtchAcnoText">미선택</span>
									<input type="hidden" id="WTCH_ACNO_16" name="WTCH_ACNO_16" class="step2_validChk">
								</div>
							</div>
						<!-- </div>
					</div> -->
				</div>
                <!--E: 출금계좌 -->
                <!--D: FORM //-->

			</div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
			<div class="btn-wrap flexCol"><!--D:flexCol 클래스 추가-->
				<a href="#none" class="btn disabled" id="step1_procBtn" onclick="PageFunc.viewChange();">다음</a><!--D: disabled 클래스 삭제 시 활성화-->
                <a href="#none" class="btn txt" onclick="PageFunc.cancel();">그만하기</a><!--D: btn txt 클래스 변경-->
			</div>
		</div>

		<!--S: 상환방식 (팝업)-->
		<div id="lySel1" class="layerpopup layer-up">
			<div class="content-wrap">
				<div class="pop-header">
					<h2 class="pop-title">상환방식</h2>
					<button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
				</div>
				<div class="ly-scroll-con ly-select">
					<ul class="ly-select-list">
						<li><button>회차상환</button></li>
						<li><button>중도상환</button></li>
					</ul>
				</div>
			</div>
		</div>
		<!--E: 상환방식 (팝업)-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

