<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
				<div class="tit-wrap">
					<p class="txt"><strong>대출계약철회권</strong>이란?</p>
                    <!--D: 아래 txtbox-wrap 구조 위치 이동 및 s-txt 구조로 변경, 텍스트 변경-->
                    <p class="s-txt">금융소비자가 대출계약에 대한 숙려기간 동안 불이익 없이 대출계약을 철회할 수 있도록 시행하는 제도예요</p>
				</div>
                <!--D: 삭제 <div class="txtbox-wrap">
                    <p>
                        대출계약철회권이란, 금융소비자가 대출계약에 대한 숙려기간 동안 불이익 없이 대출계약을 철회 할 수 있도록 시행하는 제도예요
                    </p>
                </div> -->
				<div class="sub-tit-wrap">
					<p class="tit">적용 대상</p>
					<ul class="list-bull hyphen">
						<li>개인 대출자</li>
					</ul>
				</div>

                <div class="sub-tit-wrap">
					<p class="tit">적용 상품</p>
					<ul class="list-bull hyphen">
                        <!--D: 텍스트 수정 -->
						<li>대출금액이 4천만원 이하인 신용대출과 대출금액이 2억원 이하인 담보대출(햇살론, 사잇돌 등 외부기관 위탁대출 및 기타 협약대출제외)</li>
					</ul>
				</div>

                <div class="sub-tit-wrap">
					<p class="tit">행사 절차</p>
					<ul class="list-bull hyphen">
						<li>대출 계약 후 14일 이내 철회의 의사표시를 하고 원리금 등을 상환함으로써 계약으로부터 탈퇴</li>
					</ul>
				</div>

                <div class="sub-tit-wrap">
					<p class="tit">행사 요건</p>
					<ul class="list-bull hyphen">
						<li>원리금 상환 + 부대비용 반환(소비자 담보 대출의 경우 근저당권 설정관련 수수료, 세금등/ 마이너스대출의 경우 한도약정수수료 등)</li>
					</ul>
				</div>

                <div class="sub-info-wrap"><!--D: 텍스트 수정-->
					<div class="tel">이용문의 <strong>1877-7788</strong></div>
					<p>평일 09:00 ~ 18:00<br/>(주말 및 공휴일 휴무)</p>
				</div>
            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
			<div class="btn-wrap">
				<a href="#none" class="btn">대출철회신청</a><!--D: 텍스트 수정-->
			</div>
		</div>

    </div>
    <!-- //contentsWrap -->
</body>
</html>

