<!DOCTYPE html>
<html lang="KO">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>예가람저축은행</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="keywords" content="예가람저축은행keywords">
	<meta name="description" content="예가람저축은행description">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="No-Cache">
	
	<link href="/resources/css/default.css" rel="stylesheet">
	<link href="/resources/css/renewal.css" rel="stylesheet">
	
	
	<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
	
	<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>
	
	<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" data-menuid="dep/prc" data-frameid="depAcnoOpenPrc2" data-servicecd="depAcnoOpenPrc2.frm" data-servertime="20230803152535" data-activemode="local" data-activeenv="${active.env">
	</script>
	
	
	</head>

<body>

<div class="wrap">
	<!-- s:header -->
	<header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>계좌비밀번호 오류해제</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
    <!-- e:header -->

    <!-- s: contentsWrap -->
    <div class="contentsWrap">
		<!-- s: contents -->
		<div class="contents">
			<!-- s: default-wrap -->
			<div class="default-wrap">

                <!-- D : div를 seciton 태그로 변경하여 제어 및 텍스트 확인 필요 -->
				<!-- s: 계좌비밀번호 오류계좌가 0개 남은 case -->
				<section class="result-area checking" id="succDiv1" style="display:block;">
					<p class="tit"><strong>요청하신 계좌비밀번호<br>오류해제가 완료되었어요</strong></p>
                    <!-- D : 클래스 변경 확인-->
					<div class="bg-box">
                        <p class="box-desc">계좌비밀번호가 변경됐어요<br>해당 계좌와 관련된 모든 은행 업무에<br>참고해 주세요</p>
                    </div>
				</section>
				<!-- e: 계좌비밀번호 오류계좌가 0개 남은 case -->
				
				<!-- s: 계좌비밀번호 오류계좌가 1개 이상 남은 case -->
				<section class="result-area checking" id="succDiv2" style="display:block;">
					<p class="tit"><strong>요청하신 계좌비밀번호<br>오류해제가 완료되었어요</strong></p>
					 <!-- D : 클래스 변경 확인-->
                     <div class="bg-box">
                        <p class="box-desc">계좌비밀번호가 변경됐어요<br>해당 계좌와 관련된 모든 은행 업무에 참고해 주세요<br>
                            계좌비밀번호 오류해제를 추가로 진행하려면<br>추가해제 버튼을 눌러주세요
                        </p>
                    </div>
				</section>
				<!-- e: 계좌비밀번호 오류계좌가 1개 이상 남은 case -->
				
				<!-- s: 계좌비밀번호 오류해제 실패 -->
				<section class="result-area exclamation" id="failDiv" style="display:block;">
					<p class="tit"><strong>요청하신 계좌비밀번호<br>오류해제가 완료되었어요</strong></p>
					<div class="txtbox-wrap">
						<p>잠시 후 다시 시도해주세요</p>
					</div>
				</section>
				<!-- e: 계좌비밀번호 오류해제 실패 -->
			</div>
			<!-- //s: default-wrap -->
		</div>
		<!-- //e: contents -->

		<!-- s: fixed-btn-wrap -->
		<div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <a href="#none" class="btn">홈으로</a>
            </div>
        </div>
        <!-- s: 계좌비밀번호 오류계좌가 1개 이상 남은 case 일경우 사용 -->
        <div class="fixed-btn-wrap" style="display:none;">
            <div class="btn-wrap flexCol">
                <a href="javascript:void(0);" class="btn">추가해제</a>
                <a href="javascript:void(0);" class="btn txt">홈으로</a>
            </div>
        </div>
         <!-- e: 계좌비밀번호 오류계좌가 1개 이상 남은 case 일경우 사용 -->
		<!-- //e: fixed-btn-wrap -->
	</div>
    <!-- e: contentsWrap -->
</div>

</body>

</html>