<!DOCTYPE html>
<html lang="KO">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>예가람저축은행</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="예가람저축은행 자동대출" />
    <meta name="description" content="대출신청부터 송금완료까지 한번에! 10분이면 OK!" />
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="/resources/css/default.css" rel="stylesheet" />
    <link href="/resources/css/swiper.min.css" rel="stylesheet" />
    <link href="/resources/css/renewal.css" rel="stylesheet" />

    <script type="text/javascript" src="/resources/js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/resources/js/lib/default.js"></script>
    <script type="text/javascript" src="/resources/js/lib/ui.js"></script>
</head>

<body>
    <div class="wrap">

        <!-- s:header -->
		<header class="headerWrap">
			<div class="header">
				<h2><span>지연이체 서비스 관리</span></h2>
			</div>
			<div class="menu-wrap">
				<a class="btn-menu" onclick="">메뉴</a>
			</div>
		</header>
        <!-- e:header -->

        <!-- s: contentsWrap -->
        <div class="contentsWrap">
            <!-- s: contents -->
            <div class="contents">
                <div class="default-wrap">
                    <div class="tit-wrap">
                        <p class="txt"><strong>지연이체</strong> 서비스를<br>해지하시겠어요?</p> <!-- [퍼블] 변경 -->
                        <p class="s-txt">해지하시면 즉시이체로 진행돼요</p> <!-- [퍼블-2] 클래스 추가 -->
                    </div>
                </div>
            </div>
            <!-- //e: contents -->

            <!-- s: fixedBtnWrap -->
            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="#none" class="btn">해지하기</a>
                </div>
            </div>
            <!-- //e: fixedBtnWrap -->
        </div>
		<!-- e: contentsWrap -->
    </div>

</body>
</html>