<!DOCTYPE html>
<html lang="KO">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행 자동대출" />
<meta name="description" content="대출신청부터 송금완료까지 한번에! 10분이면 OK!" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />
<link href="/resources/css/swiper.min.css" rel="stylesheet" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js"></script>
</head>

<body>

<div class="wrap">
	<!-- s:header -->
    <header class="headerWrap">
        <script>
            $(document).ready(function () {
                document.charset = "utf-8";
                $("header").load("../inc/header.html")
            });
        </script>
    </header>
    <!-- e:header -->

    <!-- s: contentsWrap -->
    <div class="contentsWrap">
    <!-- s:contents -->
		<div class="contents">
			<div class="default-wrap">

				<div class="result-area checking">
					<p class="tit"><strong>지연이체 서비스를<br>해지했어요</strong></p> <!-- [퍼블] 변경 -->
				</div>

			</div>

		</div>
		<!-- //e:contents -->

        <!-- s: fixedBtnWrap -->
		<div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <a href="#none" class="btn">홈으로</a>
            </div>
        </div>
        <!-- //e: fixedBtnWrap -->

    </div>
    <!-- e: contentsWrap -->
</div>

</body>

</html>