<!DOCTYPE html>
<html lang="KO">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>예가람저축은행</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="예가람저축은행keywords">
    <meta name="description" content="예가람저축은행description">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
    
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    
    <link href="/resources/css/default.css" rel="stylesheet">
    <link href="/resources/css/renewal.css" rel="stylesheet">
    
    
    <link href="/resources/css/swiper-bundle.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
    
    <script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>
    
    <script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
    <script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
    <script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152350"></script>
    <script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152350" id="biz_common" data-menuid="dep/inq" data-frameid="depDetail" data-servicecd="depDetail.frm" data-servertime="20230803152350" data-activemode="local" data-activeenv="${active.env">
    </script>
    </head>

<body>

    <div class="wrap">
        <!-- s:header -->
        <header class="headerWrap">
            <div class="headerLeft">
                <a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
            </div>
            <div class="headerCenter">
                <h2 class="text"><span>지연이체 서비스 관리</span></h2> <!--D: TEXT -->
            </div>
            <div class="headerRight">
                <!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
            </div>
        </header>
        <!-- e:header -->
        <!-- s: contentsWrap -->
        <div class="contentsWrap">
            <!-- s: contents -->
            <div class="contents">
                <div class="default-wrap">
                    <seciton>
                        <div class="tit-wrap">
                            <p class="txt"><strong>지연이체</strong> 서비스란?</p>
                            <p class="s-txt">
                                전자금융 사기와 착오 송금 예방을 위해
                                인터넷뱅킹, 텔레뱅킹 및 스마트폰 뱅킹을
                                이용하여 이체 시 3시간 이후에 송금되도록 하는
                                서비스에요
                            </p>
                        </div>
                        <div class="arrow-button-wrap">
                            <ul class="arrow-button-list">
                                <li><a href="#none" onclick="openPopup('lyPullPop01')">유의사항</a></li> <!-- [퍼블] .mt0 삭제 -->
                            </ul>
                        </div>
                    </seciton>
                </div>
            </div>
            <!-- //e: contents -->
            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="#none" class="btn">등록</a>
                </div>
            </div>
            <!--s:유의사항-->
            <div id="lyPullPop01" class="layerpopup laypop-all" tabindex="0">
				<div class="pop-header">
                    <h2 class="pop-title">유의사항</h2>
                    <button type="button" name="button" class="btn-layer-close">닫기</button>
                </div>
				<div class="pop-con-wrap">
					<div class="default-wrap">
                        <!--[퍼블-1] 5/21 : txt-style 제거-->
						<ul class="list-bull">
                            <li>지연이체 서비스 신청은 영업점, 인터넷뱅킹, 텔레뱅킹, 예스뱅킹 앱에서 가능하며, 서비스 해지는 
                                이용가능시간 내 영업점 방문 또는 예스뱅킹 앱에서 진행 가능해요</li>
                            <li>지연이체 서비스 가입상태에서는 00:12 ~ 20:30에만지연이체 등록이 가능해요</li>
                            <li>지연이체 시간은 이체 등록 시점으로부터 3시간 후에
                                송금 처리되며, 실제 이체 실행시간은 전산시스템에 의해 순차 실행되므로 오차가 발생할 수 있어요</li>
                             <li>이체 실행시간 30분 전까지 이체결과조회 메뉴에서 취소 가능해요</li>
                             <li>지연이체 결과는 이체결과조회 메뉴에서 확인 가능하며 SMS 서비스 가입자는 문자로도 이체 결과가 전송돼요</li>
                             <li>지연이체를 실패한 경우 이체 등록을 다시 하셔야해요</li>
                             <li>
                                지연이체 서비스 가입 시점으로부터 모든 이체가 지연이체로 진행되나, 다음 2가지 경우에 한하여 즉시이체가 가능해요
                                <ul class="list-bull hyphen">
                                    <li>당행 본인계좌로 이체할 경우</li>
                                    <li>1일 한도 100만원 이내에서 추가 인증(ARS 또는 
                                        스마트앱 인증을) 거쳐 즉시 이체 요청하는 경우</li>
                                </ul>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
            <!--e:유의사항-->
            
        </div>
        <!-- e: contentsWrap -->

    </div>

</body>

</html>