<!DOCTYPE html>
<html lang="KO">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>예가람저축은행</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="keywords" content="예가람저축은행keywords">
	<meta name="description" content="예가람저축은행description">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="No-Cache">
	
	<link href="/resources/css/default.css" rel="stylesheet">
	<link href="/resources/css/renewal.css" rel="stylesheet">
	
	
	<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
	
	<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>
	
	<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
	<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
	<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" data-menuid="dep/prc" data-frameid="depAcnoOpenPrc2" data-servicecd="depAcnoOpenPrc2.frm" data-servertime="20230803152535" data-activemode="local" data-activeenv="${active.env">
	</script>
	
	
	</head>

<body>

<div class="wrap">
	<!-- s:header -->
	<header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>한도제한해제</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
    <!-- e:header -->

    <!-- s: contentsWrap -->
    <div class="contentsWrap">
		<!-- s: contents -->
		<div class="contents">
			<!-- s: default-wrap -->
			<div class="default-wrap">
				<div class="tit-wrap">
					<p class="txt">신규 입출금 통장 개설 시<br><strong>한도제한으로 설정</strong>돼요</p> <!-- [퍼블] 변경 -->
				</div>
                <!-- D : mt40클래스 추가 -->
				<div class="bg-box-wrap mt40">
					<div class="bg-box">
						<strong class="box-tit">한도제한계좌</strong>
						<p class="box-desc">대포통장 근절을 위한 금융거래 목적 확인 제도 시행으로 1일 1회출금 및 이체한도가 제한된 계좌예요</p><!-- 클래스 추가 -->
					</div>
	
					<div class="bg-box">
						<p class="box-desc">한도제한계좌를 해제 하시기 위해서는 본인 확인 및 증빙서류제출 등 거래 목적 확인이 필요해요</p><!-- 클래스 추가 -->
					</div>
	
					<div class="bg-box">
						<p class="box-desc">확인이 끝나면 한도가 제한 없는 일반계좌로 전환이 가능해요</p><!-- 클래스 추가 -->
					</div>
				</div>
                <!-- D : sub-tit-wrap, list-icon 그룹묵기 -->
				<!-- [퍼블-1] 5/27 : 구조 완전 변경-->
                    <!--<div class="sub-tit-wrap">
                        <p class="tit">한도제한 해제방법</p>
                    </div>
                    <ul class="list-icon">
                        <li class="accept">
                            <p class="tit">STEP 1</p>
                            <p class="txt">증빙자료 직접 촬영하여 제출</p>
                        </li>
                        <li class="handle">
                            <p class="tit">STEP 2</p>
                            <p class="txt">한도제한신청완료</p>
                        </li>
                        <li class="confirm">
                            <p class="tit">STEP 3</p>
                            <p class="txt">서류심사</p>
                        </li>
                    </ul>
                </div>-->
				<div class="form-all-wrap">
					<div class="sub-tit-wrap">
						<!--[퍼블-2]:텍스트 변경-->
						<p class="tit">한도 해제방법</p>
						<p class="txt">진행하실 해제방법을 선택해 주세요</p>
						<!--[퍼블-2]:텍스트 변경//-->
					</div>
					<div class="check-wrap">
						<ul class="check-box">
							<li class="mydata"><!--[퍼블-2] :클래스 변경-->
								<fieldset>
									<input type="radio" id="Chk01_6" name="Chk01" value="" class="">
									<label for="Chk01_6">마이데이터<br>서류제출</label>
								</fieldset>
							</li>
							<li class="camera"><!--[퍼블-2] :클래스 변경-->
								<fieldset>
									<input type="radio" id="Chk01_8" name="Chk01" value="" class="">
									<label for="Chk01_8">서류직접<br>촬영제출</label><!--[퍼블-2] : 텍스트 -->
								</fieldset>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!-- //s: default-wrap -->
		</div>
		<!-- //e: contents -->

		<!-- s: fixed-btn-wrap -->
		<div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <a href="#none" class="btn">다음</a>
            </div>
        </div>
		<!-- //e: fixed-btn-wrap -->

		<!--D: 한도제한해제 계좌 보유 없음 안내 (팝업)-->
		<div id="lyPop1" class="layerpopup layer-up show" style="position: fixed; top: 400px; left: 0px; display: none;"><!-- [D] has-button 클래스 : 하단버튼 있을 경우 사용 -->
            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">한도제한해제 계좌 보유 없음 안내</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-scroll-con">
                    <div class="txtbox-wrap">
                        <p>한도제한해제 가능한 계좌가 없어요<br/>이체 한도를 확인하시기 바랍니다.</p>
                    </div>
                </div>
            </div>
        </div>
		<!--D: 한도제한해제 계좌 보유 없음 안내 (팝업)//-->

	</div>
    <!-- e: contentsWrap -->
</div>

</body>

</html>