<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>비과세종합저축 증빙자료제출</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
		</div>
	</header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <div class="tit-wrap">
                    <p class="txt"><strong>비과세 증빙자료를 제출</strong>하시면<br/><strong>비과세 혜택</strong>을 받으실 수 있어요</p><!--[퍼블-2] strong 태그 삭제-->
                </div>
                <!--D:list-icon 부분 txt-wrap로 감싸기-->
                <div class="txt-wrap">
                    <ul class="list-icon">
                        <li class="accept">
                            <p class="tit">STEP 1</p> <!-- [퍼블] 텍스트 변경 -->
                            <p class="txt">증빙서류제출</p>
                        </li>
                        <li class="confirm">
                            <p class="tit">STEP 2</p> <!-- [퍼블] 텍스트 변경 -->
                            <p class="txt">접수/심사</p>
                        </li>
                        <li class="handle">
                            <p class="tit">STEP 3</p> <!-- [퍼블] 텍스트 변경 -->
                            <p class="txt">적용완료 및 SMS안내</p>
                        </li>
                    </ul>
                </div>
                <!-- 가입대상 및 증빙자료 table-type밖으로 빼고 유형 변경-->
                <div class="table-type table-row type-left02">
                    <div class="sub-tit-wrap">
                        <p class="tit">가입대상 및 증빙자료</p>
                        <div class="list-bull">
                            <ul>
                                <li>증빙서류 상 유효기간이 있는 경우 그 유효기간 이내, 증명서 또는 확인원은 최근 90일 이내 발급된 서류만 인정돼요</li>
                                <li>대상자별 증빙자료는 국가/지방자치단체의 장 또는 국가보훈처가 발행한 서류만 인정돼요</li>
                            </ul>
                        </div>
                    </div>
                    <table>
                        <caption>가입내상 및 증빙자료 안내표</caption>
                        <colgroup>
                            <col width="40%">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="ta-c">가입대상</th>
                                <th class="ta-c">증빙자료</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>장애인</td>
                                <td>장애인증명서 (증명원), 장애인 등록증 (복지카드)</td>
                            </tr>
                            <tr>
                                <td>국가유공자</td>
                                <td>국가유공자확인원, 국가유공자증, 보훈보상대상사자증, 지원대상자 확인원</td>
                            </tr>
                            <tr>
                                <td>기초생활수급자</td>
                                <td>국민기초생활수습자증명서</td>
                            </tr>
                            <tr>
                                <td>5.18민주화운동 부상자</td>
                                <td>5.18민주유공자확인원, 5.19민주유공자증</td>
                            </tr>
                            <tr>
                                <td>독립유공자 및 유가족</td>
                                <td>독립유공자(유족)확인원, 독립유공자증, 독립유공자유족증</td>
                            </tr>
                            <tr>
                                <td>고엽제후유의 중환자</td>
                                <td>고엽제법적용대상확인원</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--D: check-box, sub-tit-wrap안으로 이동 및 mt15 클래스 추가-->
                <!--
                <div class="sub-tit-wrap">
                    <p class="tit">제출하실 방법을 선택해주세요</p>
                    <ul class="check-box mt15">
                        <li class="mydata">
                            <fieldset>
                                <input type="radio" id="Chk01_1" name="Chk01" value="" class="" checked="">
                                <label for="Chk01_1">마이데이터 서류제출</label>
                            </fieldset>
                        </li>
                        <li class="camera">
                            <fieldset>
                                <input type="radio" id="Chk01_2" name="Chk01" value="" class="">
                                <label for="Chk01_2">서류직접 촬영제출</label>
                            </fieldset>
                        </li>
                    </ul>
                </div>
                -->
                
            </div>
        </div>
        <!-- //contents -->

        <div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <a href="javascript:void(0);" class="btn">다음</a>
            </div>
        </div>



    </div>
    <!-- //contentsWrap -->
</body>
</html>

