<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap"> <!--D: bg-color02 클래스 : 뒤에 색상 들어갈 경우  -->
		<div class="headerLeft">
			<!--D: 이전버튼-->
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
	
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>상담원연결</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!--D: 전체메뉴버튼 -->
			<a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
		</div>
	</header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <div class="tit-wrap">
                    <p class="txt">궁금증을 해결해 드릴<br/><b>상담 전화번호</b>를 안내해 드려요</p>
                </div>

                <div class="sub-tit-wrap">
					<p class="tit">상담 전화번호 안내</p>
				</div>

                <ul class="more-box-list"><!--D: 통합 대표번호는 변경되었으며 부동산 담보대출문의는 삭제되었습니다.-->
                    <li>
                        <div class="more-box">
                            <p>통합 대표번호<p>
                            <span>상담가능시간 : 평일 09:00 ~ 18:00</span>
                        </div>
                        <div class="btn-cont-wrap"><!--D: 텍스트 변경-->
                            <a href="tel:1877-7788" class="btn"><strong>1877-7788</strong></a>
                        </div>
                    </li>
                </ul>

                <!--D: 추가 -->
                <p class="info-txt">주말 및 공휴일 휴무</p>
                <p class="info-txt">ARS 대출신청 접수 : 24시간</p>
                <p class="info-txt">상담 전, 고객님들이 자주묻는 질문을 확인해 보세요</p>
                <!--D: 추가 //-->

                <!-- <p class="info-txt" style="margin-top:40px; margin-bottom:15px;">상담 전, 자주묻는 질문을 확인해 보세요</p> -->
                <div class="btn-cont-wrap flexCenter"><!-- D: 클래스 변경 -->
					<a href="./faq.frm" class="btn btn-add">'자주묻는 질문' 바로가기</a><!-- D: 클래스 변경 및 텍스트 변경-->
				</div>

            </div>
        </div>
        <!-- //contents -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

