<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
        <div class="headerLeft">
            <!--D: 이전버튼-->
            <a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
        </div>
        <div class="headerCenter">
            <h2 class="text"><span>전자민원신청 안내</span></h2> <!--D: TEXT -->
        </div>
        <div class="headerRight">
            <!--D: 전체메뉴버튼 -->
            <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
        </div>
    </header>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    <div class="tit-wrap">
                        <p class="txt"><strong>민원신청 방법</strong>을<br>안내해 드려요</p>
                    </div>
                    <div class="sub-tit-wrap">
                        <p class="tit">신청하신 민원은 이렇게 처리되어요</p>
                    </div>
                    <ul class="list-icon bor-line">
                        <li class="accept">
                            <p class="tit">step1</p>
                            <p class="txt">민원접수</p>
                        </li>
                        <li class="notice">
                            <p class="tit">step2</p>
                            <p class="txt">민원접수 사실통지</p>
                        </li>
                        <li class="confirm">
                            <p class="tit">step3</p>
                            <p class="txt">민원확인 및 담당부서 이첩</p>
                        </li>
                        <li class="found">
                            <p class="tit">step4</p>
                            <p class="txt">담당부서 민원원인 및 처리방안 수립</p>
                        </li>
                        <li class="notice">
                            <p class="tit">step5</p>
                            <p class="txt">민원인에게 진행상황 통지(14일 이내)</p>
                        </li>
                        <li class="report">
                            <p class="tit">step6</p>
                            <p class="txt">민원전담부서 보고</p>
                        </li>
                        <li class="review">
                            <p class="tit">step7</p>
                            <p class="txt">민원전담부서 처리방안 검토</p>
                        </li>
                        <li class="handle">
                            <p class="tit">step8</p>
                            <p class="txt">민원 종결처리 및 사후처리</p>
                        </li>
                    </ul>
    
                    <div class="sub-tit-wrap">
                        <p class="tit">민원 접수 방법이 궁금하신가요?</p>
                    </div>
    
                    <ul class="more-box-list">
    
                        <li>
                            <div class="more-box">
                                <p>온라인 민원접수</p>
                                <span>예가람저축은행 전자민원신청 및 내역 조회</span>
                            </div>
                            <div class="btn-cont-wrap btn-more">
                                <a href="#none" class="btn" onclick="openPopupUp('AuthPop');">신청 및 조회하기</a><!--D: strong 삭제-->
                            </div>
                        </li>
    
                        <li>
                            <div class="more-box">
                                <p>전화 민원접수</p>
                                <span>고객지원팀 1877-7788<br/>
                                    상담가능시간 : 평일 09:00 ~ 18:00<br/>
                                    주말, 공휴일 휴무</span>
                            </div>
                            <div class="btn-cont-wrap btn-more">
                                <a href="tel:1877-7788" class="btn">전화 문의하기</a><!--D: strong 삭제--><!--[퍼블-1]: 1877-7788로 변경-->
                            </div>
                        </li>
    
                        <li>
                            <div class="more-box">
                                <p>우편, 지정방문 민원접수</p>
                                <span>서울 중구 세종대로 50 흥국생명빌딩 3층<br/>준법 감시팀 민원담당자</span>
                            </div>
                        </li>
                        <li>
                            <div class="more-box">
                                <p>민원신청 전,<br/>
                                    자주묻는 질문을 확인해 보세요</p>
                            </div>
                            <div class="btn-cont-wrap btn-more">
                                <a href="#none" class="btn" onclick="openPopupUp('AuthPop');">자주묻는 질문 바로가기</a><!--D: strong 삭제-->
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <!-- //contents -->

            <div id="lyAlert1" class="layerpopup type-alert on" style="display: block;">
                <div class="content-wrap">
                    
                    <div class="pop-con-wrap">
                        <span class="pop-con">온라인 민원접수 진행 전, 본인 인증이 필요해요<br/>
                            본인 인증을 진행 하시겠어요?</span>
                    </div>
                    <div class="btn-wrap">
                        <a href="javascript:void(0);" class="btn close">확인</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- //contentsWrap -->
</body>
</html>

