<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <form>
        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">

					<!--D: flag의 style만 변경되었습니다.-->

                    <div class="tit-wrap">
                        <p class="txt">신청한<b> 전자민원 내역</b>을<br>확인해보세요</p>
                    </div>

                    <div class="sub-tit-wrap">
                        <p class="tit">전자민원 내역</p>
                    </div>

                    <!--//D: 신청내역이 있는 경우-->
                    <ul class="terms-list" id="MW_LIST"><!--[퍼블] 클래스 변경-->
                        <li>
                            <a href="#none">
                                <em class="flag style5">접수</em><!--D: style5 : 접수일 경우-->
                                <p>대출신청 문의 드립니다</p>
                                <input type="hidden" id="SEQ" value=""/>
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <em class="flag style6">처리중</em><!--D: style6 : 처리일 경우-->
                                <p>결제 대금을 확인하고 싶습니다</p>
                                <input type="hidden" id="SEQ" value="" />
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <em class="flag style7">완료</em><!--D: style7 : 완료일 경우-->
                                <p>결제 취소 건에 대해 문의드려요<span class="file-clip"></span></p><!--D:file-clip 파일이 있는 경우-->
                                <input type="hidden" id="SEQ" value="" />
                            </a>
                        </li>
                    </ul>
                    <!--D: 신청내역이 있는 경우//-->

					<!--D: 신청내역이 없는 경우 기종이랑 동일-->
                    <div class="result-area nodata">
                        <p>신청하신 전자민원이 없어요</p>
                    </div>
					<!--D: 신청내역이 없는 경우 기종이랑 동일//-->
                </div>
            </div>
            <!-- //contents -->

            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="#none" class="btn">민원신청하기</a>
                </div>
            </div>

        </div>
        <!-- //contentsWrap -->
    </form>
</body>
</html>

