<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">
        <div class="headerLeft">
            <!--D: 이전버튼-->
            <a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
        </div>
        <div class="headerCenter">
            <h2 class="text"><span>금리인하요구권 안내</span></h2> <!--D: TEXT -->
        </div>
        <div class="headerRight">
            <!--D: 전체메뉴버튼 -->
            <!-- <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a> -->
        </div>
    </header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
                <!--D: tabs-wrap과 tab-item에 클래스만 추가 되며  텍스트 변경사항이 없습니다. pdf는 해당 pdf로 적용이 되었는지 확인이 필요합니다..-->
                <section class="tabs-wrap type2"><!--D: type2 클래스 추가-->
                    <div class="tabs">
                        <ul class="tab-item square col-03"><!--D: square / col-03 클래스 추가-->
                            <li class="on" data-tab="tab-cont09"><a href="#none">전자금융거래<br/>기본약관</a></li> <!--  P00006 -->
                            <li data-tab="tab-cont10" class=""><a href="#none">전자금융서비스<br/>이용약관</a></li> <!-- P00005 -->
                            <li data-tab="tab-cont11" class=""><a href="#none">전자금융거래<br/>유의사항</a></li>
						</ul>

                        <div class="tab-content-area">
                            <div id="tab-cont09" class="">
                                <div class="info-wrap"><!--D:약관 불러 올 경우 info-wrap 사용-->
                                    <iframe src="" style="width:100%; height:100%;"></iframe>  
                                </div>
                            </div>
                            
                            <div id="tab-cont10" class="dp-none" >
                                <div  class="info-wrap"><!--D:약관 불러 올 경우 info-wrap 사용-->
                                    <iframe src="" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div>

                            <div id="tab-cont11" class="dp-none">
                                <div  class="terms-notice-wrap">
									<!-- <div class="sub-tit-wrap">
                                        <p class="tit">전자금융거래 유의사항</p>
                                        <p class="txt">
											※해당 계약서류는 관런 법령 및 내부통제기준에 따른 절차를 거처 제공됩니다.
										</p>
                                    </div>

									<div class="guide-txt-wrap">
										<ul class="list-bull type-large num">
											<li>
												<em>1.</em>
												공인인증서, 보안카드, 비밀번호 등은 e-mail함 웹하드 등 인터넷상에 보관하지 마시고, 만일 보관한 경우 즉시 삭제하고 해당 금융기관을 방문하여 재발급을 받으십시오.
											</li>
											<li>
												<em>2.</em>
												전자금융거래를 절대로 본인 외 가족 또는 제 3자에게 위임, 대여, 양도하거나, 보안카드, 비밀번호 등 개인정보 및 전자금융관련 정보를 타인에게 알려 주지 마십시오.
											</li>
											<li>
												<em>3.</em>
												전자금융거래의 1회 이용한도 및 1일 이체한도를 적절히 설정하십시오.
											</li>
											<li>
												<em>4.</em>
												계좌이체, 공동인증서재발급 등의 이용내역을 즉시 알려주는 휴대폰문자 서비스(SMS)를 반드시 가입하십시오.(인터넷뱅킹 로그인 후 고객정보 / SMS 수신여부를 YES 상태로 유지합니다.)
											</li>
											<li>
												<em>5.</em>
												공동인증서, 보안카드, 계좌비밀번호 등 전자금융 정보 유출이 의심되는 경우 즉시 보안매체
												(보안카드 또는 0TP)를 인터넷뱅킹 사고신고화면에서 분실신고 하신 후, 해당 금융기관에 연락하여 출금정지를 요청하십시오.<br>
												※사고신고방법 : 영업점을 방문하시거나 인터넷 뱅킹 접속 후 사고신고 호면을 통해 가능합니다.
												(텔레뱅킹 이용자는 <a href="tel:1544-3636" target="_blank">1544-3636</a>으로 사고신고 가능)
											</li>
											<li>
												<em>6.</em>
												12개월이상 이용실적이 없는 경우 장기미사용으로 이체거래가 제한됩니다.
											</li>
										</ul>
									</div> -->



                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <!-- //contents -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

