<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">

  

</script>
<script>
  $(document).ready(function(){
        $('.fix-tag a').on('click', function(e){
            e.preventDefault();
            $('.fix-tag a').removeClass('on');
            $(this).addClass('on');
        })
    });
</script>

</head>

<body>
    <!-- header -->
    <header class="headerWrap">
        <div class="headerLeft">
            <!--D: 이전버튼-->
            <a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
        </div>
        <div class="headerCenter">
            <h2 class="text"><span>자주 묻는 질문</span></h2> <!--D: TEXT -->
        </div>
        <div class="headerRight">
            <!--D: 전체메뉴버튼 -->
            <a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
        </div>
    </header>
	<!-- //header -->

        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    <div class="search-area "><!-- D: 클래스 삭제 -->
                        <div class="form-wrap type-box"><!-- D: 클래스 추가 -->
                            <div class="input">
                                <input type="search" title="" id="FAQ_SEARCH_KEYWORD" class="" name="" value="" placeholder="검색어를 입력해주세요" maxlength="30" required="">
                            </div>
                            <button type="button" class="btn-search" onclick="fnSelectList('F','01','', $('#FAQ_SEARCH_KEYWORD').val());">검색</button>
                            <button type="button" class="btn-delete" onclick="$('#FAQ_SEARCH_KEYWORD').val('');">검색어 삭제</button><!--D: 검색창에 text가 있을 경우 나타남 / 검색어 삭제 아래로 위치 변경-->
                        </div>
                    </div>

                    <!--//D: 핫 키워드 버튼--><!--D: 텍스트 변경-->
                    <div class="fix-tag">
                        <span>#추천검색어</span>
                        <a href="#none">#대출</a><!--D: on 클래스 : 선택됨-->
                        <a href="#none">#자동이체</a>
                        <a href="#none">#예금</a>
                        <a href="#none">#적금</a>
                        <a href="#none">#고객센터</a>
                    </div>
                    <!--D: 핫 키워드 버튼//-->

                    <section class="tabs-wrap type3">
                        <div class="tabs">
                            <ul class="tab-item">
                                <li class="on" data-tab="tab-cont01"><a href="#none" title="선택됨">전체</a></li>
                                <li data-tab="tab-cont02" class=""><a href="#none">홈페이지&앱</a></li>
                                <li data-tab="tab-cont03" class=""><a href="#none">공통</a></li>
                                <li data-tab="tab-cont04" class=""><a href="#none">대출</a></li>
                                <li data-tab="tab-cont05" class=""><a href="#none">예적금</a></li>
                                <li data-tab="tab-cont06" class=""><a href="#none">기타</a></li>
                            </ul>
                            <div class="tab-content-area">
                                <div id="tab-cont01" class="tab-content"> <!-- 전체 -->
                                    <!--//D:자주묻는 질문 목록 (10건 씩 노출,하단으로 스크롤 할 경우 10개 씩 추가 노출)-->
    
                                    <ul class="terms-list" id="FAQ_SELECT_LIST_01">
    
                                        <li>
                                            <a href="javascript:void(0);">
                                                <em class="flag ">예적금</em><!--D: style9 삭제-->
                                                <p>금액 별 필요한 인증 단계가 어떻게 되나요?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <em class="flag ">대출</em>
                                                <p>금액 별 필요한 인증 단계가 어떻게 되나요?</p>
                                            </a>
                                        </li>
    
                                    </ul>
                                    
                                </div>
                                <div id="tab-cont02" class="tab-content"> <!-- 홈페이지&앱 -->
                                    <ul class="terms-list" id="FAQ_SELECT_LIST_02">
                                    </ul>
    
                                    <!--// 게시글이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_LIST_EMPTY_02" style="display:none;">
                                        <p>등록된 게시글이 없어요</p>
                                    </div>
                                    <!--D: 게시글이 없는 경우//-->
                                    <!--//D: 검색어에 해당하는 내용이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_SEARCH_EMPTY" style="display:block;">
                                        <p>입력하신 검색어에<br>해당하는 결과가 없어요</p>
                                    </div>
                                    <!--D: 검색어에 해당하는 내용이 없는 경우//-->
    
                                </div>
                                <div id="tab-cont03" class="tab-content"> <!-- 공통 -->
                                    <ul class="terms-list" id="FAQ_SELECT_LIST_03">
                                    </ul>
    
                                    <!--// 게시글이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_LIST_EMPTY_03" style="display:none;">
                                        <p>등록된 게시글이 없어요</p>
                                    </div>
                                    <!--D: 게시글이 없는 경우//-->
                                    <!--//D: 검색어에 해당하는 내용이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_SEARCH_EMPTY" style="display:none;">
                                        <p>입력하신 검색어에<br>해당하는 결과가 없어요</p>
                                    </div>
                                    <!--D: 검색어에 해당하는 내용이 없는 경우//-->
                                </div>
                                <div id="tab-cont04" class="tab-content"> <!-- 대출 -->
                                    <ul class="terms-list" id="FAQ_SELECT_LIST_04"><!--[퍼블] 클래스 변경-->
                                    </ul>
                                    <!--// 게시글이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_LIST_EMPTY_04" style="display:none;">
                                        <p>등록된 게시글이 없어요</p>
                                    </div>
                                    <!--D: 게시글이 없는 경우//-->
                                    <!--//D: 검색어에 해당하는 내용이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_SEARCH_EMPTY" style="display:none;">
                                        <p>입력하신 검색어에<br>해당하는 결과가 없어요</p>
                                    </div>
                                    <!--D: 검색어에 해당하는 내용이 없는 경우//-->
                                </div>
                                <div id="tab-cont05" class="tab-content"> <!-- 예적금 -->
                                    <ul class="terms-list" id="FAQ_SELECT_LIST_05">
                                    </ul>
                                    <!--// 게시글이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_LIST_EMPTY_05" style="display:none;">
                                        <p>등록된 게시글이 없어요</p>
                                    </div>
                                    <!--D: 게시글이 없는 경우//-->
                                    <!--//D: 검색어에 해당하는 내용이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_SEARCH_EMPTY" style="display:none;">
                                        <p>입력하신 검색어에<br>해당하는 결과가 없어요</p>
                                    </div>
                                    <!--D: 검색어에 해당하는 내용이 없는 경우//-->
                                </div>
                                <div id="tab-cont06" class="tab-content"> <!-- 기타 -->
                                    <ul class="terms-list" id="FAQ_SELECT_LIST_06">
                                    </ul>
                                    <!--// 게시글이 없는 경우-->
                                    <div class="result-area nodata" id="FAQ_SELECT_LIST_EMPTY_06" style="display:none;">
                                        <p>등록된 게시글이 없어요</p>
                                    </div>
                                    <!--D: 게시글이 없는 경우//-->
                                    <!--//D: 검색어에 해당하는 내용이 없는 경우-->
                                    <div class="result-area nodata " id="FAQ_SELECT_SEARCH_EMPTY" style="display:none;">
                                        <p>입력하신 검색어에<br>해당하는 결과가 없어요</p>
                                    </div>
                                    <!--D: 검색어에 해당하는 내용이 없는 경우//-->
                                </div>
                            </div>
                        </div>
    
                    </section>

                </div>
            </div>
            <!-- //contents -->

        </div>
        <!-- //contentsWrap -->
</body>
</html>

