<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap"> <!--D: bg-color02 클래스 : 뒤에 색상 들어갈 경우  -->
		<div class="headerLeft">
			<!--D: 이전버튼-->
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
	
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>이용시간</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<!--D: 전체메뉴버튼 -->
			<a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
		</div>
	</header>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">
				
				<!--D: 테이블만 변경되었습니다.-->

                <div class="tit-wrap">
                    <p class="txt">금융 서비스<strong> 이용시간</strong>을<br/>안내해 드려요</p>
                </div>

                <!-- D: 텍스트 변경  -->
                <div class="table-type table-row">
					<div class="sub-tit-wrap">
						<p class="tit">인터넷뱅킹 이용시간</p>
					</div>
					<div class="table-scroll">
						<table>
							<colgroup>
								<col width="*">
								<col width="*">
								<col width="*">
							</colgroup>
							<thead>
								<tr>
									<th scope="col" colspan="2" rowspan="2">구분</th>
									<th scope="col" colspan="2">이용시간</th>
								</tr>
								<tr>
                                    <th scope="col">평일</th>
									<th scope="col">토,일요일/공휴일</th>
								</tr>
								
							</thead>
							<tbody>
								<tr>
									<td>조회</td>
									<td>각종조회</td>
                                    <td>00:10 ~ 23:50</td>
									<td>00:10 ~ 23:50</td>
								</tr>
								<tr>
									<td>이체</td>
									<td>타행</td>
                                    <td>00:10 ~ 23:50</td>
									<td>00:10 ~ 23:50</td>
								</tr>
								<tr>
									<td>사고신고</td>
									<td></td>
                                    <td>00:00 ~ 23:59</td>
									<td>00:00 ~ 23:59</td>
								</tr>
								<tr>
									<td rowspan="2">예금</td>
									<td>신규</td>
                                    <td>00:10 ~ 23:45</td>
									<td>00:10 ~ 23:45</td>
									
								</tr>
								<tr>
									<td>해지</td>
									<td>00:10 ~ 23:45</td>
									<td>이용불가</td>
								</tr>
								<tr>
									<td rowspan="7">대출 및 상환</td>
									<td>논스톱 대출신청</td>
									<td>09:00 ~ 17:30</td>
									<td>이용불가</td>
								</tr>
								<tr>
									<td>이어서 대출신청</td>
									<td>09:00 ~ 17:30</td>
									<td>이용불가</td>
								</tr>
								<tr>
									<td>예적금담보 대출신청</td>
									<td>09:00 ~ 16:00</td>
									<td>이용불가</td>
								</tr>
                                <tr>
									<td>상담원 대출신청</td>
									<td>09:00 ~ 18:00</td>
									<td>이용불가</td>
								</tr>
                                <tr>
									<td>대출실행</td>
									<td>09:00 ~ 23:50</td>
									<td>이용불가</td>
								</tr>
								<tr>
									<td>상환</td>
									<td>00:10 ~ 23:50</td>
									<td>00:10 ~ 23:50</td>
								</tr>
                                <tr>
									<td>상계</td>
									<td>00:10 ~ 23:50</td>
									<td>이용불가</td>
								</tr>
								<tr>
									<td>고객정보 변경</td>
									<td></td>
									<td>00:10 ~ 23:50</td>
									<td>00:10 ~ 23:50</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

                <p class="info-txt">토, 일요일/공휴일에는 예/적금 해지가 불가능해요</p>
                <p class="info-txt">공동인증서 발급/재발급/갱신 및 타기관 인증서 등록 등의
					업무는 각종 조회가 가능한 시간에만 제공돼요</p>

            </div>
        </div>
        <!-- //contents -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

