<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <div class="tit-wrap">
                    <p class="txt"><strong>위법계약해지권이란?</strong></p>
					<p class="s-txt">금융회사가 판매 원칙을 위반하여 금융상품 계약을 체결한 경우, 고객님께서 해당 계약의 해지를 요구할 수 있는 제도를 말해요</p>
                </div>

                <!--D: 버튼 두개, 텍스트 변경, 클래스 변경 및 추가-->
                <div class="btn-cont-wrap mt20">
                    <a href="javascript:void(0);" class="btn btn-sm other">신청서 내려받기</a>
                    <a href="javascript:void(0);" class="btn btn-sm other">위임장 내려받기</a>
                </div>
                <!--D: 버튼 두개, 텍스트 변경, 클래스 변경 및 추가//-->

                <div class="sub-tit-wrap">
					<p class="tit">적용 가능한 상품을 안내해 드려요</p>
					<ul class="list-bull">
						<li>계속 거래중이며, 해지하면 재산상 불이익이 발생하는
							금융상품 중 다음을 제외한 경우
							<ul class="list-bull hyphen">
								<li>'온라인 투자 연계 금융업 및 이용자보호에 관한 법률'에 따른 온라인 투자 연계 금융 업자와 체결하는 계약</li>
								<li>'자본시장과 금융투자업에 관한 법률'에 따른 원화로 표시된 양동성 예금증서</li><!--D: 텍스트 수정-->
								<li>'자본시장과 금융투자업에 관한 법률 시행렬'에 따른 표지어음</li><!--D: 텍스트 추가-->
							</ul>
						</li>
					</ul>
				</div>

				<div class="sub-tit-wrap">
					<p class="tit">신청 가능한 기간을 안내해 드려요</p>
					<ul class="list-bull">
						<li>가입 상품의 계약 체결을 위한 사실을 안 날로부터
							1년 이내
							<ul class="list-bull num">
								<li><em>①</em> 단, 5년 이내 계약한 상품만 위법계약해지 신청이 가능해요</li>
							</ul>
						</li>
					</ul>
				</div>

                <!-- D:추가 -->
                <div class="sub-tit-wrap">
					<p class="tit">신청 방법을 안내해 드려요</p>
					<ul class="list-bull">
                        <li>'위법계약 해지 요구서'를 작성</li>
						<li>작성한 서류 제출
							<ul class="list-bull hyphen">
								<li>이메일 : <span>incline00@yegaramsb.co.kr</span> 또는 <span>yjchoi0218@yegaramsb.co.kr</span></li>
							</ul>
						</li>
                        <li>팩스 : 02-501-3602</li>
					</ul>
				</div>
                <!-- D:추가 //-->

                
				<div class="sub-tit-wrap">
					<p class="tit">자세한 안내를 원하시면</p>
					<ul class="list-bull">
						<li>예가람저축은행 고객센터 (1877-7788)으로 연락해 주세요</li><!-- D: 텍스트 수정 -->
					</ul>
				</div>

                <!--D:추가-->
                <p class="txt-junbub type2">담당부서 : 준법 감시팀<br/>담당자: 최윤정<br/>전화번호 : 02-6906-6065</p>
                <!--D:추가//-->

            </div>
        </div>
        <!-- //contents -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

