<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>
<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/html2canvas.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/common_bank_calc_util.js?v=20230823145344"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230823145344" id="biz_common" 
	data-menuId="etc/inq"
	data-frameId="privacy"
	data-serviceCd="privacy.frm" 
	data-serverTime="20230823145344"
	data-activeMode="local"
	data-activeEnv="WEB"
	data-deviceInfo="IOS">
</script>
<script type="text/javascript">
const getPercentage = (current, max) => ((current / max) * 100);
function initFontSize() {
	const fontSize = sessionStorage.getItem('fontSize');
	const defaultFontSize = fontSize ? fontSize : 0;
	const rangeMax = Number($('input[type=range]').attr('max'));
	const currentGradient = getPercentage(defaultFontSize, rangeMax);
	$('html').addClass('font-size-'+defaultFontSize);
	$('input[type=range]').css(
	    'background', `linear-gradient(to right, #6836CB 0%, #6836CB %, #d5d4d3 %, #d5d4d3 100%)`
	);
}
function fontSizeEvent() {
	initFontSize();
}
function onInputFn() {
	const $this = $(this);
	const html = $('html');
	const val = Number($("#textSize").val());
	const rangeMax = Number($('input[type=range]').attr('max'));
	const currentGradient = getPercentage(val, rangeMax);
	
	sessionStorage.setItem('fontSize', val);
	html.removeClass((idx, className) => (
	    (className.match(/(^|\s)font-size-\S+/g) || []).join(' ')
	));
	html.addClass('font-size-'+val);
	
	$this.css(
	    'background', `linear-gradient(to right, #6836CB 0%, #6836CB %, #d5d4d3 %, #d5d4d3 100%)`
	);
}
</script>
<script type="text/javascript">
var PageFunc = function() {
	
	var _back = function() { // 뒤로가기
		history.back();
	}
	
	var _proc = function() { // 본처리
		return true;
	}
	
	var _cancel = function() { // 그만하기
		goMainPage();
	}
	
	return {
		back : _back,
		proc : _proc,
		cancel : _cancel,
	};
}();


$(document).ready(function(){
	
});
</script>
</head>
<body>
	<!-- header -->
	<header class="headerWrap">
		<div class="header">
			<a class="btn-back" onclick="PageFunc.back();"><span class="blind">이전페이지 이동하기</span></a>
			<h2><span>개인정보처리방침</span></h2>
		</div>
		<div class="menu-wrap">
		</div>
	</header>
	<!-- //header -->
	<!-- s: contentsWrap -->
    <div class="contentsWrap">
        <!-- s: contents -->
        <div class="contents">
            <div class="default-wrap"><!--[퍼블] 클래스 변경-->
				<!-- <div class="tit-wrap mt40">
					<p class="txt">고객님께서 필요하신<br/><b>이용약관</b>을 확인해 보세요</p>
				</div> [퍼블] 삭제 -->
				<section class="tabs-wrap type-box">
                    <div class="tabs">
                        <!-- <ul class="tab-item">
                            <li class="on" data-tab="tab-cont09"><a href="javascript:void(0);">개인정보<br/> 처리방침</a></li>
                            <li data-tab="tab-cont10" class=""><a href="javascript:void(0);">개인(신용)정보<br/> 수집·이용·제공</a></li>
                            <li data-tab="tab-cont11" class=""><a href="javascript:void(0);">개인(신용)정보<br/> 제3자 제공 동의</a></li>
                        	<li data-tab="tab-cont11"><a href="javascript:void(0);">개인(신용)정보<br/> 수집 제공 동의</a></li>
						</ul> 2023-09-26 고객요청으로 주석처리 -->
                        <div class="tab-content-area">
                            <div id="tab-cont09" class="">
                                <div class="info-wrap"><!--D:약관 불러 올 경우 info-wrap 사용-->
									<iframe src="/resources/pdfjs/web/viewer.html?file=/resources/terms/P00002.pdf" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div>
                            <!-- <div id="tab-cont10" class="">
                                <div  class="info-wrap">
									<iframe src="/resources/pdfjs/web/viewer.html?file=/resources/terms/P00002.pdf" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div>
                            <div id="tab-cont11" class="">
                                <div  class="info-wrap">
									<iframe src="/resources/pdfjs/web/viewer.html?file=/resources/terms/P00001.pdf" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div>
                            <div id="tab-cont12" class="">
                                <div  class="info-wrap">
									<iframe src="/resources/pdfjs/web/viewer.html?file=/resources/terms/P00003.pdf" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div> 2023-09-26 고객요청으로 주석처리 -->
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <!-- //e: contents -->

    </div>
    <!-- e: contentsWrap -->
					
</body>
</html>
