<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover"> -->
	<meta name="viewport" content="user-scalable=no,width=375">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">

                <!--D: 클래스 변경 및 추가 됩니다. 개발기준 소스로 진행하나 PDF는 추후에 변경될 수 있습니다.-->
                <section class="tabs-wrap type2"><!--D:type2클래스 변경 -->
                    <div class="tabs">
                        <ul class="tab-item square col-02"><!--D:square col-03 클래스로 변경 -->
                            <li class="on" data-tab="tab-cont09"><a href="#none">개인(신용)정보<br/> 수집·이용 동의</a></li> <!-- P00004 -->
                            <li data-tab="tab-cont10" class=""><a href="#none">개인(신용)정보<br/> 조회 동의</a></li> <!-- P00007 -->
                            <!-- <li data-tab="tab-cont11" class=""><a href="#none">개인(신용)정보<br/> 제공 동의</a></li> -->
						</ul>

                        <div class="tab-content-area">
                            <div id="tab-cont09" class="">
                                <div  class="info-wrap"><!--D:약관 불러 올 경우 info-wrap 사용-->
									<iframe src="" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div>
                            <div id="tab-cont10" class="dp-none">
                                <div  class="info-wrap"><!--D:약관 불러 올 경우 info-wrap 사용-->
									<iframe src="" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div>
                            <!-- <div id="tab-cont11" class="dp-none">
                                <div  class="info-wrap">
									<iframe src="/resources/pdfjs/web/viewer.html?file=/resources/terms/P00005.pdf" style="width:100%; height:100%;"></iframe>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <!-- //contents -->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

